<%- include('../layouts/dashboardHeader') %>
<%- include('../layouts/brandsHeader') %>
    <!-- partial:partials/_header.html -->
     <!-- Chart CDN Script link -->
      <!-- Chart.js CDN -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <nav class="t-header">
      <div class="t-header-brand-wrapper">
        <a href="/admin/dashboard">
          <img class="logo" src="/assets/logo.png" >
          <img class="logo-mini" src="/assets/images/logo_mini.png" >
        </a>
      </div>
      <div class="t-header-content-wrapper">
        <div class="t-header-content d-flex justify-content-between align-items-center">
            <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
                <i class="mdi mdi-menu"></i>
            </button>
            <form action="#" class="t-header-search-box d-flex align-items-center">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search" autocomplete="off">
                <button class="btn btn-primary" type="submit"><i class="mdi mdi-arrow-right-thick"></i></button>
            </form>
            <ul class="nav align-items-center ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="notificationDropdown" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-bell-outline mdi-1x"></i>
                    </a>
                    <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="notificationDropdown">
                        <!-- Dropdown content here -->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-message-outline mdi-1x"></i>
                        <span class="notification-indicator notification-indicator-primary notification-indicator-ripple"></span>
                    </a>
                    <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="messageDropdown">
                        <!-- Dropdown content here -->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="appsDropdown" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-apps mdi-1x"></i>
                    </a>
                    <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="appsDropdown">
                        <!-- Dropdown content here -->
                    </div>
                </li>
            </ul>
        </div>
    </div>    
      </div>
    </nav>
    <!-- partial -->
    <div class="page-body">
      <!-- partial:partials/_sidebar.html -->
      <div class="sidebar">
        <div class="user-profile">
          <div class="display-avatar animated-avatar">
            <img class="profile-img img-lg rounded-circle" src="/assets/images/profile/male/image_1.png" alt="profile image">
          </div>
          <div class="info-wrapper">
            <p class="user-name">Irfan Nisar</p>
            <h6 class="display-income">₹3,400,00</h6>
          </div>
        </div>
        <ul class="navigation-menu">
          <li class="nav-category-divider">MAIN</li>
          <li>
            <a href="/admin/userManage">
              <span class="link-title">Users</span>
              <i class="mdi mdi-account-multiple link-icon"></i>
            </a>
          </li>
          <li>
            <a href="#brands" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">Brands</span>
                <i class="mdi mdi-tag-multiple link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="brands">
                <li>
                    <a href="/admin/brandsManage">List brands</a>
                </li>
                <li>
                    <a href="/admin/addBrands">Add brands</a>
                </li>
                <li>
                    <a href="/admin/editBrands">Edit brands</a>
                </li>
            </ul>
        </li>        
          <li>
            <a href="#orders" data-toggle="collapse" aria-expanded="false">
              <span class="link-title">Orders</span>
              <i class="mdi mdi-cart link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="orders">
              <li>
                <a href="/admin/orderManage" target="_blank">Order Manage</a>
              </li>
              <li>
                <a href="pages/sample-pages/login_1.html" target="_blank">Order Status Edit</a>
              </li>
              <li>
                <a href="pages/sample-pages/error_2.html" target="_blank">Order Details</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#offers" data-toggle="collapse" aria-expanded="false">
              <span class="link-title">Offers</span>
              <i class="mdi mdi-cart link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="offers">
              <li>
                <a href="/admin/offerManage" target="_blank">Offer Manage</a>
              </li>
              <li>
                <a href="/admin/addOffer" target="_blank">Add Offer</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#products" data-toggle="collapse" aria-expanded="false">
              <span class="link-title">Products</span>
              <i class="mdi mdi-package-variant-closed link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="products">
              <li>
                <a href="/admin/productManage">Product Listed</a>
              </li>
              <li>
                <a href="/admin/editProduct">Product Edit</a>
              </li>
              <li>
                <a href="/admin/addProduct">Product Add</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#banners" data-toggle="collapse" aria-expanded="false">
              <span class="link-title">Banners</span>
              <i class="mdi mdi-flag-variant link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="banners">
              <li>
                <a href="pages/ui-components/tables.html">Banners Add</a>
              </li>
              <li>
                <a href="pages/ui-components/buttons.html">Banners Unlisted</a>
              </li>
              <li>
                <a href="pages/ui-components/tables.html">Banners Edit</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#coupons" data-toggle="collapse" aria-expanded="false">
              <span class="link-title">Coupons</span>
              <i class="mdi mdi-ticket-percent link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="coupons">
              <li>
                <a href="/admin/couponManage">Coupons Manage</a>
              </li>
              <li>
                <a href="/admin/addCouponPage">Coupons Add</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/admin/salesReport">
              <span class="link-title">Reports</span>
              <i class="mdi mdi-chart-bar link-icon"></i>
            </a>
          </li>
          <!-- Logout button -->
      <li>
        <a href="/admin/logout">
          <span class="link-title">Logout</span>
          <i class="mdi mdi-logout link-icon"></i>
        </a>
      </li>
        </ul>
      </div>
      <!-- partial -->
      <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div class="col-12 pb-3">
                <h4>Dashboard</h4>
                <p class="text-gray">Welcome to Dashboard, Irfan</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6 col-6 equel-grid">
                <div class="grid">
                  <div class="grid-body text-gray">
                    <div class="d-flex justify-content-between">
                      <p><%= userCount %></p>
                      <script src="https://cdn.lordicon.com/lordicon.js"></script>
                      <lord-icon
                          src="https://cdn.lordicon.com/kndkiwmf.json"
                          trigger="in"
                          delay="100"
                          stroke="bold"
                          state="in-reveal"
                          colors="primary:#121331,secondary:#5f61de"
                          style="width:30px;height:30px">
                      </lord-icon>
                    </div>
                    <p class="text-black">Users</p>
                    <div class="wrapper w-50 mt-4">
                      <canvas height="45" id="stat-line_1"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-6 equel-grid">
                <div class="grid">
                  <div class="grid-body text-gray">
                    <div class="d-flex justify-content-between">
                      <p><%= orderCount %></p>
                      <lord-icon
                        src="https://cdn.lordicon.com/taymdfsf.json"
                        trigger="in"
                        delay="100"
                        stroke="bold"
                        state="in-oscillate"
                        colors="primary:#121331,secondary:#5f61de"
                        style="width:30px;height:30px">
                    </lord-icon>
                    </div>
                    <p class="text-black">Orders</p>
                    <div class="wrapper w-50 mt-4">
                      <canvas height="45" id="stat-line_2"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-6 equel-grid">
                <div class="grid">
                  <div class="grid-body text-gray">
                    <div class="d-flex justify-content-between">
                      <p><%= returnedOrderCount %></p>
                      <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/fyxgoiep.json"
                        trigger="in"
                        delay="100"
                        stroke="bold"
                        state="in-reveal"
                        colors="primary:#121331,secondary:#5f61de"
                        style="width:30px;height:30px">
                    </lord-icon>
                    </div>
                    <p class="text-black">Returns</p>
                    <div class="wrapper w-50 mt-4">
                      <canvas height="45" id="stat-line_3"></canvas>
                    </div>
                  </div>
                </div>                
              </div>
              <div class="col-md-3 col-sm-6 col-6 equel-grid">
                <div class="grid">
                  <div class="grid-body text-gray">
                    <div class="d-flex justify-content-between">
                      <p><%= productCount %></p>
                      <script src="https://cdn.lordicon.com/lordicon.js"></script>
                      <lord-icon
                      src="https://cdn.lordicon.com/rmjnvgsm.json"
                      trigger="in"
                      delay="100"
                      stroke="bold"
                      colors="primary:#121331,secondary:#5f61de"
                      style="width:30px;height:30px">
                    </lord-icon>
                    </div>
                    <p class="text-black">Total Products</p>
                    <div class="wrapper w-50 mt-4">
                      <canvas height="45" id="stat-line_4"></canvas>
                    </div>
                  </div>
                </div>                
              </div>             
              <!-- Order Statistics -->
              <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                <div class="card h-100">
                  <div class="card-header d-flex align-items-center justify-content-between pb-0">
                    <div class="card-title mb-0">
                      <h5 class="m-0 me-2">Order Statistics</h5>
                      <small class="text-muted"><%= totalSales %>k Total Sales</small>
                    </div>
                    <div class="dropdown">
                      <button
                        class="btn p-0"
                        type="button"
                        id="orederStatistics"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                        <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                        <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                        <a class="dropdown-item" href="javascript:void(0);">Share</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <div class="d-flex flex-column align-items-start gap-1">
                        <h2 class="mb-2"><%= orderCount %></h2>
                        <span>Total Orders</span>
                      </div>
                      <div id="orderStatisticsChart"></div>
                    </div>
                    <ul class="order-list" style="max-height: 250px; overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none; padding-left: 0;">
                      <style>
                        .order-list::-webkit-scrollbar {
                          display: none;
                        }
                      </style>
                    
                      <% if (orders.length > 0) { %>
                        <% orders.forEach((order) => { %>
                          <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                              <span class="avatar-initial rounded bg-label-success">
                                <img src="/assets/img/brands/<%= order.orderItems[0].image[0] %>" alt="<%= order.orderItems[0].productName %>" class="rounded">
                              </span>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                              <div class="me-2">
                                <h6 class="mb-0">
                                  <% 
                                    const shortenedName = order.orderItems[0].productName.length > 20 
                                      ? order.orderItems[0].productName.substring(0, 20) + '...' 
                                      : order.orderItems[0].productName;
                                  %>
                                  <%= shortenedName %>
                                </h6>
                                <small class="text-muted">Quantity: <%= order.orderItems[0].quantity %></small>
                              </div>
                              <div class="user-progress">
                                <small class="fw-semibold">₹<%= order.totalAmount %></small>
                              </div>
                            </div>
                          </li>
                        <% }); %>
                      <% } else { %>
                        <li>
                          <p>No orders found.</p>
                        </li>
                      <% } %>
                    </ul>                    
                  </div>
                </div>
              </div>
              <div class="col-md-8 grid-margin">
                <div class="card">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-6">
                        <h5>TOP SELLING</h5>
                      </div>
                      <div class="col-6 text-right">
                        <div class="btn-group" role="group">
                          <button type="button" class="btn custom-size" onclick="showTable('product')" style="background-color: #5f61de; color: white;" >Product</button>
                          <button type="button" class="btn custom-size" onclick="showTable('brand')" style="background-color: lightgray; color: white;" >Brand</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <% if (topProduct.length > 0) { %>
                  <table class="table mt-50" id="productTable" style="display: table; width: 100%; max-height: 370px; overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none;">
                    <style>
                      #productTable::-webkit-scrollbar {
                        display: none;
                      }
                    </style>
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">NO</th>
                        <th scope="col">PRODUCT NAME</th>
                        <th scope="col">COUNT</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% topProduct.forEach((item, index) => { %>
                        <tr>
                          <th scope="row"><%= index + 1 %></th>
                          <td><%= item._id %></td>
                          <td><%= item.count %></td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                  <% } %>
                  
                  <% if (topBrand.length > 0) { %>
                    <table class="table mt-50" id="brandTable" style="display: none; width: 100%; max-height: 300px; overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none;">
                      <style>
                        #brandTable::-webkit-scrollbar {
                          display: none;
                        }
                      </style>
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">NO</th>
                          <th scope="col">BRAND NAME</th>
                          <th scope="col">COUNT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% topBrand.forEach((item, index) => { %>
                          <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td><%= item.brandName %></td>
                            <td><%= item.count %></td>
                          </tr>
                        <% }) %>
                    </tbody>
                  </table>
                  <% } %>
                </div>
              </div>              
            </div>
              <div class="row"> <!-- Start of Row -->

                <!-- Pie Chart Section -->
                <div class="col-md-6"> <!-- Column for Pie Chart -->
                  <div class="card">
                    <div class="card-body">
                      <canvas id="orderStatusPieChart" style="width:100%; max-width:550px; height: 310px;"></canvas>
                    </div>
                  </div>
                </div>
              
                <!-- Server Load Section -->
                <div class="col-md-6"> <!-- Column for Server Load -->
                  <div class="card widget-revenue-card">
                    <div class="card-body d-flex flex-column h-100">
                      <div class="split-header">
                        <p class="card-title">Server Load</p>
                        <div class="content-wrapper v-centered">
                          <small class="text-muted">2h ago</small>
                          <span class="btn action-btn btn-refresh btn-xs component-flat">
                            <i class="mdi mdi-autorenew text-muted mdi-2x"></i>
                          </span>
                        </div>
                      </div>
                      <div class="mt-auto">
                        <canvas id="cpu-performance" height="80"></canvas>
                        <h3 class="font-weight-medium mt-4">69.05%</h3>
                        <p class="text-gray">Storage is getting full</p>
                        <div class="w-50">
                          <div class="d-flex justify-content-between text-muted mt-3">
                            <small>Usage</small> <small>35.62 GB / 2TB</small>
                          </div>
                          <div class="progress progress-slim mt-2">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 68%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
              </div> <!-- End of Row -->
              
              </div>
            </div>
          </div>
        </div>
        <!-- partial -->
      </div>
      <!-- page content ends -->
    </div>
    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <!-- Page JS -->
     <script>
  // Pie Chart script Start
  const usersCount = 150;
      const totalOrders = 200;
      const completedOrders = 120;
      const returnedOrders = 30;

      // Get the canvas context
      const ctx = document.getElementById('orderStatusPieChart').getContext('2d');

      // Create gradient colors for each segment
      const blueGradient = ctx.createLinearGradient(0, 0, 0, 400);
      blueGradient.addColorStop(0, 'rgba(58, 123, 213, 0.5)');
      blueGradient.addColorStop(1, 'rgba(58, 123, 213, 0.9)');

      const orangeGradient = ctx.createLinearGradient(0, 0, 0, 400);
      orangeGradient.addColorStop(0, 'rgba(255, 159, 64, 0.5)');
      orangeGradient.addColorStop(1, 'rgba(255, 159, 64, 0.9)');

      const greenGradient = ctx.createLinearGradient(0, 0, 0, 400);
      greenGradient.addColorStop(0, 'rgba(76, 175, 80, 0.5)');
      greenGradient.addColorStop(1, 'rgba(76, 175, 80, 0.9)');

      const redGradient = ctx.createLinearGradient(0, 0, 0, 400);
      redGradient.addColorStop(0, 'rgba(255, 87, 34, 0.5)');
      redGradient.addColorStop(1, 'rgba(255, 87, 34, 0.9)');

      // Create gradients for hover effect
      const blueHoverGradient = ctx.createLinearGradient(0, 0, 0, 400);
      blueHoverGradient.addColorStop(0, 'rgba(58, 123, 213, 0.7)');
      blueHoverGradient.addColorStop(1, 'rgba(58, 123, 213, 1)');

      const orangeHoverGradient = ctx.createLinearGradient(0, 0, 0, 400);
      orangeHoverGradient.addColorStop(0, 'rgba(255, 159, 64, 0.7)');
      orangeHoverGradient.addColorStop(1, 'rgba(255, 159, 64, 1)');

      const greenHoverGradient = ctx.createLinearGradient(0, 0, 0, 400);
      greenHoverGradient.addColorStop(0, 'rgba(76, 175, 80, 0.7)');
      greenHoverGradient.addColorStop(1, 'rgba(76, 175, 80, 1)');

      const redHoverGradient = ctx.createLinearGradient(0, 0, 0, 400);
      redHoverGradient.addColorStop(0, 'rgba(255, 87, 34, 0.7)');
      redHoverGradient.addColorStop(1, 'rgba(255, 87, 34, 1)');

      // Data for the pie chart
      const data = {
        labels: ["Users", "Total Orders", "Completed Orders", "Returned Orders"],
        datasets: [{
          label: "Choco Heaven Dashboard Statistics",
          data: [usersCount, totalOrders, completedOrders, returnedOrders],
          backgroundColor: [
            blueGradient,  // Users - Blue gradient
            orangeGradient,  // Total Orders - Orange gradient
            greenGradient,   // Completed Orders - Green gradient
            redGradient    // Returned Orders - Red gradient
          ],
          hoverBackgroundColor: [
            blueHoverGradient,  // Users - Blue gradient on hover
            orangeHoverGradient,  // Total Orders - Orange gradient on hover
            greenHoverGradient,   // Completed Orders - Green gradient on hover
            redHoverGradient    // Returned Orders - Red gradient on hover
          ],
          hoverBorderColor: "#ffffff", // White border on hover for pop effect
          hoverBorderWidth: 4,
          hoverOffset: 20, // Offset on hover for 3D effect
          borderWidth: 2, // Thinner borders for a sleek look
        }]
      };

      // Configurations for the pie chart with animation and shadow effects
      const config = {
        type: 'pie',
        data: data,
        options: {
          responsive: true,
          animation: {
            animateScale: true, // Adds scale animation
            animateRotate: true, // Adds rotation animation
            duration: 2000,  // Animation duration
            easing: 'easeOutCubic', // Smooth cubic easing effect
          },
          plugins: {
            legend: {
              position: 'top',
              labels: {
                font: {
                  size: 14,
                  weight: '600'
                },
                color: '#333'
              }
            },
            tooltip: {
              backgroundColor: 'rgba(255, 255, 255, 0.9)', // Light background for tooltips
              titleColor: '#000',
              bodyColor: '#000',
              borderWidth: 1,
              borderColor: '#ddd',
              displayColors: false,
              bodyFont: {
                size: 14,
                weight: 'bold'
              }
            },
          },
          elements: {
            arc: {
              borderWidth: 2,
              borderColor: 'rgba(0, 0, 0, 0.1)', // Subtle shadow effect for depth
              hoverBorderWidth: 4,
              hoverBorderColor: '#ffffff', // White border on hover for 3D effect
              hoverOffset: 15, // Adds 3D effect on hover
            }
          },
          layout: {
            padding: 20
          }
        }
      };

      // Render the pie chart
      new Chart(ctx, config);
  // Pie Chart script End
       document.addEventListener('DOMContentLoaded', function() {
      showTable('category');
      fetchOrderStatusCounts();

      function fetchOrderStatusCounts() {
        fetch('/admin/orderStatuses')
          .then(response => response.json())
          .then(data => updatePieChart(data.status, data.category, data.perDay))
          .catch(error => console.error('Error:', error));
        }
      });

//! top selling table show >>>
function showTable(tableType) {
  // Initially hide both tables
  document.getElementById('productTable').style.display = 'none';
  document.getElementById('brandTable').style.display = 'none';
  
  // Display the selected table
  if (tableType === 'product') {
    document.getElementById('productTable').style.display = 'table';
  } else if (tableType === 'brand') {
    document.getElementById('brandTable').style.display = 'table';
  }
}

// Ensure product table is visible by default on page load
document.addEventListener('DOMContentLoaded', function() {
  showTable('product');
});
     </script>
    <script src="/assets/js/dashboards-analytics.js"></script>
    <script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <%- include('../layouts/dashboardFooter') %>