<%- include('../layouts/salesReportHeader') %>
<%- include('../layouts/addProductHeader') %>
<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<nav class="t-header">
  <div class="t-header-brand-wrapper">
    <a href="/admin/dashboard">
      <img class="logo" src="/assets/logo.png" >
      <img class="logo-mini" src="/assets/images/logo_mini.png" >
    </a>
  </div>
  <div class="t-header-content-wrapper">
    <div class="t-header-content">
      <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
        <i class="mdi mdi-menu"></i>
      </button>
      <form action="#" class="t-header-search-box">
        <div class="input-group">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search" autocomplete="off">
          <button class="btn btn-primary" type="submit"><i class="mdi mdi-arrow-right-thick"></i></button>
        </div>
      </form>
      <ul class="nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="notificationDropdown" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-bell-outline mdi-1x"></i>
          </a>
          <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="notificationDropdown">
            <div class="dropdown-header">
              <h6 class="dropdown-title">Notifications</h6>
              <p class="dropdown-title-text">You have 4 unread notifications</p>
            </div>
            <div class="dropdown-body">
              <div class="dropdown-list">
                <div class="icon-wrapper rounded-circle bg-inverse-primary text-primary">
                  <i class="mdi mdi-alert"></i>
                </div>
                <div class="content-wrapper">
                  <small class="name">Storage Full</small>
                  <small class="content-text">Server storage almost full</small>
                </div>
              </div>
              <div class="dropdown-list">
                <div class="icon-wrapper rounded-circle bg-inverse-success text-success">
                  <i class="mdi mdi-cloud-upload"></i>
                </div>
                <div class="content-wrapper">
                  <small class="name">Upload Completed</small>
                  <small class="content-text">3 Files uploaded successfully</small>
                </div>
              </div>
              <div class="dropdown-list">
                <div class="icon-wrapper rounded-circle bg-inverse-warning text-warning">
                  <i class="mdi mdi-security"></i>
                </div>
                <div class="content-wrapper">
                  <small class="name">Authentication Required</small>
                  <small class="content-text">Please verify your password to continue using cloud services</small>
                </div>
              </div>
            </div>
            <div class="dropdown-footer">
              <a href="#">View All</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-message-outline mdi-1x"></i>
            <span class="notification-indicator notification-indicator-primary notification-indicator-ripple"></span>
          </a>
          <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="messageDropdown">
            <div class="dropdown-header">
              <h6 class="dropdown-title">Messages</h6>
              <p class="dropdown-title-text">You have 4 unread messages</p>
            </div>
            <div class="dropdown-body">
              <div class="dropdown-list">
                <div class="image-wrapper">
                  <img class="profile-img" src="/assets/images/profile/male/image_1.png" alt="profile image">
                  <div class="status-indicator rounded-indicator bg-success"></div>
                </div>
                <div class="content-wrapper">
                  <small class="name">Clifford Gordon</small>
                  <small class="content-text">Lorem ipsum dolor sit amet.</small>
                </div>
              </div>
              <div class="dropdown-list">
                <div class="image-wrapper">
                  <img class="profile-img" src="/assets/images/profile/female/image_2.png" alt="profile image">
                  <div class="status-indicator rounded-indicator bg-success"></div>
                </div>
                <div class="content-wrapper">
                  <small class="name">Rachel Doyle</small>
                  <small class="content-text">Lorem ipsum dolor sit amet.</small>
                </div>
              </div>
              <div class="dropdown-list">
                <div class="image-wrapper">
                  <img class="profile-img" src="/public/assets/images/profile/male/image_3.png" alt="profile image">
                  <div class="status-indicator rounded-indicator bg-warning"></div>
                </div>
                <div class="content-wrapper">
                  <small class="name">Lewis Guzman</small>
                  <small class="content-text">Lorem ipsum dolor sit amet.</small>
                </div>
              </div>
            </div>
            <div class="dropdown-footer">
              <a href="#">View All</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="appsDropdown" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-apps mdi-1x"></i>
          </a>
          <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="appsDropdown">
            <div class="dropdown-header">
              <h6 class="dropdown-title">Apps</h6>
              <p class="dropdown-title-text mt-2">Authentication required for 3 apps</p>
            </div>
            <div class="dropdown-body border-top pt-0">
              <a class="dropdown-grid">
                <i class="grid-icon mdi mdi-jira mdi-2x"></i>
                <span class="grid-title">Jira</span>
              </a>
              <a class="dropdown-grid">
                <i class="grid-icon mdi mdi-trello mdi-2x"></i>
                <span class="grid-title">Trello</span>
              </a>
              <a class="dropdown-grid">
                <i class="grid-icon mdi mdi-artstation mdi-2x"></i>
                <span class="grid-title">Artstation</span>
              </a>
              <a class="dropdown-grid">
                <i class="grid-icon mdi mdi-bitbucket mdi-2x"></i>
                <span class="grid-title">Bitbucket</span>
              </a>
            </div>
            <div class="dropdown-footer">
              <a href="#">View All</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- partial -->
<div class="page-body">
  <!-- partial:partials/_sidebar.html -->
  <div class="sidebar">
    <div class="user-profile">
      <div class="display-avatar animated-avatar">
        <img class="profile-img img-lg rounded-circle" src="/assets/images/profile/male/image_1.png" alt="profile image">
      </div>
      <div class="info-wrapper">
        <p class="user-name">Irfan Nisar</p>
        <h6 class="display-income">₹3,400,00</h6>
      </div>
    </div>
    <ul class="navigation-menu">
      <li class="nav-category-divider">MAIN</li>
      <li>
        <a href="/admin/userManage">
          <span class="link-title">Users</span>
          <i class="mdi mdi-account-multiple link-icon"></i>
        </a>
      </li>
      <li>
        <a href="#brands" data-toggle="collapse" aria-expanded="false">
            <span class="link-title">Brands</span>
            <i class="mdi mdi-tag-multiple link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="brands">
            <li>
                <a href="/admin/brandsManage">List brands</a>
            </li>
            <li>
                <a href="/admin/addBrands">Add brands</a>
            </li>
            <li>
                <a href="/admin/editBrands">Edit brands</a>
            </li>
        </ul>
    </li>        
      <li>
        <a href="#orders" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">Orders</span>
          <i class="mdi mdi-cart link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="orders">
          <li>
            <a href="/admin/orderManage" target="_blank">Order Manage</a>
          </li>
          <li>
            <a href="pages/sample-pages/login_1.html" target="_blank">Order Status Edit</a>
          </li>
          <li>
            <a href="pages/sample-pages/error_2.html" target="_blank">Order Details</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#offers" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">Offers</span>
          <i class="mdi mdi-cart link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="offers">
          <li>
            <a href="/admin/offerManage" target="_blank">Offer Manage</a>
          </li>
          <li>
            <a href="/admin/addOffer" target="_blank">Add Offer</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#products" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">Products</span>
          <i class="mdi mdi-package-variant-closed link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="products">
          <li>
            <a href="/admin/productManage">Product Listed</a>
          </li>
          <li>
            <a href="/admin/editProduct">Product Edit</a>
          </li>
          <li>
            <a href="/admin/addProduct">Product Add</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#banners" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">Banners</span>
          <i class="mdi mdi-flag-variant link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="banners">
          <li>
            <a href="pages/ui-components/tables.html">Banners Add</a>
          </li>
          <li>
            <a href="pages/ui-components/buttons.html">Banners Unlisted</a>
          </li>
          <li>
            <a href="pages/ui-components/tables.html">Banners Edit</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#coupons" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">Coupons</span>
          <i class="mdi mdi-ticket-percent link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="coupons">
          <li>
            <a href="/admin/couponManage">Coupons Manage</a>
          </li>
          <li>
            <a href="/admin/addCouponPage">Coupons Add</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/admin/salesReport">
          <span class="link-title">Reports</span>
          <i class="mdi mdi-chart-bar link-icon"></i>
        </a>
      </li>
      <!-- Logout button -->
  <li>
    <a href="/admin/logout">
      <span class="link-title">Logout</span>
      <i class="mdi mdi-logout link-icon"></i>
    </a>
  </li>
    </ul>
  </div>
 
  <div class="container page-content-wrapper">
    <div class="page-content-wrapper-inner">
        <div class="col-12 pb-3">
            <h4>Sales Report</h4>
            <p class="text-gray">Review and Manage sales report.</p>
        </div>
        <div class="content-viewport">
            <div class="d-flex justify-content-between">
                <div>
                  <!-- <button class="btn btn-info dropdown-toggle custom-size" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" data-target="Daily" data-interval="daily">Daily</a>
                    <a class="dropdown-item" href="#" data-target="Weekly" data-interval="weekly">Weekly</a>
                    <a class="dropdown-item" href="#" data-target="Monthly" data-interval="monthly">Monthly</a>
                    <a class="dropdown-item" href="#" data-target="Yearly" data-interval="yearly">Yearly</a>
                </div>-->
                  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    Select
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#" data-target="Daily" data-interval="daily">Daily</a></li>
                    <li><a class="dropdown-item" href="#" data-target="Weekly" data-interval="weekly">Weekly</a></li>
                    <li><a class="dropdown-item" href="#" data-target="Monthly" data-interval="monthly">Monthly</a></li>
                    <li><a class="dropdown-item" href="#" data-target="Yearly" data-interval="yearly">Yearly</a></li>
                  </ul>
                <div id="dropdown-error-message" style="display:none; color: red;"></div>
                <button type="button" class="btn btn-secondary custom-size" data-toggle="modal" data-target="#basicModal" data-whatever="@mdo">Custom</button>
                     <!-- modal -->
                     <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <h4 class="text-center" id="">Select Costom Date</h4>
                            <form id="custom-date-form">
                              <div class="row justify-content-center">
                                  <div class="form-group col-sm-4" style="padding: 0;">
                                      <input type="date" class="form-control" id="start-date">
                                  </div>
                                  <div class="form-group col-sm-4" style="padding: 0; margin-left: 4px;" >
                                      <input type="date" class="form-control" id="end-date">
                                  </div>
                                  <div class="form-group col-sm-2" >
                                      <button type="submit" class="btn btn-info custom-size">Search</button>
                                  </div>
                              </div>  
                          </form>
                          <div id="error-message" class="alert alert-danger" style="display:none;"></div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="d-flex justify-content-end align-items-center">
                    <button type="button" class="btn custom-size d-flex align-items-center mr-2" id="downloadPdfBtn" onclick="downloadPDF('salesReport')">
                        <lord-icon
                            src="https://cdn.lordicon.com/lyrrgrsl.json"
                            trigger="hover"
                            colors="primary:#000000"
                            style="width:23px;height:23px">
                        </lord-icon> 
                        <span class="ml-1">PDF</span>
                    </button>
                    <button type="button" class="btn custom-size d-flex align-items-center" id="excelDownloadBtn" onclick="downloadExcel()">
                        <lord-icon
                            src="https://cdn.lordicon.com/zrtfxghu.json"
                            trigger="hover"
                            colors="primary:#000000"
                            style="width:23px;height:23px">
                        </lord-icon>
                        <span class="ml-1">Excel</span>
                    </button>
                </div>                
            <br>
            <div class="row" id="salesReport">
              <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                      <h4 class="card-title mt-4 text-center">Sales Report</h4>
                      <div class="card-body">
                          <% if (salesReport && salesReport.length > 0) { %>
                              <div id="sales-legend" class="chartjs-legend mt-1 mb-2">
                                  <div class="table-responsive">
                                      <table class="table table-striped">
                                          <thead class="cart-table-head">
                                              <tr>
                                                  <th>Order Id</th>
                                                  <th>Order Date</th>
                                                  <th>User Name</th>
                                                  <th>Phone</th>
                                                  <th>Product Name</th>
                                                  <th>Brand ID</th>
                                                  <th>Order Status</th>
                                                  <th>Price</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                            <% for (let i =0 ; i < salesReport.length ; i++){ %>
                                                  <tr>
                                                      <td class="" data-label="Order Id"><%= salesReport[i]._id.slice(-8) %></td>
                                                      <td class="" data-label="Order Date"> <%= new Date(salesReport[i].orderDate ).toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' }) %></td>
                                                      <td class="" data-label="User Name"><%= salesReport[i].address.Name %></td>
                                                      <td class="" data-label="Phone"> <%= salesReport[i].address.Mobile %></td>
                                                      <td class="" data-label="Product Name">
                                                        <% for (let j = 0; j < salesReport[i].orderItems.length; j++) { %> 
                                                          <p><%= salesReport[i].orderItems[j].productName.substring(0, 40) + (salesReport[i].orderItems[j].productName.length > 10 ? "..." : "") %></p>
                                                        <% } %>
                                                      </td>                                                      
                                                      <td class="" data-label="Brand ID">
                                                        <% for (let j =0 ; j < salesReport[i].orderItems.length ; j++ ){ %> 
                                                          <p><%= salesReport[i].orderItems[j].brandId.slice(-9) +"..." %></p>
                                                        <% } %>
                                                      </td>
                                                      <td  class="" data-label="Status"><%= salesReport[i].orderStatus %></td>
                                                      <td class="" data-label="Total Amount">₹<%= salesReport[i].totalAmount %></td>
                                                  </tr>
                                                  <% } %>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                              <nav aria-label="Page navigation example">
                                  <ul class="pagination justify-content-center">
                                      <% for (let i = 1; i <= totalPages; i++) { %>
                                          <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                              <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                          </li>
                                      <% } %>
                                  </ul>
                              </nav>
                          <% } else { %>
                              <h3 class="text-center">No data found</h3>
                          <% } %>
                      </div>
                  </div>
              </div>
          </div>          
         
<!-- jQuery (full version) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  var currentDate = new Date();
  var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
  var formattedDate = currentDate.toLocaleDateString('en-US', options);

var currentDateElement = document.getElementById('currentDate');
if (currentDateElement) {
    currentDateElement.textContent = formattedDate;
}

$(document).ready(function() {
      // Handle dropdown selection
      $('.dropdown-item').click(function(e) {
          e.preventDefault();  
          var selectedText = $(this).attr('data-target'); 
          $('#dropdownMenuButton').text(selectedText); 
          $('#dropdownMenuButton').dropdown('toggle');

          // Fetch sales data based on the selected interval
          const interval = $(this).attr('data-interval');
          fetchSalesData(interval);
      });
  // changing sales report
  document.querySelectorAll('.dropdown-item').forEach(item => {
        item.addEventListener('click', function(event) {
          event.preventDefault();
          const interval = this.getAttribute('data-interval');
          fetchSalesData(interval);
        });
      });


      // Handle custom date form submission
      document.getElementById('custom-date-form').addEventListener('submit', function(event) {
          event.preventDefault();
          if (!validDate(event)) {
              return;
          }
          const startDate = document.getElementById('start-date').value;
          const endDate = document.getElementById('end-date').value;
          fetchSalesDataByDate(startDate, endDate);
      });

      function fetchSalesDataByDate(startDate, endDate) {
        fetch(`/admin/salesReport?startDate=${startDate}&endDate=${endDate}`)
          .then(response => response.json())
          .then(data => {
              updateSalesTable(data.salesReport);
          }).then(()=>{ 
            $('#basicModal').modal('hide');
          })
          .catch(error => console.error('Error:', error));
      }

      function fetchSalesData(interval) {
        fetch(`/admin/salesReport?interval=${interval}`)
          .then(response => response.json())
          .then(data => {
            updateSalesTable(data.salesReport);
          })
          .catch(error => console.error('Error:', error));
      }


      // Validate custom date input
      function validDate(event) {
          event.preventDefault(); 

          var startDate = document.getElementById('start-date').value;
          var endDate = document.getElementById('end-date').value;
          var currentDate = new Date().toISOString().split('T')[0]; 

          var errorMessage = '';
          if (startDate > currentDate || endDate > currentDate) {
              errorMessage = 'Dates cannot be in the future.';
          } else if (startDate > endDate) {
              errorMessage = 'Start date cannot be later than end date.';
          }

          if (errorMessage) {
              document.getElementById('error-message').style.display = 'block';
              document.getElementById('error-message').textContent = errorMessage;
              return false;
          } else {
              document.getElementById('error-message').style.display = 'none';
              return true;
          }
      }

      // Update sales table (stub function, replace with your actual implementation)
      function updateSalesTable(salesReport, totalPages, currentPage) {
          // Your code to update the table goes here
      }
  });

  function updateSalesTable(salesReport) {
    const tbody = document.querySelector('. table tbody');
    tbody.innerHTML = ''; // Clear existing table rows

    // Loop through salesReport to generate table rows
    salesReport.forEach(report => {
        const row = `
            <tr class="table-body-row">
                <td data-label="Order Id">${report._id.slice(-8)}</td>
                <td data-label="Order Date">${new Date(report.orderDate).toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' })}</td>
                <td data-label="User Name">${report.address.Name}</td>
                <td data-label="Phone">${report.address.Mobile}</td>
                <td data-label="Product Name">${report.orderItems.map(item => `<p>${item.productName.length > 20 ? item.productName.slice(0, 20) + '...' : item.productName}</p>`).join('')}</td>
                <td data-label="Brand ID">${report.orderItems.map(item => `<p>${item.brandId.slice(-8)}</p>`).join('')}</td>
                <td data-label="Status">${report.orderStatus}</td>
                <td data-label="Total Amount">₹${report.totalAmount}</td>
            </tr>
        `;
        tbody.innerHTML += row; // Append the row to the table body
    });
}

  // pdf
  function downloadPDF(divId) {
    const element = document.getElementById(divId); 

    html2canvas(element).then(canvas => {
        const imgData = canvas.toDataURL('image/png');
        const pdf = new window.jspdf.jsPDF({
            orientation: 'portrait',
        });
        const imgProps= pdf.getImageProperties(imgData);
        const pdfWidth = pdf.internal.pageSize.getWidth();
        const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;
        pdf.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight);
        pdf.save('SalesReport.pdf');
    });
}
function downloadExcel() {
    const tableRows = document.querySelectorAll('.cart-table tbody tr');
    const data = Array.from(tableRows).map(row => {
        const cells = row.querySelectorAll('td');
        const productNames = Array.from(cells[4].querySelectorAll('p')).map(p => p.textContent.trim()).join(', ');
        const brandIds = Array.from(cells[5].querySelectorAll('p')).map(p => p.textContent.trim()).join(', ');

        return {
            orderId: cells[0].textContent.trim(),
            orderDate: cells[1].textContent.trim(),
            userName: cells[2].textContent.trim(),
            phone: cells[3].textContent.trim(),
            productName: productNames,
            brands: brandIds,
            status: cells[6].textContent.trim(),
            totalAmount: cells[7].textContent.trim(),
        };
    });

    console.log('Extracted Data:', data);

    fetch('/admin/downloadExcel', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ data: data }),
    })
    .then(response => response.blob())
    .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'sales-report.xlsx';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
    })
    .catch(error => console.error('Error downloading Excel:', error));
}

</script>

<!-- CDN for Sales Report PDF Download Start -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<!-- CDN for Sales Report PDF Download End -->



<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<%- include('../layouts/addBrandsFooter') %>
  
      </div>
    </div>
  </div>  
</div>
