<%- include('../layouts/userManageHeader') %>
<%- include('../layouts/dashboardHeader') %>

<nav class="t-header">
    <div class="t-header-brand-wrapper">
      <a href="/admin/dashboard">
        <img class="logo" src="/assets/images/logo.png" alt="">
        <img class="logo-mini" src="/assets/images/logo_mini.png" alt="">
      </a>
    </div>
    <div class="t-header-content-wrapper">
      <div class="t-header-content">
        <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
          <i class="mdi mdi-menu"></i>
        </button>
        <form action="#" class="t-header-search-box">
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search" autocomplete="off">
            <button class="btn btn-primary" type="submit"><i class="mdi mdi-arrow-right-thick"></i></button>
          </div>
        </form>
        <ul class="nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="notificationDropdown" data-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-bell-outline mdi-1x"></i>
            </a>
            <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="notificationDropdown">
              <div class="dropdown-header">
                <h6 class="dropdown-title">Notifications</h6>
                <p class="dropdown-title-text">You have 4 unread notifications</p>
              </div>
              <div class="dropdown-body">
                <div class="dropdown-list">
                  <div class="icon-wrapper rounded-circle bg-inverse-primary text-primary">
                    <i class="mdi mdi-alert"></i>
                  </div>
                  <div class="content-wrapper">
                    <small class="name">Storage Full</small>
                    <small class="content-text">Server storage almost full</small>
                  </div>
                </div>
                <div class="dropdown-list">
                  <div class="icon-wrapper rounded-circle bg-inverse-success text-success">
                    <i class="mdi mdi-cloud-upload"></i>
                  </div>
                  <div class="content-wrapper">
                    <small class="name">Upload Completed</small>
                    <small class="content-text">3 Files uploaded successfully</small>
                  </div>
                </div>
                <div class="dropdown-list">
                  <div class="icon-wrapper rounded-circle bg-inverse-warning text-warning">
                    <i class="mdi mdi-security"></i>
                  </div>
                  <div class="content-wrapper">
                    <small class="name">Authentication Required</small>
                    <small class="content-text">Please verify your password to continue using cloud services</small>
                  </div>
                </div>
              </div>
              <div class="dropdown-footer">
                <a href="#">View All</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-message-outline mdi-1x"></i>
              <span class="notification-indicator notification-indicator-primary notification-indicator-ripple"></span>
            </a>
            <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="messageDropdown">
              <div class="dropdown-header">
                <h6 class="dropdown-title">Messages</h6>
                <p class="dropdown-title-text">You have 4 unread messages</p>
              </div>
              <div class="dropdown-body">
                <div class="dropdown-list">
                  <div class="image-wrapper">
                    <img class="profile-img" src="/assets/images/profile/male/image_1.png" alt="profile image">
                    <div class="status-indicator rounded-indicator bg-success"></div>
                  </div>
                  <div class="content-wrapper">
                    <small class="name">Clifford Gordon</small>
                    <small class="content-text">Lorem ipsum dolor sit amet.</small>
                  </div>
                </div>
                <div class="dropdown-list">
                  <div class="image-wrapper">
                    <img class="profile-img" src="/assets/images/profile/female/image_2.png" alt="profile image">
                    <div class="status-indicator rounded-indicator bg-success"></div>
                  </div>
                  <div class="content-wrapper">
                    <small class="name">Rachel Doyle</small>
                    <small class="content-text">Lorem ipsum dolor sit amet.</small>
                  </div>
                </div>
                <div class="dropdown-list">
                  <div class="image-wrapper">
                    <img class="profile-img" src="/public/assets/images/profile/male/image_3.png" alt="profile image">
                    <div class="status-indicator rounded-indicator bg-warning"></div>
                  </div>
                  <div class="content-wrapper">
                    <small class="name">Lewis Guzman</small>
                    <small class="content-text">Lorem ipsum dolor sit amet.</small>
                  </div>
                </div>
              </div>
              <div class="dropdown-footer">
                <a href="#">View All</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="appsDropdown" data-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-apps mdi-1x"></i>
            </a>
            <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="appsDropdown">
              <div class="dropdown-header">
                <h6 class="dropdown-title">Apps</h6>
                <p class="dropdown-title-text mt-2">Authentication required for 3 apps</p>
              </div>
              <div class="dropdown-body border-top pt-0">
                <a class="dropdown-grid">
                  <i class="grid-icon mdi mdi-jira mdi-2x"></i>
                  <span class="grid-title">Jira</span>
                </a>
                <a class="dropdown-grid">
                  <i class="grid-icon mdi mdi-trello mdi-2x"></i>
                  <span class="grid-title">Trello</span>
                </a>
                <a class="dropdown-grid">
                  <i class="grid-icon mdi mdi-artstation mdi-2x"></i>
                  <span class="grid-title">Artstation</span>
                </a>
                <a class="dropdown-grid">
                  <i class="grid-icon mdi mdi-bitbucket mdi-2x"></i>
                  <span class="grid-title">Bitbucket</span>
                </a>
              </div>
              <div class="dropdown-footer">
                <a href="#">View All</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- partial -->
  <div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <div class="sidebar">
      <div class="user-profile">
        <div class="display-avatar animated-avatar">
          <img class="profile-img img-lg rounded-circle" src="/assets/images/profile/male/image_1.png" alt="profile image">
        </div>
        <div class="info-wrapper">
          <p class="user-name">Irfan Nisar</p>
          <h6 class="display-income">₹3,400,00</h6>
        </div>
      </div>
      <ul class="navigation-menu">
        <li class="nav-category-divider">MAIN</li>
        <li>
          <a href="/admin/userManage">
            <span class="link-title">Users</span>
            <i class="mdi mdi-gauge link-icon"></i>
          </a>
        </li>
        <li>
          <a href="#sample-pages" data-toggle="collapse" aria-expanded="false">
            <span class="link-title">Orders</span>
            <i class="mdi mdi-flask link-icon"></i>
          </a>
          <ul class="collapse navigation-submenu" id="sample-pages">
            <li>
              <a href="/admin/orderStatusEdit">Order Status Edit</a>
            </li>
            <li>
              <a href="/admin/orderDetails">Order Details</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#ui-elements" data-toggle="collapse" aria-expanded="false">
            <span class="link-title">Return</span>
            <i class="mdi mdi-bullseye link-icon"></i>
          </a>
          <ul class="collapse navigation-submenu" id="ui-elements">
            <li>
              <a href="/admin/returnEdit">Return Edit</a>
            </li>
            <li>
              <a href="/admin/returnDetails">Return Details</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#dropdown-elements" data-toggle="collapse" aria-expanded="false">
            <span class="link-title">Dropdowns</span>
            <i class="mdi mdi-bullseye link-icon"></i>
          </a>
          <ul class="collapse navigation-submenu" id="dropdown-elements">
            <li>
              <a href="pages/ui-components/buttons.html">Button</a>
            </li>
            <li>
              <a href="pages/ui-components/dropdowns.html">Dropdowns</a>
            </li>
            <li>
              <a href="pages/ui-components/icons.html">Icons</a>
            </li>
            <li>
              <a href="pages/ui-components/badges.html">Badges</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#form-elements" data-toggle="collapse" aria-expanded="false">
            <span class="link-title">Forms</span>
            <i class="mdi mdi-clipboard-outline link-icon"></i>
          </a>
          <ul class="collapse navigation-submenu" id="form-elements">
            <li>
              <a href="pages/forms/basic_elements.html">Basic Elements</a>
            </li>
            <li>
              <a href="pages/forms/advanced_elements.html">Advanced Elements</a>
            </li>
            <li>
              <a href="pages/forms/validation.html">Validation</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#sample-pages" data-toggle="collapse" aria-expanded="false">
            <span class="link-title">Charts</span>
            <i class="mdi mdi-flask link-icon"></i>
          </a>
          <ul class="collapse navigation-submenu" id="sample-pages">
            <li>
              <a href="pages/charts/morris.html">Morris</a>
            </li>
            <li>
              <a href="pages/charts/flot.html">Flot</a>
            </li>
            <li>
              <a href="pages/charts/chartjs.html">ChartJs</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#sample-pages" data-toggle="collapse" aria-expanded="false">
            <span class="link-title">Tables</span>
            <i class="mdi mdi-flask link-icon"></i>
          </a>
          <ul class="collapse navigation-submenu" id="sample-pages">
            <li>
              <a href="pages/tables/basic-table.html">Basic Table</a>
            </li>
            <li>
              <a href="pages/tables/data-table.html">Data Table</a>
            </li>
            <li>
              <a href="pages/tables/js-grid.html">Js-grid</a>
            </li>
          </ul>
        </li>
        <li class="nav-category-divider">USER INTERFACE</li>
        <li>
          <a href="#sample-pages" data-toggle="collapse" aria-expanded="false">
            <span class="link-title">General Pages</span>
            <i class="mdi mdi-flask link-icon"></i>
          </a>
          <ul class="collapse navigation-submenu" id="sample-pages">
            <li>
              <a href="pages/samples/blank_page.html">Blank Page</a>
            </li>
            <li>
              <a href="pages/samples/500.html">500</a>
            </li>
            <li>
              <a href="pages/samples/404.html">404</a>
            </li>
            <li>
              <a href="pages/samples/login.html">Login</a>
            </li>
            <li>
              <a href="pages/samples/register.html">Register</a>
            </li>
            <li>
              <a href="pages/samples/lock_screen.html">Lock Screen</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- partial -->
    <div class="page-content-wrapper">
      <div class="page-content-wrapper-inner">
        <div class="content-viewport">
          <div class="row">
            <div class="col-12 py-5">
              <h4>User Management</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 equel-grid">
              <div class="grid">
                <div class="grid-body py-3">
                  <p class="card-title ml-n1">User List</p>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover table-sm">
                    <thead>
                      <tr class="solid-header">
                        <th class="pl-4">#</th>
                        <th>User</th>
                        <th>Email</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% users.forEach((user, index) => { %>
                        <tr>
                          <td class="pl-4"><%= index + 1 %></td>
                          <td>
                            <div class="d-flex align-items-center">
                              <img class="profile-img img-sm img-rounded mr-2" src="/assets/images/profile/male/image_2.png" alt="profile image">
                              <div>
                                <p class="font-weight-bold"><%= user.name %></p>
                                <p class="text-muted mb-0"><%= user.email %></p>
                              </div>
                            </div>
                          </td>
                          <td><%= user.email %></td>
                          <td>
                            <% if (user.blocked) { %>
                              <button class="btn btn-success btn-sm" onclick="unblockUser('<%= user._id %>')">Unblock</button>
                            <% } else { %>
                              <button class="btn btn-danger btn-sm" onclick="blockUser('<%= user._id %>')">Block</button>
                            <% } %>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('../layouts/dashboardFooter') %>
      </div>
    </div>
  </div>

<script>
  function blockUser(userId) {
    fetch(`/admin/block-user/${userId}`, {
      method: 'PUT'
    }).then(response => {
      if (response.ok) {
        location.reload();
      } else {
        alert('Failed to block user.');
      }
    });
  }

  function unblockUser(userId) {
    fetch(`/admin/unblock-user/${userId}`, {
      method: 'PUT'
    }).then(response => {
      if (response.ok) {
        location.reload();
      } else {
        alert('Failed to unblock user.');
      }
    });
  }
</script>
