  
  <%- include('../layouts/addressManageHeader') %>
  <%- include('../layouts/userHomeHeader') %>
  <% if(typeof message !== "undefined"){ %>
    <div class="msg msg-danger show d-flex align-items-center justify-content-center text-center" id="message" role="alert">
      <div class="d-flex align-items-center justify-content-center">
      <lord-icon
      src="https://cdn.lordicon.com/nqtddedc.json"
      trigger="in"
      delay="100"
      state="in-cross"
      colors="primary:#e83a30"
      style="width:50px;height:50px">
  </lord-icon> 
  </div>
  <%= message %> 
    </div>
  <% } %>
  <% if(typeof warning !== "undefined"){ %>
    <div class="msg msg-warning show d-flex align-items-center justify-content-center text-center" id="warning" role="alert" style="color: black;">
      <div class="d-flex align-items-center justify-content-center">
        <lord-icon
          src="https://cdn.lordicon.com/ygvjgdmk.json"
          trigger="in"
          delay="100"
          colors="primary:#e88c30"
          style="width:50px;height:50px;">
        </lord-icon>
      </div>
        <%= warning %>
    </div>  
  <% } %>
  <% if(typeof success !== "undefined"){ %>
    <div class="msg msg-success show d-flex align-items-center justify-content-center text-center" id="success" role="alert" style="color: black;">
      <div class="d-flex align-items-center justify-content-center">
        <lord-icon
      src="https://cdn.lordicon.com/oqdmuxru.json"
      trigger="in"
      delay="100"
      state="morph-check-in-1"
      colors="primary:#34c759"
      style="width:50px;height:50px">
  </lord-icon>
      </div>
        <%= success %>
    </div>  
  <% } %>  

   <!-- header section start -->
   <header class="header pt-3 pb-4 header-sticky" style="height: 4.5rem;">
    <div class="container-fluid">
        <div class="header-nav  position-relative">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-1 col-md-6 col-sm-6 col-3">
                    <div class="logo">
                        <a href="/home"><img src="/assets/img/logo/logo1.png" alt="" style="width: 100%; height: 100%;"></a>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-8 hidden-md position-static">
                    <div class="header-nav header-nav-2 pl-100">
                        <nav class="d-flex justify-content-center align-content-center"> 
                            <ul>
                                <li><a href="javascript:void(0)" ><span>Home </span></a></li>
                                <li><a href="/loadShop"><span>Shop <i class="fas fa-angle-down"></i></span></a>
                                        <div class="submenu" style="border-radius: 13px;">
                                            <ul>
                                                <li><a href="#">All Products </a></li>
                                                <li><a href="#">Trending</a></li>
                                                <li><a href="#">Best Seller</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                <li><a href="javascript:void(0)"><span>Best Deals</span>
                                    </a>
                                </li>
                                <li><a href="javascript:void(0)"><span>Top Brands <i
                                                class="fas fa-angle-down"></i></span> </a>
                                    <ul class="submenu" style="border-radius: 13px;">
                                        <li><a href="portfolio.html">Lindt</a></li>
                                        <li><a href="portfolio2.html">Whittaker's</a></li>
                                        <li><a href="portfolio3.html">Buttlers's</a></li>
                                        <li><a href="portfolio3.html">Milka</a></li>
                                        <li><a href="portfolio3.html">Ferrero</a></li>
                                        <li><a href="portfolio3.html">Cadbury</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)"><span>Gifting</span> <i
                                            class="fas fa-angle-down"></i></a>
                                    <ul class="submenu" style="border-radius: 13px;">
                                        <li><a href="about.html">Gift Hampers</a></li>
                                        <li><a href="contact.html">Bulk Orders</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9 hidden-md">
                    <div class="header-right">
                        <ul class="text-right">
                            <% if (!locals.user) { %>
                                <li>
                                    <a href="/login" class="account">
                                        <button class="signup-button"> 
                                            Sign up
                                        </button>
                                        <lord-icon
                                            src="https://cdn.lordicon.com/kthelypq.json"
                                            trigger="hover"
                                            colors="primary:#000000"
                                            style="width:22px;height:22px; padding-top: 6px;">
                                        </lord-icon>
                                    </a>
                                </li>
                            <% } else { %>
                                <a href="/profileDetails" class="account">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/kthelypq.json"
                                        trigger="hover"
                                        colors="primary:#000000"
                                        style="width:23px;height:23px; padding-top: 6px;">
                                    </lord-icon>
                                </a>
                            <% } %>                                
                            <li><a href="javascript:void(0)"><lord-icon
                                src="https://cdn.lordicon.com/kkvxgpti.json"
                                trigger="hover"
                                colors="primary:#000000"
                                style="width:22px;height:22px; padding-top: 4.5px; padding-left: 2px;">
                            </lord-icon>

                                <!-- search popup -->
                                <div id="search-popup">
                                    <div class="close-search-popup">
                                        <lord-icon
                                        src="https://cdn.lordicon.com/kkvxgpti.json"
                                        trigger="hover"
                                        colors="primary:#000000"
                                        style="width:20px;height:20px;">
                                    </lord-icon>
                                    </div>
                                    <div class="search-popup-inner mt-135">
                                        <div class="search-title text-center">
                                            <h2>Search</h2>
                                        </div>

                                        <div class="search-content pt-55">
                                            <ul class="text-center">
                                                <li><a href="javascript:void(0)" class="active">All categories</a>
                                                </li>
                                                <li><a href="javascript:void(0)">Clothing</a></li>
                                                <li><a href="javascript:void(0)">Gift Cards</a></li>
                                                <li><a href="javascript:void(0)">Handbag</a></li>
                                                <li><a href="javascript:void(0)">Kids</a></li>
                                                <li><a href="javascript:void(0)">Shoes</a></li>
                                                <li><a href="javascript:void(0)">Sneaker</a></li>
                                                <li><a href="javascript:void(0)">Women</a></li>
                                            </ul>

                                            <div class="search-form mt-35">
                                                <form action="#" method="post">
                                                    <input type="text" placeholder="Search Products...">
                                                    <button type="submit"> <img src="/assets/Vector1.svg" style="width: 22px; height: 20px;"></button>                                                    </form>
                                            </div>

                                            <div class="search-result-list">
                                                <ul class="text-left">
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                fabric deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                fabric deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="wishlist.html" data-toggle="tooltip" data-placement="bottom"
                                    title="view wishlist"><lord-icon
                                    src="https://cdn.lordicon.com/xyboiuok.json"
                                    trigger="hover"
                                    colors="primary:#000000"
                                    style="width:24px;height:24px; padding-top: 4.8px;">
                                </lord-icon></a></li>
                            <li><a href="/cart"> <lord-icon
                                src="https://cdn.lordicon.com/mfmkufkr.json"
                                trigger="hover"
                                colors="primary:#000000"
                                style="width:23px;height:23px; padding-top: 4.2px;">
                            </lord-icon><span></span></i></a>
                                <!-- <div class="minicart">
                                    <div class="minicart-body">
                                        <div class="minicart-content">
                                            <ul class="text-left">
                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/P-1.webp"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Capitalize on low hanging fruit
                                                            t</a>
                                                        <strong>1 × $250.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/2.jpg"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Leather Courriere duffle ba</a>
                                                        <strong>1 × $150.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>


                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/3.jpg"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Party Supplies Around Cupcake</a>
                                                        <strong>1 × $150.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="minicart-checkout">
                                        <div class="minicart-checkout-heading mt-8 mb-25 overflow-hidden">
                                            <strong class="float-left">Subtotal:</strong>
                                            <span class="price float-right">503.00</span>
                                        </div>
                                        <div class="minicart-checkout-links">
                                            <a href="cart.html"
                                                class="generic-btn black-hover-btn text-uppercase w-100 mb-20">View
                                                cart</a>
                                            <a href="checkout.html"
                                                class="generic-btn black-hover-btn text-uppercase w-100 mb-20">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="/assets/Icon4.svg" style="width: 30px; height: 28px; ">
                                </a>
                                <ul class="submenu text-right" style="border-radius: 13px;">
                                    <% if (locals.user) { %>
                                        <li><a href="/profileDetails">My profile</a></li>
                                        <li><a href="checkout.html">My address</a></li>
                                        <li><a href="/loadShop">Orders</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="/logout">logout</a></li>
                                    <% } else { %>
                                        <li><a href="/login">My profile</a></li>
                                        <li><a href="checkout.html">My address</a></li>
                                        <li><a href="/loadShop">Orders</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="/login">Sign in</a></li>
                                    <% } %>
                                </ul>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu visible-sm">
            <div id="mobile-menu">
                <ul>
                    <li><a class="pl-3" href="javascript:void(0)">Home</a></li>
                    <li><a class="pl-3" href="javascript:void(0)">Shop</a>
                        <ul>
                            <li><a href="#">All Products </a></li>
                            <li><a href="#">Trending</a></li>
                            <li><a href="#">Best Seller</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">Best Deals</a>
                    </li>
                    <li><a href="javascript:void(0)">Gifting</a>
                        <ul>
                            <li><a href="portfolio.html">Gifting</a></li>
                            <li><a href="portfolio2.html">Bundle Hamper</a></li>
                            <li><a href="portfolio3.html">Bulk Orders</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <!-- /. mobile nav -->
    </div>
</header>
<!-- header section end -->
<div class="has-breadcrumb-bg m-0 " data-background="img/bg/3.jpg">
    <div class="breadcrumb-content d-flex justify-content-center align-items-center" style="flex-direction: column;">
        <h3 class="title"><img src="/assets/img/logo/Address_Icon.png" style="width: 50px; height: 50px; padding-bottom: 6px; padding-right: 10px;">My Address</h3>
        <nav aria-label="breadcrumb" class="mb-" style="display: block;" id="manageAddressNav">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Address</li>
            </ol>
        </nav>
        <nav aria-label="breadcrumb" class="ml-5" style="display: none;" id="addAddressNav">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/addressManage">Address</a></li>
                <li class="breadcrumb-item active" aria-current="page">New address</li>
            </ol>
        </nav>
        <nav aria-label="breadcrumb" class="ml-5" style="display: none;" id="editAddressNav">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/addressManage">Address</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit address</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">
            <div class="sidebar pl-5 sidebar-text">
                <ul class="nav flex-column">
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/profileDetails" onclick="setActive(this)">Personal info</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/orders" onclick="setActive(this)">Orders</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/wallet" onclick="setActive(this)">Wallet</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/addressManage" onclick="setActive(this)">Address</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/wishlist" onclick="setActive(this)">Wishlist</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/logout" onclick="setActive(this)">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
        
       <!-- Start Add Address -->
       <div class="col-md-9 pl-0" style="display: none;" id="newAddressForm">
        <h4 class="col-md-6 profile-head p-0">Hey, <%= locals.user.firstName %> 👋</h4>
        <p class="col-md-6 p-head p-0">Add a new address</p>
        <div class="card mb-4">
            <h5 class="card-header">New address</h5>
            <div class="card-body">
                <form action="/addAddress" id="myForm" method="POST">
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label for="firstName" class="form-label">Full name (First and Last name)</label>
                            <input class="form-control" type="text" id="fullName" name="name" placeholder="Full Name" autofocus />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input class="form-control" type="text" id="email" name="email" placeholder="example@gmail.com" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber">Phone Number</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">IN (+91)</span>
                                <input type="number" id="phone" name="Mobile" class="form-control" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Flat, House no., Building, Company, Apartment" />
                            <p id="message" style="font-size: 13px; font-family: poppins; font-weight: 400;"></p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">Area/Street</label>
                            <input type="text" class="form-control" id="street" name="street" placeholder="Area, Street, Sector, Village" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">LandMark(Optional)</label>
                            <input type="text" class="form-control" id="landmark" name="landmark" placeholder="Apartment, suite, unit, building, floor, etc." />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="state" class="form-label">City</label>
                            <input class="form-control" type="text" id="city" name="city" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="state" class="form-label">State</label>
                            <input class="form-control" type="text" id="state" name="state" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="zipCode" class="form-label">Pin code</label>
                            <input type="text" class="form-control" id="PIN" name="PIN" placeholder="6 digits- PIN code" maxlength="6" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="country">Country/Region</label>
                            <select id="country" class="select2 form-select" name="country">
                                <option value="">Select</option>
                            </select>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="name" class="">Address Type</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="addressType" id="home" value="home">
                                  <label class="form-check-label" for="flexRadioDefault1"> Home</label>
                                
                                <input class="form-check-input ml-4" type="radio" name="addressType" id="work" value="work">
                                  <label class="form-check-label ml-5" for="flexRadioDefault1"> Work</label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2" style="font-family: poppins; font-weight: 300; font-size: 13px; border-radius: 8px;">Save changes</button>
                        <button type="button" onclick="clearForm()" class="btn " style="font-family: poppins; font-weight: 300; font-size: 13px; border-radius: 8px;">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Add Address -->

<!-- Main Content Column -->
<!-- Start Manage Address -->
<div class="col-md-9" id="manageAddress" style="display: block;">
    <h4 class="col-md-6 profile-head p-0">Hey, <%= locals.user.firstName %> 👋</h4>
    <p class="col-md-6 p-head p-0">Manage your address..</p>
    <main class="frame-frame overflow-hidden">
        <section class="frame-t-manage-address-frame">
            <div class="frame-manage-address">Your Addresses</div>
            <button class="frame-frame-1" id="addAddressBtn">
                <lord-icon src="https://cdn.lordicon.com/hqymfzvj.json" trigger="hover" colors="primary:#ffffff" style="width:19px;height:19px; padding-right: 4px;"></lord-icon>
                <div class="frame-add-new">Add new</div>
            </button>
        </section>
        <article class="frame-wrapper overflow-hidden">
            <% if (address.length > 0) { %>
                <div class="row" style="font-family: poppins;">
                    <% for (let i = 0; i < address.length; i++) { %>
                        <div class="address-details col-md-6 mb-4" style="display: block;">
                            <div class="address-card ">
                                <div class="address-header ">
                                    <div class="frame-address">Default</div>
                                    <div class="frame-address-2">
                                    <% if (address[i].is_Home) { %>
                                        Home
                                    <% } else if (address[i].is_Work) { %>
                                        Work
                                    <% } %>
                                </div>
                                </div>
                                <div class="address-body">
                                    <div class="address-detail">
                                        <strong><%= address[i].name %></strong>
                                    </div>
                                    <div class="address-detail">
                                        <%= address[i].address %>
                                    </div>
                                    <div class="address-detail">
                                        <%= address[i].street %>
                                    </div>
                                    <div class="address-detail">
                                        <%= address[i].landmark %>
                                    </div>
                                    <div class="address-detail">
                                        <%= address[i].city %>
                                    </div>
                                    <div class="address-detail">
                                        <%= address[i].country %>
                                    </div>
                                    <div class="address-detail">
                                        <p style="color: black; font-weight: 500;">Phone Number: <%= address[i].Mobile %></p>
                                    </div>
                                </div>
                                <div class="address-footer">
                                    <button class="edit-address-btn" id="editAddressBtn<%= i %>">
                                        <div class="btn-text">Edit address</div>
                                        <lord-icon src="https://cdn.lordicon.com/rmkahxvq.json" trigger="hover" colors="primary:#000000" class="icon"></lord-icon>
                                    </button>
                                    <button class="remove-address-btn">
                                        <a href="/deleteAddress?id=<%=address[i]._id %>">
                                        <div class="btn-text">Remove</div></a>
                                        <lord-icon src="https://cdn.lordicon.com/wpyrrmcq.json" trigger="hover" colors="primary:#000000" class="icon"></lord-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Start Edit Address -->
                        <div class="col-md-9 pl-0" id="editAddress<%= i %>" style="display: none;">
                            <div class="card mb-4">
                                <h5 class="card-header">Edit address</h5>
                                <div class="card-body">
                                    <form id="editAddressForm<%= i %>" action="/editAddress" method="post" onsubmit="submitEditForm(event, '<%= i %>')">
                                        <div class="row">
                                            <div class="mb-3 col-md-12">
                                                <label for="firstName" class="form-label">Full name (First and Last name)</label>
                                                <input class="form-control" type="text" id="name<%= i %>" name="name" value="<%= address[i].name %>" autofocus />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="email" class="form-label">E-mail</label>
                                                <input class="form-control" type="text" id="email<%= i %>" name="email" value="<%= address[i].email %>" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="phoneNumber">Phone Number</label>
                                                <div class="input-group input-group-merge">
                                                    <span class="input-group-text">IN (+91)</span>
                                                    <input type="number" id="Mobile<%= i %>" name="Mobile" class="form-control" value="<%= address[i].Mobile %>" />
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-12">
                                                <label for="address" class="form-label">Address</label>
                                                <input type="text" class="form-control" id="address<%= i %>" name="address" value="<%= address[i].address %>" />
                                                <p id="message<%= i %>" style="font-size: 13px; font-family: poppins; font-weight: 400;"></p>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="organization" class="form-label">Area/Street</label>
                                                <input type="text" class="form-control" id="street<%= i %>" name="street" value="<%= address[i].street %>" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="organization" class="form-label">LandMark (Optional)</label>
                                                <input type="text" class="form-control" id="landmark<%= i %>" name="landmark" value="<%= address[i].landmark %>" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="state" class="form-label">City</label>
                                                <input class="form-control" type="text" id="city<%= i %>" name="city" value="<%= address[i].city %>" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="state" class="form-label">State</label>
                                                <input class="form-control" type="text" id="state<%= i %>" name="state" value="<%= address[i].state %>" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="zipCode" class="form-label">Pin code</label>
                                                <input type="text" class="form-control" id="PIN<%= i %>" name="PIN" value="<%= address[i].PIN %>" maxlength="6" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="country">Country/Region</label>
                                                <select id="country<%= i %>" class="select2 form-select" name="country">
                                                    <option value=""><%= address[i].country %></option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6 mb-3">
                                                <label for="name" class="">Address Type</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="addressType" id="home<%= i %>" value="1" <%= address[i].is_Home ? 'checked' : '' %> />
                                                    <label class="form-check-label" for="home"> Home</label>
                                                    <input class="form-check-input ml-4" type="radio" name="addressType" id="work<%= i %>" value="1" <%= address[i].is_Work ? 'checked' : '' %> />
                                                    <label class="form-check-label ml-5" for="Work"> Work</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                            <button type="submit" class="btn btn-primary me-2" style="font-family: poppins; font-weight: 300; font-size: 13px; border-radius: 8px;">Save changes</button>
                                            <button type="button" onclick="clearForm1('<%= i %>')" class="btn" style="font-family: poppins; font-weight: 300; font-size: 13px; border-radius: 8px;">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <script src="/js/countries.js"></script>
                        <!-- End Edit Address -->
                    <% } %>
                </div>
            <% } else { %>
                <br><br>
                <h3>No Address Found</h3>
            <% } %>
        </article>
    </main>            
</div>
<!-- End Manage Address -->

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    <% for (let i = 0; i < address.length; i++) { %>
        document.getElementById('editAddressBtn<%= i %>').addEventListener('click', function() {
            var editAddressForm = document.getElementById('editAddress<%= i %>');
            var manageAddress = document.getElementsByClassName('address-details');
            if (editAddressForm.style.display === 'none') {
                editAddressForm.style.display = 'block';
                manageAddress.style.display = 'none';
            } else {
                editAddressForm.style.display = 'none';
                manageAddress.style.display = 'block';
            }
        });
    <% } %>
    document.getElementById('addAddressBtn').addEventListener('click', function() {
        var manageAddress = document.getElementById('manageAddress');
        var newAddressForm = document.getElementById('newAddressForm');
        manageAddress.style.display = 'none';
        newAddressForm.style.display = 'block';
    });

    document.getElementById('addAddressBtn').addEventListener('click', function() {
        var manageAddressNav = document.getElementById('manageAddressNav');
        var addAddressNav = document.getElementById('addAddressNav');
        manageAddressNav.style.display = 'none';
        addAddressNav.style.display = 'block';
    });
});

 // add address form submission
 document.getElementById('myForm').addEventListener('submit', function(event) {
          event.preventDefault();
		  const index= ''
          if(!addressValidation(index)){
            return;
          }
          const form = document.getElementById('myForm');
            const formData = new FormData(form);
            const jsonObject = {};
            formData.forEach((value, key) => {
              jsonObject[key] = value;
            });

			
            
			jsonObject.is_Home = document.getElementById('home').checked;
			jsonObject.is_Work = document.getElementById('work').checked;

            fetch('/addAddress', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonObject)
            })
			.then(response => response.json())
                    .then(data => {
                      if (data.success) {
                          Swal.fire({
                              title: "New Address Added",
                              text: "New Address Added successfully!",
                              icon: "success"
                          }).then(() => {
							window.location.reload();; 
                          });
                      } else {
						let message = document.getElementById('message');
						message.style.color = "red";
						message.innerText = `${data.message}`
                      }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });        
</script>
 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/countries.js"></script>
  <script src="/js/addressValidation.js"></script>
<%- include('../layouts/homeFooter') %>
