<%- include('../layouts/userHomeHeader') %>

    <div class="shipping-offer-container">
        <p class="shipping-offer">Melt free Delivery PAN India! 🚚</p>
    </div>
    <!-- header section start -->
    <header class="header pt-30 pb-30  header-sticky">
        <div class="container-fluid">
            <div class="header-nav  position-relative">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-1 col-md-6 col-sm-6 col-3">
                        <div class="logo">
                            <a href="/home"><img src="/assets/img/logo/logo1.png" alt=""></a>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-8 hidden-md position-static">
                        <div class="header-nav header-nav-2 pl-100">
                            <nav class="d-flex justify-content-center align-content-center"> 
                                <ul>
                                    <li><a href="/home"><span>Home </span></a></li>
                                    <li><a href="/loadShop"><span>Shop <i class="fas fa-angle-down"></i></span></a>
                                            <div class="submenu" style="border-radius: 13px;">
                                                <ul>
                                                    <li><a href="#">All Products </a></li>
                                                    <li><a href="#">Trending</a></li>
                                                    <li><a href="#">Best Seller</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    <li><a href="javascript:void(0)"><span>Best Deals</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:void(0)"><span>Top Brands <i
                                                    class="fas fa-angle-down"></i></span> </a>
                                        <ul class="submenu" style="border-radius: 13px;">
                                            <li><a href="portfolio.html">Lindt</a></li>
                                            <li><a href="portfolio2.html">Whittaker's</a></li>
                                            <li><a href="portfolio3.html">Buttlers's</a></li>
                                            <li><a href="portfolio3.html">Milka</a></li>
                                            <li><a href="portfolio3.html">Ferrero</a></li>
                                            <li><a href="portfolio3.html">Cadbury</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0)"><span>Gifting</span> <i
                                                class="fas fa-angle-down"></i></a>
                                        <ul class="submenu" style="border-radius: 13px;">
                                            <li><a href="about.html">Gift Hampers</a></li>
                                            <li><a href="contact.html">Bulk Orders</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html"><span>Contact</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9 hidden-md">
                        <div class="header-right">
                            <ul class="text-right">
                                <% if (!locals.user) { %>
                                    <li>
                                        <a href="/login" class="account">
                                            <button class="signup-button"> 
                                                Sign up
                                            </button>
                                            <lord-icon
                                                src="https://cdn.lordicon.com/kthelypq.json"
                                                trigger="hover"
                                                colors="primary:#000000"
                                                style="width:22px;height:22px; padding-top: 6px;">
                                            </lord-icon>
                                        </a>
                                    </li>
                                <% } else { %>
                                    <a href="/profileDetails" class="account">
                                        <lord-icon
                                            src="https://cdn.lordicon.com/kthelypq.json"
                                            trigger="hover"
                                            colors="primary:#000000"
                                            style="width:23px;height:23px; padding-top: 6px;">
                                        </lord-icon>
                                    </a>
                                <% } %>                                
                                <li><a href="javascript:void(0)"><lord-icon
                                    src="https://cdn.lordicon.com/kkvxgpti.json"
                                    trigger="hover"
                                    colors="primary:#000000"
                                    style="width:22px;height:22px; padding-top: 4.5px; padding-left: 2px;">
                                </lord-icon>

                                    <!-- search popup -->
                                    <div id="search-popup">
                                        <div class="close-search-popup">
                                            <lord-icon
                                            src="https://cdn.lordicon.com/kkvxgpti.json"
                                            trigger="hover"
                                            colors="primary:#000000"
                                            style="width:20px;height:20px;">
                                        </lord-icon>
                                        </div>
                                        <div class="search-popup-inner mt-135">
                                            <div class="search-title text-center">
                                                <h2>Search</h2>
                                            </div>

                                            <div class="search-content pt-55">
                                                <ul class="text-center">
                                                    <li><a href="javascript:void(0)" class="active">All categories</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)">Clothing</a></li>
                                                    <li><a href="javascript:void(0)">Gift Cards</a></li>
                                                    <li><a href="javascript:void(0)">Handbag</a></li>
                                                    <li><a href="javascript:void(0)">Kids</a></li>
                                                    <li><a href="javascript:void(0)">Shoes</a></li>
                                                    <li><a href="javascript:void(0)">Sneaker</a></li>
                                                    <li><a href="javascript:void(0)">Women</a></li>
                                                </ul>

                                                <div class="search-form mt-35">
                                                    <form action="#" method="post">
                                                        <input type="text" placeholder="Search Products...">
                                                        <button type="submit"> <img src="/assets/Vector1.svg" style="width: 22px; height: 20px;"></button>                                                    </form>
                                                </div>

                                                <div class="search-result-list">
                                                    <ul class="text-left">
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                    chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                    deck chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                    fabric deck chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                    chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                    deck chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                    fabric deck chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="/wishlist" data-toggle="tooltip" data-placement="bottom"
                                        title="view wishlist"><lord-icon
                                        src="https://cdn.lordicon.com/xyboiuok.json"
                                        trigger="hover"
                                        colors="primary:#000000"
                                        style="width:24px;height:24px; padding-top: 4.8px;">
                                    </lord-icon></a></li>
                                <li><a href="/cart"> <lord-icon
                                    src="https://cdn.lordicon.com/mfmkufkr.json"
                                    trigger="hover"
                                    colors="primary:#ef829f"
                                    style="width:23px;height:23px; padding-top: 4.2px;">
                                </lord-icon><span></span></i></a>
                                    <!-- <div class="minicart">
                                        <div class="minicart-body">
                                            <div class="minicart-content">
                                                <ul class="text-left">
                                                    <li>
                                                        <div class="minicart-img">
                                                            <a href="/product-1" class="p-0"><img src="/assets/img/product/P-1.webp"
                                                                    class="w-100" alt=""></a>
                                                        </div>
                                                        <div class="minicart-desc">
                                                            <a href="/product-1" class="p-0">Capitalize on low hanging fruit
                                                                t</a>
                                                            <strong>1 × $250.00</strong>
                                                        </div>
                                                        <div class="remove">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="minicart-img">
                                                            <a href="/product-1" class="p-0"><img src="/assets/img/product/2.jpg"
                                                                    class="w-100" alt=""></a>
                                                        </div>
                                                        <div class="minicart-desc">
                                                            <a href="/product-1" class="p-0">Leather Courriere duffle ba</a>
                                                            <strong>1 × $150.00</strong>
                                                        </div>
                                                        <div class="remove">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                    </li>


                                                    <li>
                                                        <div class="minicart-img">
                                                            <a href="/product-1" class="p-0"><img src="/assets/img/product/3.jpg"
                                                                    class="w-100" alt=""></a>
                                                        </div>
                                                        <div class="minicart-desc">
                                                            <a href="/product-1" class="p-0">Party Supplies Around Cupcake</a>
                                                            <strong>1 × $150.00</strong>
                                                        </div>
                                                        <div class="remove">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="minicart-checkout">
                                            <div class="minicart-checkout-heading mt-8 mb-25 overflow-hidden">
                                                <strong class="float-left">Subtotal:</strong>
                                                <span class="price float-right">503.00</span>
                                            </div>
                                            <div class="minicart-checkout-links">
                                                <a href="cart.html"
                                                    class="generic-btn black-hover-btn text-uppercase w-100 mb-20">View
                                                    cart</a>
                                                <a href="checkout.html"
                                                    class="generic-btn black-hover-btn text-uppercase w-100 mb-20">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="/assets/Icon4.svg" style="width: 30px; height: 28px; ">
                                    </a>
                                    <ul class="submenu text-right" style="border-radius: 13px;">
                                        <% if (locals.user) { %>
                                            <li><a href="/profileDetails">My profile</a></li>
                                            <li><a href="checkout.html">My address</a></li>
                                            <li><a href="/loadShop">Orders</a></li>
                                            <li><a href="/wishlist">Wishlist</a></li>
                                            <li><a href="/logout">logout</a></li>
                                        <% } else { %>
                                            <li><a href="/login">My profile</a></li>
                                            <li><a href="checkout.html">My address</a></li>
                                            <li><a href="/loadShop">Orders</a></li>
                                            <li><a href="/wishlist">Wishlist</a></li>
                                            <li><a href="/login">Sign in</a></li>
                                        <% } %>
                                    </ul>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu visible-sm">
                <div id="mobile-menu">
                    <ul>
                        <li><a class="pl-3" href="javascript:void(0)">Home</a></li>
                        <li><a class="pl-3" href="javascript:void(0)">Shop</a>
                            <ul>
                                <li><a href="#">All Products </a></li>
                                <li><a href="#">Trending</a></li>
                                <li><a href="#">Best Seller</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Best Deals</a>
                        </li>
                        <li><a href="javascript:void(0)">Gifting</a>
                            <ul>
                                <li><a href="portfolio.html">Gifting</a></li>
                                <li><a href="portfolio2.html">Bundle Hamper</a></li>
                                <li><a href="portfolio3.html">Bulk Orders</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- /. mobile nav -->
        </div>
    </header>
    <!-- header section end -->




    <!-- shop body section start -->
    <section class="cart-body mb-90 " style="font-family: poppins;">
        <div class="has-breadcrumb-content">
            <div class="container container-1430">
                <div class="breadcrumb-content" style="flex-direction: column;">
                    <div class="has-breadcrumb-bg " data-background="img/bg/3.jpg">
                        <div class="breadcrumb-content d-flex justify-content-center align-items-center" style="flex-direction: column;">
                            
                            <h3 class="title" style="font-size: 35px; font-family: poppins; font-weight: 500;"><img src="/assets/img/logo/Shop_icon.png" style="width: 50px; height: 50px; padding-bottom: 3px; padding-right: 4px;">Cart</h3>
                            <nav aria-label="breadcrumb" class="mb-40">
                                <ol class="breadcrumb p-0 m-0">
                                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Shop</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <% if (userCart.length === 0) { %>
                    <div class="container-fluid mt-50">
                        <div class="row">
                            <div class="col-md-12" style="height: 600px;">
                                <div class="card-body cart">
                                    <div class="col-sm-12 empty-cart-cls text-center">
                                        <lord-icon
                                            src="https://cdn.lordicon.com/mfmkufkr.json"
                                            trigger="in"
                                            delay="1000"
                                            state="in-shopping"
                                            colors="primary:#000000"
                                            style="width:150px;height:150px">
                                        </lord-icon>
                                        <h3><strong>Your Cart is Currently Empty</strong></h3>
                                        <h4>Browse our products and discover something you'll love.</h4>
                                        <a href="/loadShop" class="btn btn-shopping" style="width: 200px; height: 50px; margin: 20px;">Continue Shopping</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="cart-body-content">
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="product-content">
                                    <form action="#">
                                        <div class="table-responsive">
                                            <table class="table table-2">
                                                <thead>
                                                    <tr>
                                                        <th class="product-image"></th>
                                                        <th class="product-title" style="font-family: poppins; font-weight: 600;">Product</th>
                                                        <th style="font-family: poppins; font-weight: 600;">Price</th>
                                                        <th class="quantity" style="font-family: poppins; font-weight: 600;">Quantity</th>
                                                        <th class="totals" style="font-family: poppins; font-weight: 600;">MRP</th>
                                                        <th class="remove-product"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% userCart.forEach(cartItem => { %>
                                                        <tr data-product-id="<%= cartItem.productDetails[0]._id %>">
                                                            <td>
                                                                <div class="table-data">
                                                                    <a href="/singleProduct?id=<%= cartItem.productDetails[0]._id %>">
                                                                        <img src="/assets/img/brands/<%= cartItem.productDetails[0].image[0] %>" alt="" width="80">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="table-data">
                                                                    <h6>
                                                                        <a href="/singleProduct?id=<%= cartItem.productDetails[0]._id %>">
                                                                            <%= cartItem.productDetails[0].productName %>
                                                                        </a>
                                                                    </h6>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="table-data">
                                                                    <span class="price" data-price="<%= cartItem.productDetails[0].discountPrice %>">₹ <%= cartItem.productDetails[0].discountPrice %></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="table-data">
                                                                    <button type="button" class="decrease-quantity btn-light btn" data-product-id="<%= cartItem.productDetails[0]._id %>"> - </button>
                                                                    <span class="quantity" id="quantity<%= cartItem.productDetails[0]._id %>"><%= cartItem.cartItems.quantity %></span>
                                                                    <button type="button" class="increase-quantity btn-light btn" data-product-id="<%= cartItem.productDetails[0]._id %>" data-in-stock="<%= cartItem.productDetails[0].inStock %>" > + </button>
                                                                </div>
                                                            </td>                                                            
                                                            <td class="product-total">
                                                                <div class="total-show" id="price<%= cartItem.productDetails[0]._id %>" data-price="<%= cartItem.productDetails[0].discountPrice %>">
                                                                    ₹ <%= cartItem.cartItems.quantity * cartItem.productDetails[0].discountPrice %>
                                                                </div>
                                                            </td>                                                            
                                                            <td class="product-remove remove-from-cart">
                                                                <a href="#" data-product-id="<%= cartItem.productDetails[0]._id %>">
                                                                    <lord-icon
                                                                        src="https://cdn.lordicon.com/nqtddedc.json"
                                                                        trigger="hover"
                                                                        state="hover-cross-3"
                                                                        colors="primary:#000000"
                                                                        style="width:25px;height:25px">
                                                                    </lord-icon>
                                                                </a>
                                                            </td>                                                            
                                                        </tr>
                                                    <% }); %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="cart-summary">
                                    <h4 class="title">Cart Totals</h4>
                                    <table class="table table-cart-summary" style="font-family: Poppins;">
                                        <tbody>
                                            <tr>
                                                <th class="cart-summary-title">Total MRP</th>
                                                <td class="cart-summary-price p-0 total-mrp" id="total-mrp">₹ <%= userCart.reduce((acc, cartItem) => acc + cartItem.cartItems.quantity * cartItem.productDetails[0].price, 0) %>
                                            </td>
                                            </tr>
                                            <tr class="border-bottom">
                                                <th class="cart-summary-title">Discount</th>
                                                <td class="cart-summary-price p-0 total-discount" style="color: rgb(92, 173, 92);" id="discount">₹ <%= userCart.reduce((acc, cartItem) => acc + cartItem.cartItems.quantity * (cartItem.productDetails[0].price - cartItem.productDetails[0].discountPrice), 0) %> 
                                            </td>
                                            </tr>                                            
                                            <tr>
                                                <th class="cart-summary-title pb-10">Shipping <p>(4-6 Business days)</p></th>
                                                <td class="cart-summary-price p-0 shipping">₹40</td>
                                            </tr>
                                            <tr>
                                                <th class="cart-summary-title pb-10">Tax <p>(estimated for India (IN))</p></th>
                                                <td class="cart-summary-price p-0">18%</td>
                                            </tr>
                                            <tr class="border-bottom">
                                                <th class="cart-summary-title pb-10">Subtotal</th>
                                                <td class="cart-summary-price p-0 total-price" id="Subtotal">₹<%= userCart.reduce((acc, cartItem) => acc + cartItem.cartItems.quantity * cartItem.productDetails[0].discountPrice, 0) %></td>
                                            </tr>
                                            <tr>
                                                <th class="cart-summary-title pb-10" style="font-size: 22px;">Grand total</th>
                                                <td class="cart-summary-price p-0" id="totalPrice"  style="font-size: 21px; font-weight: 500;">₹<%= userCart.reduce((acc, cartItem) => acc + cartItem.cartItems.quantity * cartItem.productDetails[0].discountPrice, 0) + 40 %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="/checkout" class="mt-20 btn btn-checkout w-100 d-block" style="height: 50px;">Proceed to checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
                
                
    <!-- shop body section end -->


        <!-- <div class="footer-bottom pt-77" style="background-color: #000;">
            <div class="container-1180">
                <div class="footer-bottom-wrapper">
                    <div class="footer-bottom-primary pb-60">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-9">
                                <div class="footer-item has-desc">
                                    <div class="footer-logo mb-25">
                                        <img src="/assets/img/logo/logo2.png" width="300" height="23" alt="">
                                    </div>
                                    <div class="footer-desc">
                                        <p class="mb-10">Choco Heaven is the pinnacle of luxury in the chocolate world. Our online store boasts
                                             a meticulously curated selection of the finest chocolates Experience unparalleled
                                            customization and flawless responsiveness across all devices, ensuring an indulgent
                                            shopping experience that is as exquisite as our chocolates.
                                        </p>
                                    </div>
                                    <div class="footer-img mt-65">
                                        <img src="/assets/img/logo/paypal.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-12">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                        <div class="footer-menu">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="title">MY ACCOUNT</a></li>
                                                <li><a href="login.html">My account</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="/loadShop">Shop</a></li>
                                                <li><a href="/wishlist">Wishlist</a></li>
                                                <li><a href="question.html">Frequently</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                        <div class="footer-menu">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="title">Quick Links</a></li>
                                                <li><a href="/loadShop">Special Offers</a></li>
                                                <li><a href="/loadShop">Gift Cards</a></li>
                                                <li><a href="/loadShop">F21 Red</a></li>
                                                <li><a href="about.html">Privacy Policy</a></li>
                                                <li><a href="about.html">Teams of Use</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 hidden-sm">
                                        <div class="footer-menu">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="title">Company Info</a></li>
                                                <li><a href="about.html">About us</a></li>
                                                <li><a href="blog.html">Careers</a></li>
                                                <li><a href="portfolio2.html">Business With Us</a></li>
                                                <li><a href="/loadShop">Find a Store</a></li>
                                                <li><a href="question.html">Teams of Use</a></li>
                                                <li><a href="portfolio3.html">Press & Talent</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </section>
    <!-- footer section end -->



    <!-- product popup start -->
    <section id="product-popup">
        <div class="product-popup-overlay"></div>
        <div class="product-popup-container">
            <div class="product-inner w-100">
                <div class="product-inner-content">
                    <div class="quick-close-action"><i class="fas fa-times"></i></div>
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="product-popup-1">
                                    <div class="product-popup-img">
                                        <img src="img/product/10.jpg" class="w-100" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-popup-2">
                                    <div class="product-popup-img">
                                        <img src="img/product/11.jpg" class="w-100" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-popup-3">
                                    <div class="product-popup-img">
                                        <img src="img/product/12.jpg" class="w-100" alt="">
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-pills justify-content-center mt-10">
                                <li class="nav-item">
                                    <a class="active" data-toggle="pill" href="#product-popup-1">
                                        <img src="img/product/10.jpg" class="w-100" alt="">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="" data-toggle="pill" href="#product-popup-2">
                                        <img src="img/product/11.jpg" class="w-100" alt="">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="" data-toggle="pill" href="#product-popup-3">
                                        <img src="img/product/12.jpg" class="w-100" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6">
                            <div class="product-content">
                                <div class="product-title">
                                    <h2>Nari Narwhal Usb...</h2>
                                </div>
                                <div class="price">$<span>44.00</span>–<span>$250.00</span></div>
                                <a href="/product-1" class="all-feature">See all feature</a>
                                <div class="quick-quantity mt-30">
                                    <form action="#" method="POST">
                                        <input type="number" value="1">
                                        <button type="submit" class="generic-btn red-hover-btn text-capitalize">add to
                                            cart</button>
                                    </form>
                                </div>

                                <div class="product-desc pb-20 mt-25 gray-border-top">
                                    <p class="mb-0">Typi non habent claritatem insitam, est usus legentis in iis qui
                                        facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius
                                        quod ii legunt saepius. Claritas est etiam processus A Capitalize on low hanging
                                        fruit to identify a ballpark value added activity to beta test. Override the
                                        digital...ditional clickthroughs from DevOps. Nanotechnology immersion along the
                                        information highway will close the […]</p>
                                </div>
                                <div class="product-list mt-25">
                                    <ul>
                                        <li>– Light green crewneck sweatshirt.</li>
                                        <li>– Hand pockets.</li>
                                        <li>– Relaxed fit.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product popup end -->

    <!-- startup popup start -->
    <section id="startup-popup" class="d-none">
        <div class="product-popup-overlay has-startup" style="opacity: 1;visibility: visible"></div>
        <div class="startup-popup-body">
            <div class="startup-body-content h-100">
                <div class="row justify-content-end h-100">
                    <div class="col-6 h-100">
                        <div class="startup-popup-inner h-100">
                            <div class="close-search-popup">
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="startup-popup-main-content">
                                <h2>Get Our Email Letter</h2>
                                <p class="mb-0">Subscribe to the Mazia store mailing list to receive updates on new
                                    arrivals, special offers
                                    and other discount information.</p>
                                <div class="startup-subscribe-form">
                                    <form action="#" method="POST">
                                        <input type="text" placeholder="Subscribe to our newsletter" class="mb-30">
                                        <button class="generic-btn red-hover-btn text-uppercase">Subscribe now</button>
                                    </form>
                                </div>
                            </div>
                            <div class="startup-popup-sub-content">
                                <div class="popup-warning">
                                    <input type="checkbox" id="startup-popup-hidden">
                                    <label for="startup-popup-hidden">Do not show the popup again</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="success-message-container"></div>

    <!-- startup popup end -->

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
 // Attach event listeners for decrease and increase buttons
document.querySelectorAll('.decrease-quantity').forEach(button => {
    button.addEventListener('click', decreaseQuantity);
});

document.querySelectorAll('.increase-quantity').forEach(button => {
    button.addEventListener('click', increaseQuantity);
});

// Function to display a warning alert
function showWarningAlert(message) {
    const container = document.getElementById('warning-message-container');
    if (container) {
        const warningMessage = `
            <div class="msg msg-warning show d-flex align-items-center justify-content-center text-center fade-in" role="alert" style="color: black;">
                <div class="d-flex align-items-center justify-content-center">
                    <lord-icon src="https://cdn.lordicon.com/ygvjgdmk.json" trigger="in" delay="100" colors="primary:#e88c30" style="width:50px;height:50px"></lord-icon>
                </div>
                ${message}
            </div>
        `;
        container.innerHTML = warningMessage;

        setTimeout(function() {
            const msgElement = container.querySelector('.msg');
            if (msgElement) {
                msgElement.classList.remove('fade-in');
                msgElement.classList.add('fade-out');
                setTimeout(function() {
                    container.innerHTML = '';
                }, 700); 
            }
        }, 4000); 
    } else {
        console.error("Warning message container not found.");
    }
}

// Function to decrease quantity
function decreaseQuantity(event) {
    const productId = event.target.dataset.productId;
    const quantityElement = document.getElementById("quantity" + productId);
    
    if (quantityElement) {
        const currentQuantity = parseInt(quantityElement.innerText);

        if (currentQuantity > 1) {
            updateQuantity(productId, -1);
        } else {
            showWarningAlert("Quantity cannot be less than 1");
        }
    } else {
        console.error("Quantity element not found for product ID:", productId);
    }
}

// Function to increase quantity
function increaseQuantity(event) {
    const productId = event.target.dataset.productId;
    const inStock = parseInt(event.target.dataset.inStock); 
    const quantityElement = document.getElementById("quantity" + productId);

    if (quantityElement) {
        const currentQuantity = parseInt(quantityElement.innerText);
        const maxQuantity = Math.min(isNaN(inStock) ? 5 : inStock, 5); 

        if (currentQuantity < maxQuantity) {
            updateQuantity(productId, 1);
        } else {
            showWarningAlert(`Quantity cannot exceed ${maxQuantity}`);
        }
    } else {
        console.error("Quantity element not found for product ID:", productId);
    }
}

function updateQuantity(productId, change) {
    $.ajax({
        url: `/updateQuantity?productId=${productId}&change=${change}`,
        type: 'POST',
        success: function (response) {
            const cartItem = response.savedCart.cartItems.find(item => item.productId === productId);
            const newQuantity = cartItem.quantity;
            const discountPrice = parseFloat(document.getElementById(`price${productId}`).dataset.price);
            const newPrice = newQuantity * discountPrice;

            document.getElementById(`quantity${productId}`).innerText = newQuantity;
            document.getElementById(`price${productId}`).innerText = `₹ ${newPrice}`;

            // Update total price, subtotal, total MRP, and total discount
            updateTotalPrice(response.savedCart.cartItems);
            updateSubtotal(response.savedCart.cartItems);
            updateTotalMRP(response.savedCart.cartItems);
            updateTotalDiscount(response.savedCart.cartItems);
        },
        error: function (error) {
            console.error('Error updating quantity:', error);
            $('#quantityErrorMessage').text('Quantity error: ' + error.responseJSON.message);
            $('#quantityErrorModal').modal('show');
        }
    });
}

function updateTotalPrice(cartItems) {
    let totalPrice = 0;
    const shippingCost = 40;

    cartItems.forEach(item => {
        const itemPrice = parseFloat(document.getElementById(`price${item.productId}`).dataset.price);
        const itemTotal = item.quantity * itemPrice;
        const itemTax = itemTotal * 0.18; // Calculate 18% tax
        totalPrice += itemTotal + itemTax;
    });

    totalPrice += shippingCost; 

    document.getElementById('totalPrice').innerText = `₹ ${totalPrice.toFixed(2)}`;
}


function updateSubtotal(cartItems) {
    let subtotal = 0;
    cartItems.forEach(item => {
        const itemPrice = parseFloat(document.getElementById(`price${item.productId}`).dataset.price);
        subtotal += item.quantity * itemPrice;
    });
    document.getElementById('Subtotal').innerText = `₹ ${subtotal}`;
}

function updateTotalMRP(cartItems) {
    let totalMRP = 0;
    totalMRP = cartItems.reduce((acc, cartItem) => acc + cartItem.quantity * cartItem.productDetails[0].price, 0);
    document.getElementById('total-mrp').innerText = `₹ ${totalMRP}`;
}

function updateTotalDiscount(cartItems) {
    let totalDiscount = 0;
    totalDiscount = cartItems.reduce((acc, cartItem) => 
        acc + cartItem.quantity * (cartItem.productDetails[0].price - cartItem.productDetails[0].discountPrice), 0
    );
    document.getElementById('discount').innerText = `₹ ${totalDiscount}`;
}


document.querySelectorAll('.remove-from-cart a').forEach(button => {
    button.addEventListener('click', confirmRemoveFromCart);
});

async function confirmRemoveFromCart(event) {
    event.preventDefault(); // Prevent the default action

    const productId = event.currentTarget.dataset.productId;

    const result = await Swal.fire({
        title: 'Are you sure ?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#FF3B30',
        cancelButtonColor: '#007AFF',
        confirmButtonText: 'Yes, remove',
        cancelButtonText: 'No, keep',
        customClass: {
            popup: 'swal2-custom-popup',
            title: 'swal2-custom-title',
            content: 'swal2-custom-content',
            confirmButton: 'swal2-custom-confirm-button',
            cancelButton: 'swal2-custom-cancel-button'
        }
    });

    if (result.isConfirmed) {
        removeFromCart(productId);
    }
}

async function removeFromCart(productId) {
    try {
        const response = await fetch(`/removeFromCart?productId=${productId}`, {
            method: 'GET'
        });

        if (response.ok) {
            Swal.fire(
                'Removed!',
                'The product has been removed from your cart.',
                'success'
            ).then(() => {
                window.location.reload();
            });
        } else {
            Swal.fire(
                'Error!',
                'There was an error removing the product from your cart.',
                'error'
            );
        }
    } catch (error) {
        Swal.fire(
            'Error!',
            'There was an error removing the product from your cart.',
            'error'
        );
    }
}

</script>
    
<%- include('../layouts/homeFooter') %>
