<%- include('../layouts/checkoutHeader') %>
<%- include('../layouts/userHomeHeader') %>




    <div class="shipping-offer-container">
        <p class="shipping-offer">Melt free Delivery PAN India! 🚚</p>
    </div>
    <!-- header section start -->
    <header class="header pt-30 pb-30  header-sticky">
        <div class="container-fluid">
            <div class="header-nav  position-relative">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-1 col-md-6 col-sm-6 col-3">
                        <div class="logo">
                            <a href="/home"><img src="/assets/img/logo/logo1.png" alt=""></a>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-8 hidden-md position-static">
                        <div class="header-nav header-nav-2 pl-100">
                            <nav class="d-flex justify-content-center align-content-center"> 
                                <ul>
                                    <li><a href="/home"><span>Home </span></a></li>
                                    <li><a href="/loadShop"><span>Shop <i class="fas fa-angle-down"></i></span></a>
                                            <div class="submenu" style="border-radius: 13px;">
                                                <ul>
                                                    <li><a href="#">All Products </a></li>
                                                    <li><a href="#">Trending</a></li>
                                                    <li><a href="#">Best Seller</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    <li><a href="javascript:void(0)"><span>Best Deals</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:void(0)"><span>Top Brands <i
                                                    class="fas fa-angle-down"></i></span> </a>
                                        <ul class="submenu" style="border-radius: 13px;">
                                            <li><a href="portfolio.html">Lindt</a></li>
                                            <li><a href="portfolio2.html">Whittaker's</a></li>
                                            <li><a href="portfolio3.html">Buttlers's</a></li>
                                            <li><a href="portfolio3.html">Milka</a></li>
                                            <li><a href="portfolio3.html">Ferrero</a></li>
                                            <li><a href="portfolio3.html">Cadbury</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0)"><span>Gifting</span> <i
                                                class="fas fa-angle-down"></i></a>
                                        <ul class="submenu" style="border-radius: 13px;">
                                            <li><a href="about.html">Gift Hampers</a></li>
                                            <li><a href="contact.html">Bulk Orders</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html"><span>Contact</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9 hidden-md">
                        <div class="header-right">
                            <ul class="text-right">
                                <% if (!locals.user) { %>
                                    <li>
                                        <a href="/login" class="account">
                                            <button class="signup-button"> 
                                                Sign up
                                            </button>
                                            <lord-icon
                                                src="https://cdn.lordicon.com/kthelypq.json"
                                                trigger="hover"
                                                colors="primary:#000000"
                                                style="width:22px;height:22px; padding-top: 6px;">
                                            </lord-icon>
                                        </a>
                                    </li>
                                <% } else { %>
                                    <a href="/profileDetails" class="account">
                                        <lord-icon
                                            src="https://cdn.lordicon.com/kthelypq.json"
                                            trigger="hover"
                                            colors="primary:#000000"
                                            style="width:23px;height:23px; padding-top: 6px;">
                                        </lord-icon>
                                    </a>
                                <% } %>                                
                                <li><a href="javascript:void(0)"><lord-icon
                                    src="https://cdn.lordicon.com/kkvxgpti.json"
                                    trigger="hover"
                                    colors="primary:#000000"
                                    style="width:22px;height:22px; padding-top: 4.5px; padding-left: 2px;">
                                </lord-icon>

                                    <!-- search popup -->
                                    <div id="search-popup">
                                        <div class="close-search-popup">
                                            <lord-icon
                                            src="https://cdn.lordicon.com/kkvxgpti.json"
                                            trigger="hover"
                                            colors="primary:#000000"
                                            style="width:20px;height:20px;">
                                        </lord-icon>
                                        </div>
                                        <div class="search-popup-inner mt-135">
                                            <div class="search-title text-center">
                                                <h2>Search</h2>
                                            </div>

                                            <div class="search-content pt-55">
                                                <ul class="text-center">
                                                    <li><a href="javascript:void(0)" class="active">All categories</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)">Clothing</a></li>
                                                    <li><a href="javascript:void(0)">Gift Cards</a></li>
                                                    <li><a href="javascript:void(0)">Handbag</a></li>
                                                    <li><a href="javascript:void(0)">Kids</a></li>
                                                    <li><a href="javascript:void(0)">Shoes</a></li>
                                                    <li><a href="javascript:void(0)">Sneaker</a></li>
                                                    <li><a href="javascript:void(0)">Women</a></li>
                                                </ul>

                                                <div class="search-form mt-35">
                                                    <form action="#" method="post">
                                                        <input type="text" placeholder="Search Products...">
                                                        <button type="submit"> <img src="/assets/Vector1.svg" style="width: 22px; height: 20px;"></button>                                                    </form>
                                                </div>

                                                <div class="search-result-list">
                                                    <ul class="text-left">
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                    chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                    deck chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                    fabric deck chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                    chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                    deck chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                    fabric deck chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="bottom"
                                        title="view wishlist"><lord-icon
                                        src="https://cdn.lordicon.com/xyboiuok.json"
                                        trigger="hover"
                                        colors="primary:#000000"
                                        style="width:24px;height:24px; padding-top: 4.8px;">
                                    </lord-icon></a></li>
                                <li><a href="/cart"> <lord-icon
                                    src="https://cdn.lordicon.com/mfmkufkr.json"
                                    trigger="hover"
                                    colors="primary:#ef829f"
                                    style="width:23px;height:23px; padding-top: 4.2px;">
                                </lord-icon><span></span></i></a>
                                    <!-- <div class="minicart">
                                        <div class="minicart-body">
                                            <div class="minicart-content">
                                                <ul class="text-left">
                                                    <li>
                                                        <div class="minicart-img">
                                                            <a href="/product-1" class="p-0"><img src="/assets/img/product/P-1.webp"
                                                                    class="w-100" alt=""></a>
                                                        </div>
                                                        <div class="minicart-desc">
                                                            <a href="/product-1" class="p-0">Capitalize on low hanging fruit
                                                                t</a>
                                                            <strong>1 × $250.00</strong>
                                                        </div>
                                                        <div class="remove">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="minicart-img">
                                                            <a href="/product-1" class="p-0"><img src="/assets/img/product/2.jpg"
                                                                    class="w-100" alt=""></a>
                                                        </div>
                                                        <div class="minicart-desc">
                                                            <a href="/product-1" class="p-0">Leather Courriere duffle ba</a>
                                                            <strong>1 × $150.00</strong>
                                                        </div>
                                                        <div class="remove">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                    </li>


                                                    <li>
                                                        <div class="minicart-img">
                                                            <a href="/product-1" class="p-0"><img src="/assets/img/product/3.jpg"
                                                                    class="w-100" alt=""></a>
                                                        </div>
                                                        <div class="minicart-desc">
                                                            <a href="/product-1" class="p-0">Party Supplies Around Cupcake</a>
                                                            <strong>1 × $150.00</strong>
                                                        </div>
                                                        <div class="remove">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="minicart-checkout">
                                            <div class="minicart-checkout-heading mt-8 mb-25 overflow-hidden">
                                                <strong class="float-left">Subtotal:</strong>
                                                <span class="price float-right">503.00</span>
                                            </div>
                                            <div class="minicart-checkout-links">
                                                <a href="cart.html"
                                                    class="generic-btn black-hover-btn text-uppercase w-100 mb-20">View
                                                    cart</a>
                                                <a href="checkout.html"
                                                    class="generic-btn black-hover-btn text-uppercase w-100 mb-20">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="/assets/Icon4.svg" style="width: 30px; height: 28px; ">
                                    </a>
                                    <ul class="submenu text-right" style="border-radius: 13px;">
                                        <% if (locals.user) { %>
                                            <li><a href="/profileDetails">My profile</a></li>
                                            <li><a href="checkout.html">My address</a></li>
                                            <li><a href="/loadShop">Orders</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="/logout">logout</a></li>
                                        <% } else { %>
                                            <li><a href="/login">My profile</a></li>
                                            <li><a href="checkout.html">My address</a></li>
                                            <li><a href="/loadShop">Orders</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="/login">Sign in</a></li>
                                        <% } %>
                                    </ul>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu visible-sm">
                <div id="mobile-menu">
                    <ul>
                        <li><a class="pl-3" href="javascript:void(0)">Home</a></li>
                        <li><a class="pl-3" href="javascript:void(0)">Shop</a>
                            <ul>
                                <li><a href="#">All Products </a></li>
                                <li><a href="#">Trending</a></li>
                                <li><a href="#">Best Seller</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Best Deals</a>
                        </li>
                        <li><a href="javascript:void(0)">Gifting</a>
                            <ul>
                                <li><a href="portfolio.html">Gifting</a></li>
                                <li><a href="portfolio2.html">Bundle Hamper</a></li>
                                <li><a href="portfolio3.html">Bulk Orders</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- /. mobile nav -->
        </div>
    </header>
    <!-- header section end -->


<!-- shop body section start -->
<section class="cart-body mb-90" style="font-family: poppins;">
    <div class="has-breadcrumb-content">
        <div class="container container-1430">
            <div class="breadcrumb-content" style="flex-direction: column;">
                <div class="has-breadcrumb-bg" data-background="img/bg/3.jpg">
                    <div class="breadcrumb-content d-flex justify-content-center align-items-center" style="flex-direction: column;">
                        <h3 class="title" style="font-size: 35px; font-family: poppins; font-weight: 500;">
                            <img src="/assets/img/logo/Shop_icon.png" style="width: 50px; height: 50px; padding-bottom: 3px; padding-right: 4px;">Checkout</h3>
                        <nav aria-label="breadcrumb" class="mb-40">
                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <% if (productData && productData.length > 0) { %> 
                <% productData.forEach(function(product) { %>
                    <% if(product.inStock <= 0){ %>
                    <div class="mb-4 p-2 center-content" style="background-color: rgb(255, 154, 154); display: flex; justify-content: center; align-items: center;">
                        <h5>Product is Out Of Stock</h5>
                    </div>
                <% } %>
                <% }) %>
            <% } %>
            <div class="billing_details ml-5 mr-5">
                <div class="row">
                    <div class="col-lg-8">
                        <h3 class="mb-4">DELIVERY ADDRESS</h3>
                        <div class="row">
                            <% if(userAddress.length > 0) { %>
                                <% for (let i = 0; i < userAddress.length; i++) { %>
                                    <div class="col-md-6 mb-3">
                                        <div class="card address-card" onclick="highlightSelectedAddress(this, '<%= i %>')" style="cursor: pointer; border-radius: 12px;" onchange="toggleButtonVisibility('<%= i %>')">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <h5 class="card-title">
                                                        <input type="radio" name="address" value="<%= userAddress[i]._id %>" id="address<%= i %>">
                                                        <label for="address<%= i %>">
                                                            <% if (userAddress[i].is_Home) { %>
                                                                Home
                                                            <% } else if (userAddress[i].is_Work) { %>
                                                                Work
                                                            <% } %>
                                                            | <%= userAddress[i].name %> | <%= userAddress[i].Mobile %>
                                                        </label>
                                                    </h5>
                                                    <button id="button<%= i %>" class="genric-btn primary radius" style="display: none; color: limegreen; border: none; border-radius: 8px; background: transparent;" onclick="showPaymentMethods('<%= i %>')">Deliver Here</button>
                                                </div>
                                                <p class="card-text"><%= userAddress[i].address %>, <%= userAddress[i].Locality %> Subdistrict, <%= userAddress[i].city %> District, <%= userAddress[i].state %></p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                            <!-- Add new address -->
                            <div class="col-md-12 mb-3">
                                <button class="frame-frame-1 mb-50" id="addNewAddressBtn" style="border: none; border-radius: 10px; width: 110px; align-items: center; height: 40px;">
                                    <div class="frame-add-new" style="color: white;">Add new</div>
                                </button>
            
                                <div id="newAddressForm" style="display: none; background-color: #f9f9f9; border-radius: 10px; padding: 4px;" class="card">
                                    <div class="card-body">
                                        <form action="/addAddress" id="myForm" method="POST" onsubmit="AddAddressFormSubmit(event)">
                                            <div class="row">
                                                <div class="mb-3 col-md-12">
                                                    <label for="firstName" class="form-label">Full name (First and Last name)</label>
                                                    <input class="form-control" type="text" id="fullName" name="name" placeholder="Full Name" autofocus />
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label for="email" class="form-label">E-mail</label>
                                                    <input class="form-control" type="text" id="email" name="email" placeholder="example@gmail.com" />
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label class="form-label" for="phoneNumber">Phone Number</label>
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text">IN (+91)</span>
                                                        <input type="number" id="phone" name="Mobile" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="mb-3 col-md-12">
                                                    <label for="address" class="form-label">Address</label>
                                                    <input type="text" class="form-control" id="address" name="address" placeholder="Flat, House no., Building, Company, Apartment" />
                                                    <p id="message" style="font-size: 13px; font-family: poppins; font-weight: 400;"></p>
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label for="organization" class="form-label">Area/Street</label>
                                                    <input type="text" class="form-control" id="street" name="street" placeholder="Area, Street, Sector, Village" />
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label for="organization" class="form-label">LandMark (Optional)</label>
                                                    <input type="text" class="form-control" id="landmark" name="landmark" placeholder="Apartment, suite, unit, building, floor, etc." />
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label for="state" class="form-label">City</label>
                                                    <input class="form-control" type="text" id="city" name="city" />
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label for="state" class="form-label">State</label>
                                                    <input class="form-control" type="text" id="state" name="state" />
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label for="zipCode" class="form-label">Pin code</label>
                                                    <input type="text" class="form-control" id="PIN" name="PIN" placeholder="6 digits - PIN code" maxlength="6" />
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label class="form-label" for="country">Country/Region</label>
                                                    <select id="country" class="select2 form-select" name="country">
                                                        <option value="">Select</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 mb-3">
                                                    <label for="name" class="">Address Type</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="addressType" id="home" value="home">
                                                        <label class="form-check-label" for="home"> Home</label>
                                                        
                                                        <input class="form-check-input ml-4" type="radio" name="addressType" id="work" value="work">
                                                        <label class="form-check-label ml-5" for="work"> Work</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-2">
                                                <button type="submit" class="btn btn-primary me-2" style="font-family: poppins; font-weight: 300; border-radius: 8px; height: 30px; font-size: 13px;">Save changes</button>
                                                <button type="button" onclick="clearForm()" class="btn" style="font-family: poppins; border-radius: 8px; height: 30px; font-size: 13px;">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <main class="container">
                                <div class="row justify-content-between my-3">
                                    <div class="col-md-6">
                                        <h3> Review items and delivery</h3>
                                    </div>
                                    <!-- <div class="col-md-6 text-right">
                                        <button class="btn btn-primary">Track Order</button>
                                        <button class="btn btn-secondary">Invoice</button>
                                    </div> -->
                                </div>
                                
                                <div class="row my-3">
                                    <div class="col-md-6">
                                        <p style="color: limegreen;">Estimated delivery: Jul 05, 2024</p>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <p>Order date: Jun 26, 2024</p>
                                    </div>
                                </div>
                                
                                <hr>
                                <% productData.forEach(function(product) { %>
                                <div class="row my-3">
                                    <div class="frame-wrapper-1 col-md-6 d-flex align-items-center">
                                        <img  src="/assets/img/brands/<%= product.image[0] %>" class="order-img  mr-3">
                                        <div>
                                            <h6><%= product.productName %></h6>
                                            <p><%= product.size %></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <p>₹<%= product.discountPrice %></p>
                                        <p>Qty:<%= product.quantity || 1 %></p>
                                    </div>
                                </div>
                                <% }) %>
                                
                                <hr>
                                
                                <div class="row my-3">
                                    <div class="col-md-6">
                                        <h6>Payment Method</h6>
                                        <p>COD(cash on Delivery)</p>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <h6>Delivery</h6>
                                        <p>847 Kozhikode skyline Apt. 174, Kozhikode, IN</p>
                                        <p>9544675885</p>
                                        <p>Kerala</p>
                                    </div>
                                </div>
                                
                                <hr>
                                
                                <div class="row my-3">
                                    <div class="col-md-6">
                                        <h6>Delivery method</h6>
                                        
                                    </div>
                                </div>
                                
                                <hr>
                                
                                <div class="row my-3">
                                    <div class="col-md-12">
                                        <h6>Need help?</h6>
                                        <p>When your order is placed, we'll send you an e-mail message acknowledging receipt of your order. 
                                            If you choose to pay using an electronic payment method (credit card, debit card or net banking), 
                                            you will be directed to your bank's website to complete your payment. Your contract to purchase an item will not be complete until we receive your electronic payment and dispatch your item. 
                                            If you choose to pay using Pay on Delivery (POD), you can pay using cash/card/net banking when you receive your item.</p>
                                    </div>
                                </div>
                            </main>
                            
                            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="cart-summary">
                            <h4 class="title">Payment method</h4>
                            <p>Choose a payment method to continue Checkout.</p>
                            <div class="payment-options" id="paymentMethods">
                                <div class="row">
                                    <div class="col-4 p-0">
                                        <div class="payment-option" id="razorPayOption">
                                            <input type="radio" id="razorPay" name="paymentMethod" value="RazorPay">
                                            <label for="razorPay">
                                                <img src="/assets/img/logo/razroPay_img.png" alt="Payment Option 1" class="payment-image">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-4 p-0">
                                        <div class="payment-option" id="upiOption">
                                            <input type="radio" id="upiPayment" name="paymentMethod" value="UPI">
                                            <label for="upiPayment">
                                                <img src="/assets/img/logo/upi_img.png" alt="Payment Option 2" class="payment-image">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-4 p-0">
                                        <div class="payment-option" id="codOption">
                                            <input type="radio" id="codPayment" name="paymentMethod" value="COD">
                                            <label for="codPayment">
                                                <img src="/assets/img/logo/cashondelivery_img.png" alt="Payment Option 3" class="payment-image">
                                            </label>
                                        </div>
                                    </div>
                                </div>                                
                                
                                <input type="radio" id="wallet" name="paymentMethod" value="Wallet">
                                <label for="wallet">Use Wallet</label>    
                            </div>                            
                            <h4 class="title">Order Summary</h4>
                            <% if (productData && productData.length > 0) { %> 
                            <table class="table table-cart-summary" style="font-family: Poppins;">
                                <tbody>
                                    <tr>
                                        <th class="cart-summary-title">Total MRP</th>
                                        <td class="cart-summary-price p-0 total-mrp">₹<%= totalPrice %></td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <th class="cart-summary-title">Discount</th>
                                        <td class="cart-summary-price p-0 total-discount" style="color: rgb(92, 173, 92);">₹0</td>
                                    </tr>
                                    <tr>
                                        <th class="cart-summary-title pb-10">Shipping <p>(4-6 Business days)</p></th>
                                        <td class="cart-summary-price p-0 shipping">₹40</td>
                                    </tr>
                                    <tr>
                                        <th class="cart-summary-title pb-10 border-bottom">Tax <p>(estimated for India (IN))</p></th>
                                        <td class="cart-summary-price p-0 border-bottom">₹0</td>
                                    </tr>
                                    <tr>
                                        <th class="cart-summary-title pb-10" style="font-size: 22px;">Total</th>
                                        <td class="cart-summary-price p-0">₹<%= totalPrice + 40 %></td>
                                    </tr>
                                </tbody>
                            </table>
                            <% } %>
                            <button id="confirmOrderBtn" class="mt-20 btn btn-checkout w-100 d-block" style="height: 50px;">Place your Order</button>
                        </div>
                    </div>



                    <script>
                        // Add new address
                        document.getElementById('addNewAddressBtn').addEventListener('click', function() {
                            var newAddressForm = document.getElementById('newAddressForm');
                            if (newAddressForm.style.display === 'none') {
                                newAddressForm.style.display = 'block';
                            } else {
                                newAddressForm.style.display = 'none';
                            }
                        });
                        
                        // Address form submission
                        function AddAddressFormSubmit(event) {
                            event.preventDefault();
                            const index = '';
                            if (!addressValidation(index)) {
                                return;
                            }
                            const form = document.getElementById('myForm');
                            const formData = new FormData(form);
                            const url = '/addAddress'; 
                        
                            const jsonObject = {};
                            formData.forEach((value, key) => {
                                jsonObject[key] = value;
                            });
                        
                            jsonObject.is_Home = document.getElementById('home').checked;
                            jsonObject.is_Work = document.getElementById('work').checked;
                        
                            fetch(url, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(jsonObject)
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    Swal.fire({
                                        title: "New Address Added",
                                        text: "New Address Added successfully!",
                                        icon: "success"
                                    }).then(() => {
                                        window.location.reload();
                                    });
                                } else {
                                    let message = document.getElementById('message');
                                    message.style.color = "red";
                                    message.innerText = `${data.message}`;
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        }
                        
function highlightSelectedAddress(card, index) {
    // Remove selected class from all address cards
    document.querySelectorAll('.address-card').forEach(function(card) {
        card.classList.remove('selected');
        // Hide all 'Deliver Here' buttons
        card.querySelector('.genric-btn').style.display = 'none';
    });

    // Add selected class to the clicked card
    card.classList.add('selected');

    // Show the 'Deliver Here' button for the selected card
    document.getElementById('button' + index).style.display = 'block';
}

                        
function showPaymentMethods(addressId) {
    document.getElementById('paymentMethods').style.display = 'block';
    console.log('Selected address: ' + addressId);
}

                        
document.addEventListener('DOMContentLoaded', function() {
    const paymentOptions = document.querySelectorAll('.payment-option');

    paymentOptions.forEach(option => {
        option.addEventListener('click', function() {
            paymentOptions.forEach(opt => opt.classList.remove('selected'));
            this.classList.add('selected');
        });
    });
});

                        
                        function handlePaymentSelection() {
    const onlinePaymentRadio = document.getElementById('onlinePayment');
    const cashOnDeliveryRadio = document.getElementById('cashOnDelivery');
    const walletRadio = document.getElementById('wallet');

    const buttonProceed = document.getElementById('buttonProceed');
    const buttonConform = document.getElementById('buttonConform');
    const WalletButtonConform = document.getElementById('WalletButtonConform');

    if (onlinePaymentRadio.checked) {
        buttonProceed.style.display = 'block';
        buttonConform.style.display = 'none';
        WalletButtonConform.style.display = 'none';
    } else if (cashOnDeliveryRadio.checked) {
        buttonProceed.style.display = 'none';
        buttonConform.style.display = 'block';
        WalletButtonConform.style.display = 'none';
    } else if (walletRadio.checked) {
        buttonProceed.style.display = 'none';
        buttonConform.style.display = 'none';
        WalletButtonConform.style.display = 'block';
    }
}

//Confirm Order Script                        
document.getElementById('confirmOrderBtn').addEventListener('click', function() {
    Swal.fire({
        title: "Confirm Order",
        text: "Are you sure you want to place this order?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Yes, place order",
        cancelButtonText: "No, cancel",
        reverseButtons: true
    }).then((result) => {
        if (result.isConfirmed) {
            const selectedAddressId = document.querySelector('input[name="address"]:checked').value;
            const selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;

            confirmOrder(selectedAddressId, selectedPaymentMethod);
        } else {
            console.log("Order canceled.");
        }
    });
});

function confirmOrder(addressId, paymentMethod) {
    fetch('/createOrder', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ addressId, paymentMethod })
    })
    .then(response => {
        if (!response.ok) {
            return response.text().then(text => {
                throw new Error(`HTTP error! Status: ${response.status}. Message: ${text}`);
            });
        }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            Swal.fire({
                title: "Order Placed",
                text: "Your Order is Confirmed",
                icon: "success"
            }).then(() => {
                window.location.href = `/orderDetails?orderId=${data.orderId}`;
            });
        } else {
            Swal.fire('Sorry', data.message, 'warning');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire('Error', 'Network Error. Try again.', 'error');
    });
}

</script>
<script src="/js/countries.js"></script>
<script src="/js/addressValidation.js"></script>                  
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                    

    <%- include('../layouts/homeFooter') %>
