  
  <%- include('../layouts/userOrderHeader') %>
  <%- include('../layouts/userHomeHeader') %>

  
   <!-- header section start -->
   <header class="header pt-3 pb-4 header-sticky" style="height: 4.5rem;">
    <div class="container-fluid">
        <div class="header-nav  position-relative">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-1 col-md-6 col-sm-6 col-3">
                    <div class="logo">
                        <a href="/home"><img src="/assets/img/logo/logo1.png" alt="" style="width: 100%; height: 100%;"></a>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-8 hidden-md position-static">
                    <div class="header-nav header-nav-2 pl-100">
                        <nav class="d-flex justify-content-center align-content-center"> 
                            <ul>
                                <li><a href="/home" ><span>Home </span></a></li>
                                <li><a href="/loadShop"><span>Shop <i class="fas fa-angle-down"></i></span></a>
                                        <div class="submenu" style="border-radius: 13px;">
                                            <ul>
                                                <li><a href="#">All Products </a></li>
                                                <li><a href="#">Trending</a></li>
                                                <li><a href="#">Best Seller</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                <li><a href="javascript:void(0)"><span>Best Deals</span>
                                    </a>
                                </li>
                                <li><a href="javascript:void(0)"><span>Top Brands <i
                                                class="fas fa-angle-down"></i></span> </a>
                                    <ul class="submenu" style="border-radius: 13px;">
                                        <li><a href="portfolio.html">Lindt</a></li>
                                        <li><a href="portfolio2.html">Whittaker's</a></li>
                                        <li><a href="portfolio3.html">Buttlers's</a></li>
                                        <li><a href="portfolio3.html">Milka</a></li>
                                        <li><a href="portfolio3.html">Ferrero</a></li>
                                        <li><a href="portfolio3.html">Cadbury</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)"><span>Gifting</span> <i
                                            class="fas fa-angle-down"></i></a>
                                    <ul class="submenu" style="border-radius: 13px;">
                                        <li><a href="about.html">Gift Hampers</a></li>
                                        <li><a href="contact.html">Bulk Orders</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9 hidden-md">
                    <div class="header-right">
                        <ul class="text-right">
                            <% if (!locals.user) { %>
                                <li>
                                    <a href="/login" class="account">
                                        <button class="signup-button"> 
                                            Sign up
                                        </button>
                                        <lord-icon
                                            src="https://cdn.lordicon.com/kthelypq.json"
                                            trigger="hover"
                                            colors="primary:#000000"
                                            style="width:22px;height:22px; padding-top: 6px;">
                                        </lord-icon>
                                    </a>
                                </li>
                            <% } else { %>
                                <a href="/profileDetails" class="account">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/kthelypq.json"
                                        trigger="hover"
                                        colors="primary:#ef829f"
                                        style="width:23px;height:23px; padding-top: 6px;">
                                    </lord-icon>
                                </a>
                            <% } %>                                
                            <li><a href="javascript:void(0)"><lord-icon
                                src="https://cdn.lordicon.com/kkvxgpti.json"
                                trigger="hover"
                                colors="primary:#000000"
                                style="width:22px;height:22px; padding-top: 4.5px; padding-left: 2px;">
                            </lord-icon>

                                <!-- search popup -->
                                <div id="search-popup">
                                    <div class="close-search-popup">
                                        <lord-icon
                                        src="https://cdn.lordicon.com/kkvxgpti.json"
                                        trigger="hover"
                                        colors="primary:#000000"
                                        style="width:20px;height:20px;">
                                    </lord-icon>
                                    </div>
                                    <div class="search-popup-inner mt-135">
                                        <div class="search-title text-center">
                                            <h2>Search</h2>
                                        </div>

                                        <div class="search-content pt-55">
                                            <ul class="text-center">
                                                <li><a href="javascript:void(0)" class="active">All categories</a>
                                                </li>
                                                <li><a href="javascript:void(0)">Clothing</a></li>
                                                <li><a href="javascript:void(0)">Gift Cards</a></li>
                                                <li><a href="javascript:void(0)">Handbag</a></li>
                                                <li><a href="javascript:void(0)">Kids</a></li>
                                                <li><a href="javascript:void(0)">Shoes</a></li>
                                                <li><a href="javascript:void(0)">Sneaker</a></li>
                                                <li><a href="javascript:void(0)">Women</a></li>
                                            </ul>

                                            <div class="search-form mt-35">
                                                <form action="#" method="post">
                                                    <input type="text" placeholder="Search Products...">
                                                    <button type="submit"> <img src="/assets/Vector1.svg" style="width: 22px; height: 20px;"></button>                                                    </form>
                                            </div>

                                            <div class="search-result-list">
                                                <ul class="text-left">
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                fabric deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                fabric deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="/wishlist" data-toggle="tooltip" data-placement="bottom"
                                    title="view wishlist"><lord-icon
                                    src="https://cdn.lordicon.com/xyboiuok.json"
                                    trigger="hover"
                                    colors="primary:#000000"
                                    style="width:24px;height:24px; padding-top: 4.8px;">
                                </lord-icon></a></li>
                            <li><a href="/cart"> <lord-icon
                                src="https://cdn.lordicon.com/mfmkufkr.json"
                                trigger="hover"
                                colors="primary:#000000"
                                style="width:23px;height:23px; padding-top: 4.2px;">
                            </lord-icon><span></span></i></a>
                                <!-- <div class="minicart">
                                    <div class="minicart-body">
                                        <div class="minicart-content">
                                            <ul class="text-left">
                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/P-1.webp"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Capitalize on low hanging fruit
                                                            t</a>
                                                        <strong>1 × $250.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/2.jpg"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Leather Courriere duffle ba</a>
                                                        <strong>1 × $150.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>


                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/3.jpg"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Party Supplies Around Cupcake</a>
                                                        <strong>1 × $150.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="minicart-checkout">
                                        <div class="minicart-checkout-heading mt-8 mb-25 overflow-hidden">
                                            <strong class="float-left">Subtotal:</strong>
                                            <span class="price float-right">503.00</span>
                                        </div>
                                        <div class="minicart-checkout-links">
                                            <a href="cart.html"
                                                class="generic-btn black-hover-btn text-uppercase w-100 mb-20">View
                                                cart</a>
                                            <a href="checkout.html"
                                                class="generic-btn black-hover-btn text-uppercase w-100 mb-20">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="/assets/Icon4.svg" style="width: 30px; height: 28px;">
                                </a>
                                <ul class="submenu text-right" style="border-radius: 13px;">
                                    <% if (locals.user) { %>
                                        <li><a href="/profileDetails">My profile</a></li>
                                        <li><a href="checkout.html">My address</a></li>
                                        <li><a href="/loadShop">Orders</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/logout">logout</a></li>
                                    <% } else { %>
                                        <li><a href="/login">My profile</a></li>
                                        <li><a href="checkout.html">My address</a></li>
                                        <li><a href="/loadShop">Orders</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/login">Sign in</a></li>
                                    <% } %>
                                </ul>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu visible-sm">
            <div id="mobile-menu">
                <ul>
                    <li><a class="pl-3" href="javascript:void(0)">Home</a></li>
                    <li><a class="pl-3" href="javascript:void(0)">Shop</a>
                        <ul>
                            <li><a href="#">All Products </a></li>
                            <li><a href="#">Trending</a></li>
                            <li><a href="#">Best Seller</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">Best Deals</a>
                    </li>
                    <li><a href="javascript:void(0)">Gifting</a>
                        <ul>
                            <li><a href="portfolio.html">Gifting</a></li>
                            <li><a href="portfolio2.html">Bundle Hamper</a></li>
                            <li><a href="portfolio3.html">Bulk Orders</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <!-- /. mobile nav -->
    </div>
</header>
<!-- header section end -->
<div class="has-breadcrumb-bg m-0" data-background="img/bg/3.jpg">
    <div class="breadcrumb-content d-flex justify-content-center align-items-center hidden-md p-sm-0" style="flex-direction: column;">
        <h3 class="title">
            <img src="/assets/img/logo/Orders_Icon.png" style="width: 50px; height: 50px; padding-bottom: 6px; padding-right: 3px;">My Orders
        </h3>
        <nav aria-label="breadcrumb" class="mb-">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Orders</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-xxl flex-grow-1 container-p-y pt-md-">
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3 mb-5 hidden-md">
            <div class="sidebar pl-5 pr-0 sidebar-text">
                <ul class="nav flex-column">
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/profileDetails" onclick="setActive(this)">Personal info</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/ordersManage" onclick="setActive(this)">Orders</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/wallet" onclick="setActive(this)">Wallet</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/addressManage" onclick="setActive(this)">Address</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/wishlist" onclick="setActive(this)">Wishlist</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/coupons" onclick="setActive(this)">Coupons</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" id="logoutButton" href="/logout" onclick="setActive(this)">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
          <!-- Main Content Column -->
          <div class="col-md-9 pl-0">
            <h4 class="col-md-6 profile-head p-0">Your Orders 🛍️</h4>
            <p class="col-md-6 p-head p-0">Here's your Orders history.</p>
            <% const statusColors = { 'cancelled': '#FF3B30', 'order confirmed': 'limegreen' , 'returned': '#ffad47', 'pending': '#ff4600' }; %>
            <% function capitalizeFirstLetter(string) { %>
            <%= string.charAt(0).toUpperCase() + string.slice(1) %>
            <% } %>
            <% if (orders.length > 0) { %>
                <% orders.forEach((order, index) => { %>
                    <h1>Order <%= totalOrders - (ordersPerPage * (currentPage - 1) + index) %></h1>
                    <div style="display: flex; justify-content: space-between; align-items: center; flex-direction: row; width: 988px;">
                        <h5 class="status" id="orderStatus-<%= order._id %>" data-order-id="<%= order._id %>">
                            Status: 
                            <span style="color: <%= statusColors[order.orderStatus] || 'defaultColor' %>;">
                                <%= capitalizeFirstLetter(order.orderStatus) %>
                            </span>
                        </h5> 
                        <% if (order.orderStatus === 'pending') { %>
                            <!-- Pay again button -->
                            <button type="button" class="payAgain-btn" data-order-id="<%= order._id %>">
                                Pay again
                                <lord-icon
                                    src="https://cdn.lordicon.com/mdmniuqr.json"
                                    trigger="morph"
                                    state="morph-card-cash-1"
                                    colors="primary:white"
                                    style="width:14px;height:14px; padding-left: 7px;">
                                </lord-icon>
                            </button>
                        <% } %>          
                    </div>                                      
                    <main class="frame-frame">
                        <div class="frame-tt-order-id-334902461tframe-2610325frame">
                            <section class="frame-t-order-id-334902461tframe-2610325frame d-flex justify-content-between">
                                <%
                                // Function to convert string to array, splice it, and join back to string
                                function reduceOrderId(orderId, length) {
                                    let arr = orderId.split(''); 
                                    if (arr.length > length) {
                                        arr.splice(length); 
                                    }
                                    return arr.join(''); 
                                }
        
                                const shortenedOrderId = reduceOrderId(order._id.toString(), 10);
                                %>
                                <div class="frame-order-id">
                                    Order ID: <%= shortenedOrderId %>
                                </div>
                                                          
                                <div class="frame-t-frame-2610325frame">
                                    <div class="frame-wrapper">
                                        <% if(order.orderStatus === 'completed' || order.orderStatus === 'delivered' ){ %> 
                                        <div class="frame-frame-1">
                                            <div class="frame-create-order"></div>
                                            <div class="frame-t-invoice">
                                                <button type="button" onclick="downloadInvoice('<%= order._id %>')">
                                                <div class="frame-invoice">Invoice</div>
                                            </div>
                                        </button>
                                        </div>
                                        <% } %>     
                                    </div>
                                    <div class="frame-wrapper-1">
                                            <% if (order.orderStatus !== 'cancelled' && order.orderStatus !== 'completed' && order.orderStatus !== 'returned') { %>
                                            <button class="frame-frame-2">
                                                <div class="frame-t-track-order">
                                                    <div class="frame-track-order">
                                                        <a href="/orderDetails?orderId=<%= order._id %>" style="text-decoration: none; color: white;">
                                                        Track Order</a>
                                                    </div>
                                                </div>
                                                <div class="frame-north-direction"></div>
                                            </button>
                                        </div>
                                        <% } %>                                        
                                </div>
                            </section>
                        </div>
                        <div class="frame-ttt-order-date-jun-262024line-8estimated-delivery-jul">
                            <div class="frame-tt-order-date-jun-262024line-8estimated-delivery-jul d-flex justify-content-start">
                                <div class="frame-t-order-date-jun-262024line">
                                    <div class="frame-order-date-jun">Order date: <%= new Date(order.orderDate).toDateString() %></div>
                                    <object data="/assets/Line.svg" class="frame-line"></object>
                                </div>
                                <div class="frame-estimated-delivery-jul">
                                    Estimated delivery: 
                                    <%
                                        // Function to calculate estimated delivery date
                                        function getEstimatedDeliveryDate(orderDate) {
                                            const minDays = 5;
                                            const maxDays = 7;
                                            const randomDays = Math.floor(Math.random() * (maxDays - minDays + 1)) + minDays;
                                            const estimatedDate = new Date(orderDate);
                                            estimatedDate.setDate(estimatedDate.getDate() + randomDays);
                                            return estimatedDate.toDateString();
                                        }
        
                                        const estimatedDelivery = getEstimatedDeliveryDate(order.orderDate);
                                    %>
                                    <%= estimatedDelivery %>
                                </div>                            
                            </div>
                        </div>
                        <div class="frame-t-line">
                            <object data="/assets/Line1.svg" class="frame-line-1"></object>
                        </div>
                        <% order.orderItems.forEach(item => { %>
                        <div class="frame-ttt-product-ttttwhittakers-dark-ghana-fruit-nut-250g-t99500tqty-1tproduct-ttttwhittakers-berry-biscuit-bar-250g-t99500tqty">
                            <section class="frame-tt-product-ttttwhittakers-dark-ghana-fruit-nut-250g-t99500tqty">
                                <div class="frame-t-product-ttttwhittakers-dark-ghana-fruit-nut-250g-t99500tqty">
                                    <div class="p">
                                        <div class="frame-product">
                                            <img src="/assets/img/brands/<%= item.image[0] %>" loading="lazy" class="frame-jpg"/>
                                        </div>
                                    </div>
                                    <div class="frame-tttt-whittakers-dark-ghana-fruit-nut-250g-t99500tqty">
                                        <div class="frame-ttt-whittakers-dark-ghana-fruit-nut-250g-t99500tqty">
                                            <div class="frame-t-whittakers-dark-ghana-fruit-nut-250g">
                                                <div><%= item.productName %></div>
                                                <div class="frame-g">Model: <%= item.model %></div>
                                            </div>
                                            <div class="frame-t-99500tqty">
                                                <div class="frame-component">₹<%= item.price %></div>
                                                <div class="frame-t-qty">
                                                    <div class="frame-qty">Qty: <%= item.quantity %></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <% }) %>
                        <div class="frame-t-line-1">
                            <object data="/assets/Line1.svg" class="frame-line-2"></object>
                        </div>
                        <div class="frame-tt-payment-delivery">
                            <section class="frame-t-payment-delivery">
                                <div class="frame-payment">Payment</div>
                                <div class="frame-delivery" style="padding-left: 645px;">Delivery</div>
                            </section>
                        </div>
                        <div class="frame-tttt-visa-56tframe-2610319address">
                            <div class="frame-ttt-visa-56tframe-2610319address">
                                <div class="frame-tt-visa-56tframe">
                                    <div class="frame-t-visa-56tframe">
                                        <div class="frame-visa"><%= order.paymentMethod %></div>
                                        <div class="frame-t-frame">
                                            <% if (order.paymentMethod === 'RazorPay') { %>
                                                <img src="/assets/img/logo/razroPay_img.png" class="paymentMethod-img" style="width: 90px; height: 37px; padding-top: 5px" />
                                            <% } else if (order.paymentMethod === 'COD') { %>
                                                <img src="/assets/img/logo/cashondelivery_img.png" class="paymentMethod-img" style="width: 90px; height: 37px; padding-top: 5px" />
                                            <% } else if (order.paymentMethod === 'Wallet') { %>
                                                <img src="/assets/img/logo/wallet_Icon.png" class="paymentMethod-img" style="width: 90px; height: 37px; padding-top: 5px" />
                                            <% } else if (order.paymentMethod === 'visa') { %>
                                                <img src="/assets/img/logo/visa_img.png" class="paymentMethod-img" style="width: 90px; height: 37px; padding-top: 5px" />
                                            <% } else { %>
                                                <!-- Fallback image if needed -->
                                                <img src="/assets/img/logo/default_img.png" class="paymentMethod-img" style="width: 90px; height: 37px; padding-top: 5px" />
                                            <% } %>
                                        </div>
                                    </div>                                    
                                    
                                </div>
                                <div class="frame-address" style="padding-left: 644px;">Address</div>
                            </div>
                        </div>
                        <div class="frame-t-847kozhikode-skyline-apt d-flex justify-content-end pe-0">
                            <div class="frame-kozhikode-skyline-apt"><%= order.address.address %></div>
                        </div>
                        <div class="frame-t-847kozhikode-skyline-apt d-flex justify-content-end pe-0">
                            <div class="frame-kozhikode-skyline-apt"><%= order.address.street %></div>
                        </div>
                        <div class="frame-t-kozhikode-in d-flex justify-content-end">
                            <div class="frame-kozhikode-in"><%= order.address.city %>, <%= order.address.state %></div>
                        </div>
                        <div class="frame-t d-flex justify-content-end">
                            <div class="frame-component-2 d-flex justify-content-end"><%= order.address.Mobile %></div>
                        </div>
                        <div class="frame-t-delivery-method d-flex justify-content-end">
                            <div class="frame-delivery-method">Delivery method: Standard</div>
                        </div>
                        <div class="frame-t-line-1">
                            <object data="/assets/Line2.svg" class="frame-line-2"></object>
                        </div>
                        <div class="frame-t-amount-payable-99000 d-flex justify-content-end justify-content-end align-center mb-3 mt-3">
                            <% if (order.couponDiscount && order.couponDiscount > 0) { %>
                                <div class="frame-amount-payable-99000">Coupon discount: ₹<%= order.couponDiscount %></div>
                            <% } %>
                        </div>
                        <div class="frame-t-amount-payable-99000 d-flex justify-content-end align-center mb-3 mt-3">
                            <div class="frame-amount-payable-99000">
                                Total Discount: ₹<%= order.totalDiscount %>
                            </div>
                        </div>                        
                        <div class="frame-t-amount-payable-99000 d-flex justify-content-end justify-content-end align-center mb-3">
                            <div class="frame-amount-payable-99000">Shipping charge :  ₹40</div>
                        </div>
                        <div class="frame-t-amount-payable-99000 d-flex justify-content-end justify-content-end align-center mb-3">
                            <div class="frame-amount-payable-99000">Subtotal :  ₹<%= order.totalAmount - 40 %></div>
                        </div>
                        <div class="frame-t-amount-payable-99000 d-flex justify-content-between align-items-center">
                            <div class="order-actions d-flex align-items-center">
                                <% if (order.orderStatus === 'order confirmed') { %>
                                    <button type="button" class="cancel-btn-order" onclick="cancelOrder('<%= order._id %>')" style="background: #eaeaea9e;">
                                        Cancel Order
                                        <lord-icon
                                            src="https://cdn.lordicon.com/nqtddedc.json"
                                            trigger="hover"
                                            colors="primary:#FF3B30"
                                            style="width:14px;height:14px; padding-left: 3px;">
                                        </lord-icon>
                                    </button>
                                <% } else if (order.orderStatus === 'delivered') { %>
                                    <button type="button" class="return-btn-order" onclick="returnOrder('<%= order._id %>')" style="background: rgb(0, 0, 0);">
                                        Return
                                        <lord-icon
                                            src="https://cdn.lordicon.com/rsbokaso.json"
                                            trigger="hover"
                                            colors="primary:white"
                                            style="width:14px;height:14px; padding-left: 7px;">
                                        </lord-icon>
                                    </button>
                                <% } %>                                
                            </div>                         
                            <div class="frame-amount-payable-99000">Total : ₹<%= order.totalAmount %></div>
                        </div>                        
                    </main>
                <% }) %>
                <!-- Pagination Controls -->
                <div class=" d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
                                </li>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                            <% if (currentPage < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            <% } else { %>
                <div class="container-fluid mt-50">
                    <div class="row">
                        <div class="col-md-12" style="height: 600px;">
                            <div class="card-body cart">
                                <div class="col-sm-12 empty-cart-cls text-center">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/evyuuwna.json"
                                        trigger="in"
                                        delay="200"
                                        state="in-shopping-bag"
                                        colors="primary:#000000"
                                        style="width:100px;height:100px">
                                    </lord-icon>
                                    <h4 style="font-family: poppins; font-weight: 300;"><strong>No Order found</strong></h4>
                                    <p>Browse our products and discover something you'll love.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
    </div>
   <!-- Vertically centered scrollable modal -->
<div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelOrderModalLabel">Cancel Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="cancelOrderForm">
                    <div class="mb-3">
                        <label for="cancelReason" class="form-label">Select a reason for cancellation:</label>
                        <div id="cancelReason"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="success-message-container"></div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>

<script>
    
// Continue Pending Order payment

document.addEventListener("DOMContentLoaded", function() {
    var payAgainButtons = document.querySelectorAll('.payAgain-btn');
    payAgainButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var orderId = this.getAttribute('data-order-id');
            initiatePayment(orderId);
        });
    });
});

function initiatePayment(orderId) {
    fetch('/getPaymentDetails', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ orderId: orderId })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            openRazorpay(data);
        } else {
            Swal.fire('Error', 'Failed to fetch payment details', 'error');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire('Error', 'Network Error.  again.', 'error');
    });
}

function openRazorpay(data) {
    var options = {
        "key": data.key_id,
        "amount": data.amount,
        "currency": "INR",
        "name": "Choco Heaven",
        "description": "Pending Order Payment",
        "image": "https://i.pinimg.com/736x/f9/c4/24/f9c4244ed90a942b2075104547b2bb92.jpg",
        "order_id": data.razorpayOrderId,
        "handler": function (response) {
            verifyPayment(response.razorpay_payment_id, response.razorpay_order_id, data.orderId, response.razorpay_signature);
        },
        "prefill": {
            "name": "Customer Name",
            "email": "customer_email@example.com",
            "contact": "customer_phone"
        },
        "theme": {
            "color": "#ee7c9b"
        },
        "modal": {
            "ondismiss": function () {
                        window.location.href = '/ordersManage';
            }
        }
    };
    var rzp = new Razorpay(options);
    rzp.open();
}

function verifyPayment(paymentId,razorpay_order_id, placed_orderId, signature) {
    fetch('/verifyPayment', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            paymentId: paymentId,
            orderId: placed_orderId,
            razorpaySignature: signature,
            razorpay_order_id: razorpay_order_id
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            Swal.fire({
                title: "Payment Successful",
                text: "Your payment has been successfully processed.",
                icon: "success"
            }).then(() => {
                window.location.href = `/orderDetails?orderId=${placed_orderId}`;
            });
        } else {
            Swal.fire('Error', 'Payment verification failed. Please try again.', 'error');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire('Error', 'Network Error. Try again.', 'error');
    });
}

function downloadInvoice(orderId) {
    fetch(`/downloadInvoice?orderId=${orderId}`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.blob();
        })
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = `invoice_${orderId}.pdf`;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            document.body.removeChild(a);
        })
        .catch(error => {
            console.error('Error downloading invoice:', error.message);
            alert('There was an issue downloading the invoice. Please try again later.');
        });
}

</script>
<script src="/js/OrdersManage.js"></script>
<script src="https://cdn.lordicon.com/lordicon.js"></script>
<%- include('../layouts/addBrandsFooter') %>
<%- include('../layouts/homeFooter') %>
