<%- include('../layouts/singleProductHeader') %>
        <!-- header section start -->
        <header class="header pt-3 header-sticky" style="height: 4rem;">
            <div class="container-fluid">
                <div class="header-nav  position-relative">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-1 col-md-6 col-sm-6 col-3">
                            <div class="logo">
                                <a href="/home"><img src="/assets/img/logo/logo1.png" alt=""></a>
                            </div>
                        </div>
    
                        <div class="col-xl-6 col-lg-8 hidden-md position-static">
                            <div class="header-nav header-nav-2 pl-100">
                                <nav class="d-flex justify-content-center align-content-center"> 
                                    <ul>
                                        <li><a href="javascript:void(0)"><span>Home </span></a></li>
                                        <li><a href="/loadShop" class="active"><span>Shop <i class="fas fa-angle-down"></i></span></a>
                                                <div class="submenu" style="border-radius: 13px;">
                                                    <ul>
                                                        <li><a href="#">All Products </a></li>
                                                        <li><a href="#">Trending</a></li>
                                                        <li><a href="#">Best Seller</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        <li><a href="javascript:void(0)"><span>Best Deals</span>
                                            </a>
                                        </li>
                                        <li><a href="javascript:void(0)"><span>Top Brands <i
                                                        class="fas fa-angle-down"></i></span> </a>
                                            <ul class="submenu" style="border-radius: 13px;">
                                                <li><a href="portfolio.html">Lindt</a></li>
                                                <li><a href="portfolio2.html">Whittaker's</a></li>
                                                <li><a href="portfolio3.html">Buttlers's</a></li>
                                                <li><a href="portfolio3.html">Milka</a></li>
                                                <li><a href="portfolio3.html">Ferrero</a></li>
                                                <li><a href="portfolio3.html">Cadbury</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)"><span>Gifting</span> <i
                                                    class="fas fa-angle-down"></i></a>
                                            <ul class="submenu" style="border-radius: 13px;">
                                                <li><a href="about.html">Gift Hampers</a></li>
                                                <li><a href="contact.html">Bulk Orders</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html"><span>Contact</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
    
                        <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9 hidden-md">
                            <div class="header-right">
                                <ul class="text-right">
                                    <% if (locals.user) { %>
                                    <li><a href="/login" class="account"><img src="/assets/Icon2.svg" style="width: 20px; height: 18px;">
                                            <article class="account-registar d-inline-block">
                                                Login/Sign up
                                            </article>
                                        </a></li>
                                        <% }else{ %>
                                            
                                            <% } %>
                                    <li><a href="javascript:void(0)"><img src="/assets/Vector1.svg" style="padding-top: 6px; width: 35px; height: 32px;"></a>
    
                                        <!-- search popup -->
                                        <div id="search-popup">
                                            <div class="close-search-popup">
                                                <img src="/assets/Vector.svg" style="width: 25px; height: 24px;">
                                            </div>
                                            <div class="search-popup-inner mt-135">
                                                <div class="search-title text-center">
                                                    <h2>Search</h2>
                                                </div>
    
                                                <div class="search-content pt-55">
                                                    <ul class="text-center">
                                                        <li><a href="javascript:void(0)" class="active">All categories</a>
                                                        </li>
                                                        <li><a href="javascript:void(0)">Clothing</a></li>
                                                        <li><a href="javascript:void(0)">Gift Cards</a></li>
                                                        <li><a href="javascript:void(0)">Handbag</a></li>
                                                        <li><a href="javascript:void(0)">Kids</a></li>
                                                        <li><a href="javascript:void(0)">Shoes</a></li>
                                                        <li><a href="javascript:void(0)">Sneaker</a></li>
                                                        <li><a href="javascript:void(0)">Women</a></li>
                                                    </ul>
    
                                                    <div class="search-form mt-35">
                                                        <form action="#" method="post">
                                                            <input type="text" placeholder="Search Products...">
                                                            <button type="submit"> <img src="/assets/Vector1.svg" style="width: 22px; height: 20px;"></button>                                                    </form>
                                                    </div>
    
                                                    <div class="search-result-list">
                                                        <ul class="text-left">
                                                            <li class="d-block d-flex align-items-center">
                                                                <div class="search-result-img">
                                                                    <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                                </div>
                                                                <div class="search-result-desc pl-10">
                                                                    <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                        chair</a>
                                                                    <div class="price">$<span>399</span></div>
                                                                </div>
                                                            </li>
                                                            <li class="d-block d-flex align-items-center">
                                                                <div class="search-result-img">
                                                                    <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                                </div>
                                                                <div class="search-result-desc pl-10">
                                                                    <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                        deck chair</a>
                                                                    <div class="price">$<span>399</span></div>
                                                                </div>
                                                            </li>
                                                            <li class="d-block d-flex align-items-center">
                                                                <div class="search-result-img">
                                                                    <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                                </div>
                                                                <div class="search-result-desc pl-10">
                                                                    <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                        fabric deck chair</a>
                                                                    <div class="price">$<span>399</span></div>
                                                                </div>
                                                            </li>
                                                            <li class="d-block d-flex align-items-center">
                                                                <div class="search-result-img">
                                                                    <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                                </div>
                                                                <div class="search-result-desc pl-10">
                                                                    <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                        chair</a>
                                                                    <div class="price">$<span>399</span></div>
                                                                </div>
                                                            </li>
                                                            <li class="d-block d-flex align-items-center">
                                                                <div class="search-result-img">
                                                                    <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                                </div>
                                                                <div class="search-result-desc pl-10">
                                                                    <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                        deck chair</a>
                                                                    <div class="price">$<span>399</span></div>
                                                                </div>
                                                            </li>
                                                            <li class="d-block d-flex align-items-center">
                                                                <div class="search-result-img">
                                                                    <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                                </div>
                                                                <div class="search-result-desc pl-10">
                                                                    <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                        fabric deck chair</a>
                                                                    <div class="price">$<span>399</span></div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="wishlist.html" data-toggle="tooltip" data-placement="bottom"
                                            title="view wishlist"><img src="/assets/Item.svg" style="width: 18px; height: 18px; margin-bottom: 3px;"></a></li>
                                    <li><a href="javascript:void(0)"><li><a href="/cart"> <img src="/assets/Icon3.svg" style="width: 18px; height: 18px; margin-bottom: 4px;"><span></span></i></a>
                                        <!-- <div class="minicart">
                                            <div class="minicart-body">
                                                <div class="minicart-content">
                                                    <ul class="text-left">
                                                        <li>
                                                            <div class="minicart-img">
                                                                <a href="/product-1" class="p-0"><img src="/assets/img/product/P-1.webp"
                                                                        class="w-100" alt=""></a>
                                                            </div>
                                                            <div class="minicart-desc">
                                                                <a href="/product-1" class="p-0">Capitalize on low hanging fruit
                                                                    t</a>
                                                                <strong>1 × $250.00</strong>
                                                            </div>
                                                            <div class="remove">
                                                                <i class="fas fa-times"></i>
                                                            </div>
                                                        </li>
    
                                                        <li>
                                                            <div class="minicart-img">
                                                                <a href="/product-1" class="p-0"><img src="/assets/img/product/2.jpg"
                                                                        class="w-100" alt=""></a>
                                                            </div>
                                                            <div class="minicart-desc">
                                                                <a href="/product-1" class="p-0">Leather Courriere duffle ba</a>
                                                                <strong>1 × $150.00</strong>
                                                            </div>
                                                            <div class="remove">
                                                                <i class="fas fa-times"></i>
                                                            </div>
                                                        </li>
    
    
                                                        <li>
                                                            <div class="minicart-img">
                                                                <a href="/product-1" class="p-0"><img src="/assets/img/product/3.jpg"
                                                                        class="w-100" alt=""></a>
                                                            </div>
                                                            <div class="minicart-desc">
                                                                <a href="/product-1" class="p-0">Party Supplies Around Cupcake</a>
                                                                <strong>1 × $150.00</strong>
                                                            </div>
                                                            <div class="remove">
                                                                <i class="fas fa-times"></i>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="minicart-checkout">
                                                <div class="minicart-checkout-heading mt-8 mb-25 overflow-hidden">
                                                    <strong class="float-left">Subtotal:</strong>
                                                    <span class="price float-right">503.00</span>
                                                </div>
                                                <div class="minicart-checkout-links">
                                                    <a href="cart.html"
                                                        class="generic-btn black-hover-btn text-uppercase w-100 mb-20">View
                                                        cart</a>
                                                    <a href="checkout.html"
                                                        class="generic-btn black-hover-btn text-uppercase w-100 mb-20">Checkout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li> -->
                                    <% if (locals.user) { %>
                                    <li><a href="javascript:void(0)"> <img src="/assets/Icon4.svg" style="width: 30px; height: 28px; margin-top: 2px;"></i></a>
                                        <ul class="submenu text-right">
                                            <li><a href="login.html">My profile</a></li>
                                            <li><a href="checkout.html">My address</a></li>
                                            <li><a href="/loadShop">Orders</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="/logout">Sign up</a>
                                    </li>
                                    <% }else{ %>
                                        <li><a href="javascript:void(0)"> <img src="/assets/Icon4.svg" style="width: 30px; height: 28px; margin-top: 2px;"></i></a>
                                            <ul class="submenu text-right">
                                                <li><a href="login.html">My profile</a></li>
                                                <li><a href="checkout.html">My address</a></li>
                                                <li><a href="/loadShop">Orders</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="/logout">Sign out</a>
                                        </li>
                                        <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu visible-sm">
                    <div id="mobile-menu">
                        <ul>
                            <li><a class="pl-3" href="javascript:void(0)">Home</a></li>
                            <li><a class="pl-3" href="javascript:void(0)">Shop</a>
                                <ul>
                                    <li><a href="#">All Products </a></li>
                                    <li><a href="#">Trending</a></li>
                                    <li><a href="#">Best Seller</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)">Best Deals</a>
                            </li>
                            <li><a href="javascript:void(0)">Gifting</a>
                                <ul>
                                    <li><a href="portfolio.html">Gifting</a></li>
                                    <li><a href="portfolio2.html">Bundle Hamper</a></li>
                                    <li><a href="portfolio3.html">Bulk Orders</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /. mobile nav -->
            </div>
        </header>
        <!-- header section end -->
    
    



    <!-- single product start -->
    <section class="single-product mb-90 mt-110">        
        <div class="container-fluid">
            <nav aria-label="breadcrumb" class="mb-40">
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item" aria-current="/shop">Shop</li>
                    <li class="breadcrumb-item active" aria-current="page">single Product</li>
                </ol>
            </nav>
            <div class="shop-wrapper">
                <div class="single-product-top">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-12">
                            <div class="shop-img">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="nav nav-pills" id="v-pills-tab" role="tablist"
                                            aria-orientation="vertical">
                                            <a class="active" data-toggle="pill" href="#tab-1">
                                                <img src="/assets/img/brands/<%= product.image[0] %>" class="w-100" alt="">
                                            </a>
                                            <a class="popup-images" data-toggle="pill" href="#tab-2">
                                                <img src="/assets/img/brands/<%= product.image[1] %>" class="w-100" alt="">
                                            </a>
                                            <a class="popup-images" data-toggle="pill" href="#tab-3">
                                                <img src="/assets/img/brands/<%= product.image[2] %>" class="w-100 mt-5-px" alt="">
                                            </a>
                                            <a class="popup-images" data-toggle="pill" href="#tab-4">
                                                <img src="/assets/img/brands/<%= product.image[3] %>" class="w-100 mt-5-px" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade show active" id="tab-1">
                                                <div class="product-img">
                                                    <a class="popup-image" href="img/product/farniture-7.jpg"><img
                                                            src="/assets/img/brands/<%= product.image[0] %>" class="w-100" alt=""></a>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-2">
                                                <div class="product-img">
                                                    <a class="popup-image" href="img/product/farniture-8.jpg"><img
                                                            src="/assets/img/brands/<%= product.image[1] %>" class="w-100" alt=""></a>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-3">
                                                <div class="product-img">
                                                    <a class="popup-image" href="img/product/farniture-9.jpg"><img
                                                            src="/assets/img/brands/<%= product.image[2] %>" class="w-100" alt=""></a>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-4">
                                                <div class="product-img">
                                                    <a class="popup-image" href="img/product/farniture-10.jpg"><img
                                                            src="/assets/img/brands/<%= product.image[3] %>" class="w-100" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-12">
                            <div class="single-product-sidebar">
                                <div class="product-content">
                                    <div class="single-product-title">
                                        <h2><%= product.productName %></h2>
                                    </div>
                                    <div class="single-product-price">
                                        <span style="color: #c09844;">₹</span>
                                        <span style="color: #c09844;"><%= product.discountPrice %></span>
                                        <span style="color: #9c9c9c;"> – </span>
                                        <span style="color: #9c9c9c;"><del><%= product.price %></del></span>
                                      </div>                                    
                                      <div class="single-product-desc mb-25">
                                        <p><%= product.description %>
                                            […]</p>
                                            <% if (product.inStock){ %> 
                                                <p><span>Availability</span><span class="text-success">  : In Stock</span></p>
                                            <% } else { %> 
                                                <p><span>Availability</span><span class="text-danger"> : Out Of Stock</span></p>
                                            <%} %>
                                        <div class="product-list single-product-list">
                                            <ul>
                                                <li>– <%= product.brand %></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="single-product-component mt-15">
                                        <div class="size">
                                            <h6>Quantity: <span></span></h6>                                            
                                                <label for="t-xl" class="active"><%= product.size %></label>
                                        </div>
                                    </div>
                                    <div class="quick-quantity mt-60">
                                        <form action="#" method="POST">
                                            <button type="submit" class="list-add-cart-btn red-hover-btn border-0"
                                                style="padding-left: 80px;padding-right: 80px;transition: all .5s;">add
                                                to
                                                cart
                                            </button>
                                        </form>
                                    </div>
                                    <div class="single-product-action mt-35">
                                        <ul>
                                            <li><a href="wishlist.html"><i class="fas fa-heart"></i> add to wishlist</a></li>
                                        </ul>
                                    </div>
                                    <div class="sku"><span>Sku: </span> <strong>M-Hat-8</strong></div>
                                    <div class="single-product-category">
                                        <ul>
                                            <li class="mb-0"><a href="javascript:void(0)" class="title">Brand: </a>
                                            </li>
                                            <li class="mb-0"><a href="shop4.html"><%= product.brand %></a></li>
                                        </ul>
                                    </div>
                                    <div class="share-product mt-20">
                                        <ul>
                                            <li><a href="javascript:void(0)" class="title">Share this product</a></li>
                                            <li><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                                    title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                                    title="twitter"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                                    title="pinterest"><i class="fab fa-pinterest"></i></a></li>
                                            <li><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                                    title="google +"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                                    title="Linkdin"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-product-bottom mt-80 gray-border-top">
                    <ul class="nav nav-pills justify-content-center mt-100">
                        <li class="nav-item">
                            <a class="active" data-toggle="pill" href="#desc-tab-1">Ingredients</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#desc-tab-3">Nutritional</a>
                        </li>
                        <li class="nav-item">
                            <a class="" data-toggle="pill" href="#desc-tab-2">Reviews (0)</a>
                        </li>
                    </ul>
                    <div class="container container-1200">
                        <div class="tab-content mt-60">
                            <div class="tab-pane fade show active" id="desc-tab-1">
                                <div class="single-product-tab-content">
                                    <h3 class="title mb-30">Ingredients</h3>
                                    <p>Milk Chocolate 30% (Sugar Cocoa Butter Cocoa Mass Skimmed Milk Powder Concentrated Butter Emulsifier:
                                         Lecithins (Soya) Vanillin) Hazelnuts (28.5%) Sugar Palm Oil Wheat Flour Whey Powder (Milk) Fat Reduced Cocoa Emulsifier: 
                                         Lecithins (Soya) Raising Agent (Sodium Bicarbonate) Salt Vanillin.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="desc-tab-2">
                                <div class="single-product-tab-content">
                                    <h3 class="title mb-30">Reviews</h3>
                                    <div class="review-box-item">
                                        <div class="row">
                                            <div class="col-xl-1 col-lg-2 col-md-2 col-3 pr-xl-0">
                                                <div class="review-box-img d-block text-right">
                                                    <img src="img/small-img/1.jpg" width="60" height="60"
                                                        class="avatar-img" alt="">
                                                </div>
                                            </div>
                                            <div class="col-xl-11 col-lg-10 col-9 pl-0">
                                                <div class="review-box-content">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <div class="author-name">
                                                                <h6>John96</h6>
                                                                <div class="content">
                                                                    <p class="mb-0">Awesome</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-5 pr-5-px pl-0">
                                                            <div class="rating text-right">
                                                                <i class="fal fa-star red-color"></i>
                                                                <i class="fal fa-star red-color"></i>
                                                                <i class="fal fa-star red-color"></i>
                                                                <i class="fal fa-star"></i>
                                                                <i class="fal fa-star"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>There are no reviews yet.</p>
                                    <h4>Add a review</h4>

                                    <form action="#" method="POST">
                                        <label for="rating">Your Rating</label>
                                        <input type="radio" id="rating">
                                    </form>
                                    <p class="star-rating">
                                        <a href="javascript:void(0)"><i class="fal fa-star"></i></a>
                                        <a href="javascript:void(0)"><i class="fal fa-star"></i></a>
                                        <a href="javascript:void(0)"><i class="fal fa-star"></i></a>
                                        <a href="javascript:void(0)"><i class="fal fa-star"></i></a>
                                        <a href="javascript:void(0)"><i class="fal fa-star"></i></a>
                                    </p>

                                    <div class="form-group">
                                        <label for="review">Review</label>
                                        <textarea name="review" id="review" cols="30" rows="6"
                                            class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Name <span class="required">*</span></label>
                                        <input type="text" name="name" id="name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email <span class="required">*</span></label>
                                        <input type="email" name="email" id="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox-input">
                                            <input type="checkbox" id="condition" name="condition">
                                        </div>
                                        <label for="condition">Save my name, email, and website in this browser for the
                                            next time I comment.</label>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="generic-btn red-hover-btn"
                                            style="font-size: 14px !important;">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="desc-tab-3">
                                <div class="single-product-tab-content">
                                    <h3 class="title mb-30">Nutritional</h3>
                                    <p>Energyinkcal 605kcal, 
                                    EnergyinkJ 2530kJ, Carbohydrates 47.4g, 
                                    Sugar 39.5g, Protein 7.89g, Fat 42.1g, Fibre 2.63g, 
                                    Sodium 0.066g, Salt 0.164g</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- single product end -->
    <!-- sugession start -->
    <section class="sugession-product mt-120">
        <div class="container-fluid">
            <div class="generic-title text-center">
                <h2 class="mb-20">You May Also Like</h2>
            </div>
            <% if (products.length > 0) { %>
                <div class="main-product-carousel owl-carousel red-nav mt-50">
                    <% for (let row = 0; row < Math.ceil(products.length / 1); row++) { %>
                    <div class="carousel-single-item">
                        <div class="row">
                            <% for (let col = 0; col < 6; col++) { 
                                let index = row * 5 + col;
                                if (index >= products.length) break;
                            %>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="product-box">
                                    <div class="product-box-wrapper">
                                        <div class="product-img">
                                            <img src="/assets/img/brands/<%= products[index].image[0] %>" class="w-100" alt="">
                                            <a href="/singleProduct?id=<%= products[index]._id %>" class="d-block">
                                                <div class="second-img">
                                                    <img src="/assets/img/brands/<%= products[index].image[1] %>" alt="" class="w-100">
                                                </div>
                                            </a>
                                            <a href="javascript:void(0)" class="product-img-link quick-view-1 text-capitalize">Quick view</a>
                                        </div>
                                        <div class="product-desc pb-20">
                                            <div class="product-desc-top">
                                                <div class="categories">
                                                    <a href="shop3.html" class="product-category"><span><%= products[index].brand %></span></a>
                                                </div>
                                                <a href="wishlist.html" class="wishlist float-right"><span><i class="fas fa-heart"></i></span></a>
                                            </div>
                                            <a href="single-product-3.html" class="product-title"><%= products[index].productName %></a>
                                            <div class="price-switcher">
                                                <span class="price switcher-item">₹<%= products[index].discountPrice %></span>
                                                <a href="cart.html" class="add-cart text-capitalize switcher-item">+add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
            <% } %>
            </div>
        </div>
    </section>
    <!-- sugession end -->
    <!-- related product start -->
    <section class="related-product mt-120">
        <div class="container-fluid">
            <div class="generic-title text-center">
                <h2 class="mb-20">Related Product</h2>
            </div>
            <div class="main-product-carousel owl-carousel red-nav mt-50">
                <div class="carousel-single-item">
                    <div class="col-12">
                        <div class="product-box">
                            <div class="product-box-wrapper">
                                <div class="product-img">
                                    <img src="img/product/farniture-1.jpg" class="w-100" alt="">
                                    <a href="single-product-3.html" class="d-block">
                                        <div class="second-img">
                                            <img src="img/product/farniture-1-hover.jpg" alt="" class="w-100">
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)"
                                        class="product-img-link quick-view-1 text-capitalize">Quick view</a>
                                </div>

                                <div class="product-desc pb-20">
                                    <div class="product-desc-top">
                                        <div class="categories">
                                            <a href="shop3.html" class="product-category"><span>Woman</span></a>
                                        </div>
                                        <a href="wishlist.html" class="wishlist float-right"><span><i
                                                    class="fal fa-heart"></i></span></a>
                                    </div>
                                    <a href="single-product-3.html" class="product-title">Light green crewneck
                                        sweatshir</a>
                                    <div class="price-switcher">
                                        <span class="price switcher-item">$58.00</span>
                                        <a href="cart.html" class="add-cart text-capitalize switcher-item">+add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-single-item">
                    <div class="col-12">
                        <div class="product-box">
                            <div class="product-box-wrapper">
                                <div class="product-img">
                                    <img src="img/product/farniture-2.jpg" class="w-100" alt="">
                                    <a href="single-product-3.html" class="d-block">
                                        <div class="second-img">
                                            <img src="img/product/farniture-2-hover.jpg" alt="" class="w-100">
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)"
                                        class="product-img-link quick-view-1 text-capitalize">Quick view</a>
                                </div>

                                <div class="product-desc pb-20">
                                    <div class="product-desc-top">
                                        <div class="categories">
                                            <a href="shop3.html" class="product-category"><span>Woman</span></a>
                                        </div>
                                        <a href="wishlist.html" class="wishlist float-right"><span><i
                                                    class="fal fa-heart"></i></span></a>
                                    </div>
                                    <a href="single-product-3.html" class="product-title">Light green crewneck
                                        sweatshir</a>
                                    <div class="price-switcher">
                                        <span class="price switcher-item">$58.00</span>
                                        <a href="cart.html" class="add-cart text-capitalize switcher-item">+add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-single-item">
                    <div class="col-12">
                        <div class="product-box">
                            <div class="product-box-wrapper">
                                <div class="product-img">
                                    <img src="img/product/farniture-4.jpg" class="w-100" alt="">
                                    <a href="single-product-3.html" class="d-block">
                                        <div class="second-img">
                                            <img src="img/product/farniture-4-hover.jpg" alt="" class="w-100">
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)"
                                        class="product-img-link quick-view-1 text-capitalize">Quick view</a>
                                </div>

                                <div class="product-desc pb-20">
                                    <div class="product-desc-top">
                                        <div class="categories">
                                            <a href="shop3.html" class="product-category"><span>Woman</span></a>
                                        </div>
                                        <a href="wishlist.html" class="wishlist float-right"><span><i
                                                    class="fal fa-heart"></i></span></a>
                                    </div>
                                    <a href="single-product-3.html" class="product-title">Tassels Pendant Earrings</a>
                                    <div class="price-switcher">
                                        <span class="price switcher-item">$85.00</span>
                                        <a href="cart.html" class="add-cart text-capitalize switcher-item">+add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-single-item">
                    <div class="col-12">
                        <div class="product-box mb-40">
                            <div class="product-box-wrapper">
                                <div class="product-img">
                                    <img src="img/product/farniture-5.jpg" class="w-100" alt="">
                                    <a href="single-product-3.html" class="d-block">
                                        <div class="second-img">
                                            <img src="img/product/farniture-5-hover.jpg" alt="" class="w-100">
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)"
                                        class="product-img-link quick-view-1 text-capitalize">Quick view</a>
                                </div>

                                <div class="product-desc pb-20">
                                    <div class="product-desc-top">
                                        <div class="categories">
                                            <a href="shop3.html" class="product-category"><span>Shoes</span></a>
                                            <a href="shop3.html" class="product-category"><span>Sneaker</span></a>
                                            <a href="shop3.html" class="product-category"><span>Women</span></a>
                                        </div>
                                        <a href="wishlist.html" class="wishlist float-right"><span><i
                                                    class="fal fa-heart"></i></span></a>
                                    </div>
                                    <a href="single-product-3.html" class="product-title">Leather Courriere duffle
                                        bag</a>
                                    <div class="price-switcher">
                                        <span class="price switcher-item">$3.00</span>
                                        <a href="cart.html" class="add-cart text-capitalize switcher-item">+add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-single-item">
                    <div class="col-12">
                        <div class="product-box mb-40">
                            <div class="product-box-wrapper">
                                <div class="product-img">
                                    <img src="img/product/farniture-6.jpg" class="w-100" alt="">
                                    <a href="single-product-3.html" class="d-block">
                                        <div class="second-img">
                                            <img src="img/product/farniture-6-hover.jpg" alt="" class="w-100">
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)"
                                        class="product-img-link quick-view-1 text-capitalize">Quick view</a>
                                    <span class="sale bg-red text-white">sale!</span>
                                </div>

                                <div class="product-desc pb-20">
                                    <div class="product-desc-top">
                                        <div class="categories">
                                            <a href="shop3.html" class="product-category"><span>Shoes</span></a>
                                            <a href="shop3.html" class="product-category"><span>Sneaker</span></a>
                                        </div>
                                        <a href="wishlist.html" class="wishlist float-right"><span><i
                                                    class="fal fa-heart"></i></span></a>
                                    </div>
                                    <a href="single-product-3.html" class="product-title">Wood design bedroom clook</a>
                                    <div class="price-switcher">
                                        <span class="price switcher-item">$45-$10.00</span>
                                        <a href="cart.html" class="add-cart text-capitalize switcher-item">+add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-single-item">
                    <div class="col-12">
                        <div class="product-box mb-40">
                            <div class="product-box-wrapper">
                                <div class="product-img">
                                    <img src="img/product/farniture-7.jpg" class="w-100" alt="">
                                    <a href="single-product-3.html" class="d-block">
                                        <div class="second-img">
                                            <img src="img/product/farniture-7-hover.jpg" alt="" class="w-100">
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)"
                                        class="product-img-link quick-view-1 text-capitalize">Quick view</a>
                                    <span class="sale bg-red text-white">sale!</span>
                                </div>

                                <div class="product-desc pb-20">
                                    <div class="product-desc-top">
                                        <div class="categories">
                                            <a href="shop3.html" class="product-category"><span>Woman</span></a>
                                        </div>
                                        <a href="wishlist.html" class="wishlist float-right"><span><i
                                                    class="fal fa-heart"></i></span></a>
                                    </div>
                                    <a href="single-product-3.html" class="product-title">Capitalize on low hanging
                                        fruit to</a>
                                    <div class="price-switcher">
                                        <span class="price switcher-item">$250.00</span>
                                        <a href="cart.html" class="add-cart text-capitalize switcher-item">+add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-single-item">
                    <div class="col-12">
                        <div class="product-box mb-40">
                            <div class="product-box-wrapper">
                                <div class="product-img">
                                    <img src="img/product/farniture-8.jpg" class="w-100" alt="">
                                    <a href="single-product-3.html" class="d-block">
                                        <div class="second-img">
                                            <img src="img/product/farniture-8-hover.jpg" alt="" class="w-100">
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)"
                                        class="product-img-link quick-view-1 text-capitalize">Quick view</a>
                                </div>

                                <div class="product-desc pb-20">
                                    <div class="product-desc-top">
                                        <div class="categories">
                                            <a href="shop3.html" class="product-category"><span>Woman</span></a>
                                        </div>
                                        <a href="wishlist.html" class="wishlist float-right"><span><i
                                                    class="fal fa-heart"></i></span></a>
                                    </div>
                                    <a href="single-product-3.html" class="product-title">Light green crewneck
                                        sweatshir</a>
                                    <div class="price-switcher">
                                        <span class="price switcher-item">$58.00</span>
                                        <a href="cart.html" class="add-cart text-capitalize switcher-item">+add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-single-item">
                    <div class="col-12">
                        <div class="product-box mb-40">
                            <div class="product-box-wrapper">
                                <div class="product-img">
                                    <img src="img/product/farniture-9.jpg" class="w-100" alt="">
                                    <a href="single-product-3.html" class="d-block">
                                        <div class="second-img">
                                            <img src="img/product/farniture-9-hover.jpg" alt="" class="w-100">
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)"
                                        class="product-img-link quick-view-1 text-capitalize">Quick view</a>
                                </div>

                                <div class="product-desc pb-20">
                                    <div class="product-desc-top">
                                        <div class="categories">
                                            <a href="shop3.html" class="product-category"><span>Woman</span></a>
                                        </div>
                                        <a href="wishlist.html" class="wishlist float-right"><span><i
                                                    class="fal fa-heart"></i></span></a>
                                    </div>
                                    <a href="single-product-3.html" class="product-title">Tassels Pendant Earrings</a>
                                    <div class="price-switcher">
                                        <span class="price switcher-item">$85.00</span>
                                        <a href="cart.html" class="add-cart text-capitalize switcher-item">+add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- related product end -->




      <!-- footer section start -->
      <section class="footer">
        <div class="footer-top mt-120 pb-120 pt-115" style="background: linear-gradient(90deg, #FFE8EF,#FFF3F6);">
            <div class="footer-top-wrapper">
                <div class="newsletter ">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <h2 class="title m-0">Sign Up For Our Newsletter</h2>
                            <p>Subscribe our newsletter and get discount 20% Off</p>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="newsletter-form">
                                <form action="#" method="POST">
                                    <input type="text" placeholder="Search for our newsletter...">
                                    <button type="submit"
                                        class="generic-btn red-hover-btn text-uppercase float-right">Subscribe
                                        Now</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.newsletter -->
                <div class="service pt-57 mt-40 gray-border-top">
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-md-6 service-item">
                            <div class="service-box service-box-2">
                                <div class="service-box-content">
                                    <h4 class="title">Worldwide Shipping</h4>
                                    <p class="service-desc">Duis autem vel eum iriure dolor in hendrerit velit esse
                                        molestie consequat.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 service-item">
                            <div class="service-box service-box-2">
                                <div class="service-box-content">
                                    <h4 class="title">Online Support 24/7</h4>
                                    <p class="service-desc">Duis autem vel eum iriure dolor in hendrerit velit esse
                                        molestie consequat.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 hidden-md service-item">
                            <div class="service-box service-box-2">
                                <div class="service-box-content">
                                    <h4 class="title">Money Return Guarantee</h4>
                                    <p class="service-desc">Duis autem vel eum iriure dolor in hendrerit velit esse
                                        molestie consequat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. service -->
                <!-- /. footer bottom -->
            </div>

        </div>
        <!-- footer top -->

        <div class="footer-bottom pt-77" style="background-color: #000;">
            <div class="container-1180">
                <div class="footer-bottom-wrapper">
                    <div class="footer-bottom-primary pb-60">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-9">
                                <div class="footer-item has-desc">
                                    <div class="footer-logo mb-25">
                                        <img src="/assets/img/logo/logo2.png" width="300" height="23" alt="">
                                    </div>
                                    <div class="footer-desc">
                                        <p class="mb-10">Choco Heaven is the pinnacle of luxury in the chocolate world. Our online store boasts
                                             a meticulously curated selection of the finest chocolates Experience unparalleled
                                            customization and flawless responsiveness across all devices, ensuring an indulgent
                                            shopping experience that is as exquisite as our chocolates.
                                        </p>
                                    </div>
                                    <div class="footer-img mt-65">
                                        <img src="/assets/img/logo/paypal.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-12">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                        <div class="footer-menu">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="title">MY ACCOUNT</a></li>
                                                <li><a href="login.html">My account</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="shop2.html">Shop</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="question.html">Frequently</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                        <div class="footer-menu">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="title">Quick Links</a></li>
                                                <li><a href="shop2.html">Special Offers</a></li>
                                                <li><a href="shop2.html">Gift Cards</a></li>
                                                <li><a href="shop2.html">F21 Red</a></li>
                                                <li><a href="about.html">Privacy Policy</a></li>
                                                <li><a href="about.html">Teams of Use</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 hidden-sm">
                                        <div class="footer-menu">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="title">Company Info</a></li>
                                                <li><a href="about.html">About us</a></li>
                                                <li><a href="blog.html">Careers</a></li>
                                                <li><a href="portfolio2.html">Business With Us</a></li>
                                                <li><a href="shop2.html">Find a Store</a></li>
                                                <li><a href="question.html">Teams of Use</a></li>
                                                <li><a href="portfolio3.html">Press & Talent</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- footer section end -->



    <!-- product popup start -->
    <section id="product-popup">
        <div class="product-popup-overlay"></div>
        <div class="product-popup-container">
            <div class="product-inner w-100">
                <div class="product-inner-content">
                    <div class="quick-close-action"><i class="fal fa-times"></i></div>
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="product-popup-1">
                                    <div class="product-popup-img">
                                        <img src="img/product/10.jpg" class="w-100" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-popup-2">
                                    <div class="product-popup-img">
                                        <img src="img/product/11.jpg" class="w-100" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-popup-3">
                                    <div class="product-popup-img">
                                        <img src="img/product/12.jpg" class="w-100" alt="">
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-pills justify-content-center mt-10">
                                <li class="nav-item">
                                    <a class="active" data-toggle="pill" href="#product-popup-1">
                                        <img src="img/product/10.jpg" class="w-100" alt="">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="" data-toggle="pill" href="#product-popup-2">
                                        <img src="img/product/11.jpg" class="w-100" alt="">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="" data-toggle="pill" href="#product-popup-3">
                                        <img src="img/product/12.jpg" class="w-100" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6">
                            <div class="product-content">
                                <div class="product-title">
                                    <h2>Nari Narwhal Usb...</h2>
                                </div>
                                <div class="price">$<span>44.00</span>–<span>$250.00</span></div>
                                <a href="single-product-3.html" class="all-feature">See all feature</a>
                                <div class="quick-quantity mt-30">
                                    <form action="#" method="POST">
                                        <input type="number" value="1">
                                        <button type="submit" class="generic-btn red-hover-btn text-capitalize">add to
                                            cart</button>
                                    </form>
                                </div>

                                <div class="product-desc pb-20 mt-25 gray-border-top">
                                    <p class="mb-0">Typi non habent claritatem insitam, est usus legentis in iis qui
                                        facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius
                                        quod ii legunt saepius. Claritas est etiam processus A Capitalize on low hanging
                                        fruit to identify a ballpark value added activity to beta test. Override the
                                        digital...ditional clickthroughs from DevOps. Nanotechnology immersion along the
                                        information highway will close the […]</p>
                                </div>
                                <div class="product-list mt-25">
                                    <ul>
                                        <li>– Light green crewneck sweatshirt.</li>
                                        <li>– Hand pockets.</li>
                                        <li>– Relaxed fit.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product popup end -->

    <!-- startup popup start -->
    <section id="startup-popup" class="d-none">
        <div class="product-popup-overlay has-startup" style="opacity: 1;visibility: visible"></div>
        <div class="startup-popup-body">
            <div class="startup-body-content h-100">
                <div class="row justify-content-end h-100">
                    <div class="col-6 h-100">
                        <div class="startup-popup-inner h-100">
                            <div class="close-search-popup">
                                <i class="fal fa-times"></i>
                            </div>
                            <div class="startup-popup-main-content">
                                <h2>Get Our Email Letter</h2>
                                <p class="mb-0">Subscribe to the Mazia store mailing list to receive updates on new
                                    arrivals, special offers
                                    and other discount information.</p>
                                <div class="startup-subscribe-form">
                                    <form action="#" method="POST">
                                        <input type="text" placeholder="Subscribe to our newsletter" class="mb-30">
                                        <button class="generic-btn red-hover-btn text-uppercase">Subscribe now</button>
                                    </form>
                                </div>
                            </div>
                            <div class="startup-popup-sub-content">
                                <div class="popup-warning">
                                    <input type="checkbox" id="startup-popup-hidden">
                                    <label for="startup-popup-hidden">Do not show the popup again</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- startup popup end -->
    <%- include('../layouts/singleProductFooter') %>