  
  <%- include('../layouts/userProfileHeader') %>
  <%- include('../layouts/userHomeHeader') %>
  
   <!-- header section start -->
   <header class="header pt-3 pb-4 header-sticky" style="height: 4.5rem;">
    <div class="container-fluid">
        <div class="header-nav  position-relative">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-1 col-md-6 col-sm-6 col-3">
                    <div class="logo">
                        <a href="/home"><img src="/assets/img/logo/logo1.png" alt="" style="width: 100%; height: 100%;"></a>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-8 hidden-md position-static">
                    <div class="header-nav header-nav-2 pl-100">
                        <nav class="d-flex justify-content-center align-content-center"> 
                            <ul>
                                <li><a href="javascript:void(0)" ><span>Home </span></a></li>
                                <li><a href="/loadShop"><span>Shop <i class="fas fa-angle-down"></i></span></a>
                                        <div class="submenu" style="border-radius: 13px;">
                                            <ul>
                                                <li><a href="#">All Products </a></li>
                                                <li><a href="#">Trending</a></li>
                                                <li><a href="#">Best Seller</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                <li><a href="javascript:void(0)"><span>Best Deals</span>
                                    </a>
                                </li>
                                <li><a href="javascript:void(0)"><span>Top Brands <i
                                                class="fas fa-angle-down"></i></span> </a>
                                    <ul class="submenu" style="border-radius: 13px;">
                                        <li><a href="portfolio.html">Lindt</a></li>
                                        <li><a href="portfolio2.html">Whittaker's</a></li>
                                        <li><a href="portfolio3.html">Buttlers's</a></li>
                                        <li><a href="portfolio3.html">Milka</a></li>
                                        <li><a href="portfolio3.html">Ferrero</a></li>
                                        <li><a href="portfolio3.html">Cadbury</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)"><span>Gifting</span> <i
                                            class="fas fa-angle-down"></i></a>
                                    <ul class="submenu" style="border-radius: 13px;">
                                        <li><a href="about.html">Gift Hampers</a></li>
                                        <li><a href="contact.html">Bulk Orders</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9 hidden-md">
                    <div class="header-right">
                        <ul class="text-right">
                            <% if (!locals.user) { %>
                                <li>
                                    <a href="/login" class="account">
                                        <button class="signup-button"> 
                                            Sign up
                                        </button>
                                        <lord-icon
                                            src="https://cdn.lordicon.com/kthelypq.json"
                                            trigger="hover"
                                            colors="primary:#000000"
                                            style="width:22px;height:22px; padding-top: 6px;">
                                        </lord-icon>
                                    </a>
                                </li>
                            <% } else { %>
                                <a href="/profileDetails" class="account">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/kthelypq.json"
                                        trigger="hover"
                                        colors="primary:#ef829f"
                                        style="width:23px;height:23px; padding-top: 6px;">
                                    </lord-icon>
                                </a>
                            <% } %>                                
                            <li><a href="javascript:void(0)"><lord-icon
                                src="https://cdn.lordicon.com/kkvxgpti.json"
                                trigger="hover"
                                colors="primary:#000000"
                                style="width:22px;height:22px; padding-top: 4.5px; padding-left: 2px;">
                            </lord-icon>

                                <!-- search popup -->
                                <div id="search-popup">
                                    <div class="close-search-popup">
                                        <lord-icon
                                        src="https://cdn.lordicon.com/kkvxgpti.json"
                                        trigger="hover"
                                        colors="primary:#000000"
                                        style="width:20px;height:20px;">
                                    </lord-icon>
                                    </div>
                                    <div class="search-popup-inner mt-135">
                                        <div class="search-title text-center">
                                            <h2>Search</h2>
                                        </div>

                                        <div class="search-content pt-55">
                                            <ul class="text-center">
                                                <li><a href="javascript:void(0)" class="active">All categories</a>
                                                </li>
                                                <li><a href="javascript:void(0)">Clothing</a></li>
                                                <li><a href="javascript:void(0)">Gift Cards</a></li>
                                                <li><a href="javascript:void(0)">Handbag</a></li>
                                                <li><a href="javascript:void(0)">Kids</a></li>
                                                <li><a href="javascript:void(0)">Shoes</a></li>
                                                <li><a href="javascript:void(0)">Sneaker</a></li>
                                                <li><a href="javascript:void(0)">Women</a></li>
                                            </ul>

                                            <div class="search-form mt-35">
                                                <form action="#" method="post">
                                                    <input type="text" placeholder="Search Products...">
                                                    <button type="submit"> <img src="/assets/Vector1.svg" style="width: 22px; height: 20px;"></button>                                                    </form>
                                            </div>

                                            <div class="search-result-list">
                                                <ul class="text-left">
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                fabric deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                fabric deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="wishlist.html" data-toggle="tooltip" data-placement="bottom"
                                    title="view wishlist"><lord-icon
                                    src="https://cdn.lordicon.com/xyboiuok.json"
                                    trigger="hover"
                                    colors="primary:#000000"
                                    style="width:24px;height:24px; padding-top: 4.8px;">
                                </lord-icon></a></li>
                            <li><a href="/cart"> <lord-icon
                                src="https://cdn.lordicon.com/mfmkufkr.json"
                                trigger="hover"
                                colors="primary:#000000"
                                style="width:23px;height:23px; padding-top: 4.2px;">
                            </lord-icon><span></span></i></a>
                                <!-- <div class="minicart">
                                    <div class="minicart-body">
                                        <div class="minicart-content">
                                            <ul class="text-left">
                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/P-1.webp"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Capitalize on low hanging fruit
                                                            t</a>
                                                        <strong>1 × $250.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/2.jpg"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Leather Courriere duffle ba</a>
                                                        <strong>1 × $150.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>


                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/3.jpg"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Party Supplies Around Cupcake</a>
                                                        <strong>1 × $150.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="minicart-checkout">
                                        <div class="minicart-checkout-heading mt-8 mb-25 overflow-hidden">
                                            <strong class="float-left">Subtotal:</strong>
                                            <span class="price float-right">503.00</span>
                                        </div>
                                        <div class="minicart-checkout-links">
                                            <a href="cart.html"
                                                class="generic-btn black-hover-btn text-uppercase w-100 mb-20">View
                                                cart</a>
                                            <a href="checkout.html"
                                                class="generic-btn black-hover-btn text-uppercase w-100 mb-20">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="/assets/Icon4.svg" style="width: 30px; height: 28px; ">
                                </a>
                                <ul class="submenu text-right" style="border-radius: 13px;">
                                    <% if (locals.user) { %>
                                        <li><a href="/profileDetails">My profile</a></li>
                                        <li><a href="checkout.html">My address</a></li>
                                        <li><a href="/loadShop">Orders</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="/logout">logout</a></li>
                                    <% } else { %>
                                        <li><a href="/login">My profile</a></li>
                                        <li><a href="checkout.html">My address</a></li>
                                        <li><a href="/loadShop">Orders</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="/login">Sign in</a></li>
                                    <% } %>
                                </ul>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu visible-sm">
            <div id="mobile-menu">
                <ul>
                    <li><a class="pl-3" href="javascript:void(0)">Home</a></li>
                    <li><a class="pl-3" href="javascript:void(0)">Shop</a>
                        <ul>
                            <li><a href="#">All Products </a></li>
                            <li><a href="#">Trending</a></li>
                            <li><a href="#">Best Seller</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">Best Deals</a>
                    </li>
                    <li><a href="javascript:void(0)">Gifting</a>
                        <ul>
                            <li><a href="portfolio.html">Gifting</a></li>
                            <li><a href="portfolio2.html">Bundle Hamper</a></li>
                            <li><a href="portfolio3.html">Bulk Orders</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <!-- /. mobile nav -->
    </div>
</header>
<!-- header section end -->
<div class="has-breadcrumb-bg m-0" data-background="img/bg/3.jpg">
    <div class="breadcrumb-content d-flex justify-content-center align-items-center" style="flex-direction: column;">
        
        <h3 class="title"><img src="/assets/img/logo/Profile_icon.png" style="width: 50px; height: 50px; padding-bottom: 6px; padding-right: 6px;">My Profile</h3>
        <nav aria-label="breadcrumb" class="mb-">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shop</li>
            </ol>
        </nav>
    </div>
</div>


<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <!-- Sidebar Column -->
      <div class="col-md-3">
        <div class="sidebar pl-5 sidebar-text">
          <ul class="nav flex-column">
            <li class="nav-item" style="margin-bottom: 25px;"><a class="nav-link" href="/profileDetails" style="color: black;">Personal info</a></li>
            <li class="nav-item" style="margin-bottom: 25px;"><a class="nav-link" href="/orders" style="color: rgb(176, 176, 176);">Orders</a></li>
            <li class="nav-item" style="margin-bottom: 25px;"><a class="nav-link" href="/wallet" style="color: rgb(176, 176, 176);">Wallet</a></li>
            <li class="nav-item" style="margin-bottom: 25px;"><a class="nav-link" href="/address" style="color: rgb(176, 176, 176);">Address</a></li>
            <li class="nav-item" style="margin-bottom: 25px;"><a class="nav-link" href="/accountDetails" style="color: rgb(176, 176, 176);">Account details</a></li>
            <li class="nav-item" style="margin-bottom: 25px;"><a class="nav-link" href="/logout" style="color: rgb(176, 176, 176);">Log out</a></li>
          </ul>
        </div>
      </div>
      
      <!-- Main Content Column -->
      <div class="col-md-6">
        <h4 class="col-md-6 profile-head p-0">Hey, <%= user.firstName %> 👋</h4>
        <p class="col-md-6 p-head p-0">Update your Profile Info</p>
        <div class="card mb-4 update-card">
            <h5 class="card-header">Update your profile</h5>
            <form action="/updateProfile" method="post" id="myForm" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="d-flex justify-content-center align-items-sm-center gap-5">
                        <img src="/assets/img/brands/<%= user.image %>" class="d-block rounded-circle image-preview" height="200" width="200" id="preview-1" onclick="triggerInput('file-input-1')" />
                        <input id="file-input-1" type="file" name="image" class="account-file-input" hidden accept="image/png, image/jpeg, image/webp" onchange="openCropper(event, 'preview-1')" />
                    </div>
                </div>
        
            <!-- Cropper Modal -->
            <div id="cropperModal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8); align-items:center; justify-content:center;">
                <div style="background:#fff; padding:20px; border-radius:14px; position:relative;">
                    <img id="image-to-crop" style="max-width:100%; max-height:80vh; margin-bottom: 20px;">
                    <button type="button" class="btn btn-outline-secondary account-image-reset mb-4" onclick="cropImage()">
                        <i class="bx bx-reset d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Crop</span>
                    </button>
                    <button type="button" class="btn btn-outline-secondary account-image-reset mb-4" onclick="closeCropper()">
                        <i class="bx bx-reset d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Cancel</span>
                    </button>
                </div>
            </div>
        
            <form action="/updateProfile" method="post" id="myForm" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input class="form-control" type="text" id="firstName" name="firstName" value="<%= user.firstName %>" autofocus />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input class="form-control" type="text" id="lastName" name="lastName" value="<%= user.lastName %>" />
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="bio" class="form-label">Bio</label>
                            <input class="form-control" type="text" id="bio" name="bio" value="<%= user.bio %>" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="favorite" class="form-label">Favorite Chocolate</label>
                            <input class="form-control" type="text" id="favorite" name="favorite" value="<%= user.favorite %>" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="phone">Phone Number</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">IN (+91)</span>
                                <input type="number" id="phone" name="phone" class="form-control" value="<%= user.phone %>" />
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2" style="font-family: poppins; font-weight: 300; font-size: 13px; border-radius: 8px;">Save changes</button>
                            <button type="button" class="btn" style="font-family: poppins; font-weight: 300; font-size: 13px; border-radius: 8px;">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <!-- Add Cropper.js JavaScript -->
    <script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>
    <!-- Add SweetAlert JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
    <!-- Add your custom JavaScript -->
    <script>
        let cropper;
        let currentPreviewId;

        function triggerInput(inputId) {
            document.getElementById(inputId).click();
        }

        function openCropper(event, previewId) {
            const file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const modal = document.getElementById('cropperModal');
                    modal.style.display = 'flex';
                    const imageElement = document.getElementById('image-to-crop');
                    imageElement.src = e.target.result;
                    currentPreviewId = previewId;  

                    if (cropper) {
                        cropper.destroy();
                    }
                    cropper = new Cropper(imageElement, {
                        aspectRatio: 1,
                        viewMode: 1
                    });
                };
                reader.readAsDataURL(file);
            }
        }

        function cropImage() {
            const canvas = cropper.getCroppedCanvas();
            const preview = document.getElementById(currentPreviewId);
            preview.style.backgroundImage = 'url(' + canvas.toDataURL() + ')';
            preview.innerHTML = `<i class="fa-regular fa-circle-xmark remove-icon" onclick="removeImage('${currentPreviewId}')"></i>`;
            closeCropper();
        }

        function closeCropper() {
            if (cropper) {
                cropper.destroy();
            }
            document.getElementById('cropperModal').style.display = 'none';
        }

        function removeImage(previewId) {
            const preview = document.getElementById(previewId);
            preview.style.backgroundImage = 'none';
            preview.innerHTML = '';
        }

        function resetImages() {
            for (let i = 1; i <= 4; i++) {
                removeImage(`preview-${i}`);
            }
        }

        async function updateUserProfile(event) {
            event.preventDefault();

            if (!updateProfileValidation()) {
                return;
            }

            const formData = new FormData(event.target);

            try {
                const response = await fetch(`/updateProfile`, {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json();

                if (data.success) {
                    Swal.fire({
                        title: 'Do you want to save the changes?',
                        showDenyButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Save',
                        denyButtonText: `Don't save`
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire('Saved!', '', 'success').then(() => {
                                window.location.reload();
                            });
                        } else if (result.isDenied) {
                            Swal.fire('Changes are not saved', '', 'info');
                        }
                    });
                } else {
                    Swal.fire('Failed!', 'Changes could not be saved', 'error');
                }
            } catch (error) {
                Swal.fire('Failed!', 'Changes could not be saved: ' + error.message, 'error');
            }
        }

        function updateProfileValidation() {
            // Add your validation logic here
            return true;
        }
    </script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<%- include('../layouts/addBrandsFooter') %>
<%- include('../layouts/homeFooter') %>
