<%- include('../layouts/userHomeHeader') %>

    <div class="shipping-offer-container">
        <p class="shipping-offer">Melt free Delivery PAN India! 🚚</p>
    </div>
    <!-- header section start -->
    <header class="header pt-30 pb-30  header-sticky">
        <div class="container-fluid">
            <div class="header-nav  position-relative">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-1 col-md-6 col-sm-6 col-3">
                        <div class="logo">
                            <a href="/home"><img src="/assets/img/logo/logo1.png" alt=""></a>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-8 hidden-md position-static">
                        <div class="header-nav header-nav-2 pl-100">
                            <nav class="d-flex justify-content-center align-content-center"> 
                                <ul>
                                    <li><a href="javascript:void(0)" class="active"><span>Home </span></a></li>
                                    <li><a href="/loadShop"><span>Shop <i class="fas fa-angle-down"></i></span></a>
                                            <div class="submenu" style="border-radius: 13px;">
                                                <ul>
                                                    <li><a href="#">All Products </a></li>
                                                    <li><a href="#">Trending</a></li>
                                                    <li><a href="#">Best Seller</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    <li><a href="javascript:void(0)"><span>Best Deals</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:void(0)"><span>Top Brands <i
                                                    class="fas fa-angle-down"></i></span> </a>
                                        <ul class="submenu" style="border-radius: 13px;">
                                            <li><a href="portfolio.html">Lindt</a></li>
                                            <li><a href="portfolio2.html">Whittaker's</a></li>
                                            <li><a href="portfolio3.html">Buttlers's</a></li>
                                            <li><a href="portfolio3.html">Milka</a></li>
                                            <li><a href="portfolio3.html">Ferrero</a></li>
                                            <li><a href="portfolio3.html">Cadbury</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0)"><span>Gifting</span> <i
                                                class="fas fa-angle-down"></i></a>
                                        <ul class="submenu" style="border-radius: 13px;">
                                            <li><a href="about.html">Gift Hampers</a></li>
                                            <li><a href="contact.html">Bulk Orders</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html"><span>Contact</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9 hidden-md">
                        <div class="header-right">
                            <ul class="text-right">
                                <% if (!locals.user) { %>
                                    <li>
                                        <a href="/login" class="account">
                                            <button class="signup-button"> 
                                                Sign up
                                            </button>
                                            <lord-icon
                                                src="https://cdn.lordicon.com/kthelypq.json"
                                                trigger="hover"
                                                colors="primary:#000000"
                                                style="width:22px;height:22px; padding-top: 6px;">
                                            </lord-icon>
                                        </a>
                                    </li>
                                <% } else { %>
                                    <a href="/profileDetails" class="account">
                                        <lord-icon
                                            class="userProfile"
                                            src="https://cdn.lordicon.com/kthelypq.json"
                                            trigger="hover"
                                            colors="primary:#000000"
                                            style="width:23px;height:23px; padding-top: 6px;">
                                        </lord-icon>
                                    </a>
                                <% } %>                                
                                <li><a href="javascript:void(0)"><lord-icon
                                    src="https://cdn.lordicon.com/kkvxgpti.json"
                                    trigger="hover"
                                    colors="primary:#000000"
                                    style="width:22px;height:22px; padding-top: 4.5px; padding-left: 2px;">
                                </lord-icon>

                                    <!-- search popup -->
                                    <div id="search-popup">
                                        <div class="close-search-popup">
                                            <lord-icon
                                            src="https://cdn.lordicon.com/kkvxgpti.json"
                                            trigger="hover"
                                            colors="primary:#000000"
                                            style="width:20px;height:20px;">
                                        </lord-icon>
                                        </div>
                                        <div class="search-popup-inner mt-135">
                                            <div class="search-title text-center">
                                                <h2>Search</h2>
                                            </div>

                                            <div class="search-content pt-55">
                                                <ul class="text-center">
                                                    <li><a href="javascript:void(0)" class="active">All categories</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)">Clothing</a></li>
                                                    <li><a href="javascript:void(0)">Gift Cards</a></li>
                                                    <li><a href="javascript:void(0)">Handbag</a></li>
                                                    <li><a href="javascript:void(0)">Kids</a></li>
                                                    <li><a href="javascript:void(0)">Shoes</a></li>
                                                    <li><a href="javascript:void(0)">Sneaker</a></li>
                                                    <li><a href="javascript:void(0)">Women</a></li>
                                                </ul>

                                                <div class="search-form mt-35">
                                                    <form action="#" method="post">
                                                        <input type="text" placeholder="Search Products...">
                                                        <button type="submit"> <img src="/assets/Vector1.svg" style="width: 22px; height: 20px;"></button>                                                    </form>
                                                </div>

                                                <div class="search-result-list">
                                                    <ul class="text-left">
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                    chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                    deck chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                    fabric deck chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                    chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                    deck chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="d-block d-flex align-items-center">
                                                            <div class="search-result-img">
                                                                <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                            </div>
                                                            <div class="search-result-desc pl-10">
                                                                <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                    fabric deck chair</a>
                                                                <div class="price">$<span>399</span></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="/wishlist" data-toggle="tooltip" data-placement="bottom"
                                        title="view wishlist"><lord-icon
                                        src="https://cdn.lordicon.com/xyboiuok.json"
                                        trigger="hover"
                                        colors="primary:#000000"
                                        style="width:24px;height:24px; padding-top: 4.8px;">
                                    </lord-icon></a></li>
                                    <li>
                                        <a href="/cart">
                                            <lord-icon
                                                src="https://cdn.lordicon.com/mfmkufkr.json"
                                                trigger="hover"
                                                colors="primary:#000000"
                                                style="width:23px;height:23px; padding-top: 4.2px;">
                                            </lord-icon>
                                            <% if (isLoggedIn) { %>
                                                <span id="cart-count"><%= cartCount %></span>
                                            <% } %>
                                        </a>
                                    </li>
                                    <!-- <div class="minicart">
                                        <div class="minicart-body">
                                            <div class="minicart-content">
                                                <ul class="text-left">
                                                    <li>
                                                        <div class="minicart-img">
                                                            <a href="/product-1" class="p-0"><img src="/assets/img/product/P-1.webp"
                                                                    class="w-100" alt=""></a>
                                                        </div>
                                                        <div class="minicart-desc">
                                                            <a href="/product-1" class="p-0">Capitalize on low hanging fruit
                                                                t</a>
                                                            <strong>1 × $250.00</strong>
                                                        </div>
                                                        <div class="remove">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="minicart-img">
                                                            <a href="/product-1" class="p-0"><img src="/assets/img/product/2.jpg"
                                                                    class="w-100" alt=""></a>
                                                        </div>
                                                        <div class="minicart-desc">
                                                            <a href="/product-1" class="p-0">Leather Courriere duffle ba</a>
                                                            <strong>1 × $150.00</strong>
                                                        </div>
                                                        <div class="remove">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                    </li>


                                                    <li>
                                                        <div class="minicart-img">
                                                            <a href="/product-1" class="p-0"><img src="/assets/img/product/3.jpg"
                                                                    class="w-100" alt=""></a>
                                                        </div>
                                                        <div class="minicart-desc">
                                                            <a href="/product-1" class="p-0">Party Supplies Around Cupcake</a>
                                                            <strong>1 × $150.00</strong>
                                                        </div>
                                                        <div class="remove">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="minicart-checkout">
                                            <div class="minicart-checkout-heading mt-8 mb-25 overflow-hidden">
                                                <strong class="float-left">Subtotal:</strong>
                                                <span class="price float-right">503.00</span>
                                            </div>
                                            <div class="minicart-checkout-links">
                                                <a href="cart.html"
                                                    class="generic-btn black-hover-btn text-uppercase w-100 mb-20">View
                                                    cart</a>
                                                <a href="checkout.html"
                                                    class="generic-btn black-hover-btn text-uppercase w-100 mb-20">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="/assets/Icon4.svg" style="width: 30px; height: 28px; ">
                                    </a>
                                    <ul class="submenu text-right" style="border-radius: 13px;">
                                        <% if (locals.user) { %>
                                            <li><a href="/profileDetails">My profile</a></li>
                                            <li><a href="/addressManage">My address</a></li>
                                            <li><a href="/loadShop">Orders</a></li>
                                            <li><a href="/wishlist">Wishlist</a></li>
                                            <li><a id="logoutButton" href="/logout">logout</a></li>
                                        <% } else { %>
                                            <li><a href="/login">My profile</a></li>
                                            <li><a href="/addressManage">My address</a></li>
                                            <li><a href="/loadShop">Orders</a></li>
                                            <li><a href="/wishlist">Wishlist</a></li>
                                            <li><a href="/login">Sign in</a></li>
                                        <% } %>
                                    </ul>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu visible-sm">
                <div id="mobile-menu">
                    <ul>
                        <li><a class="pl-3" href="javascript:void(0)">Home</a></li>
                        <li><a class="pl-3" href="javascript:void(0)">Shop</a>
                            <ul>
                                <li><a href="#">All Products </a></li>
                                <li><a href="#">Trending</a></li>
                                <li><a href="#">Best Seller</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Best Deals</a>
                        </li>
                        <li><a href="javascript:void(0)">Gifting</a>
                            <ul>
                                <li><a href="portfolio.html">Gifting</a></li>
                                <li><a href="portfolio2.html">Bundle Hamper</a></li>
                                <li><a href="portfolio3.html">Bulk Orders</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- /. mobile nav -->
        </div>
    </header>
    <!-- header section end -->




    <!-- slider section start -->
    <section class="slider">
        <div class="slider-active">
            <div class="single-slider d-flex align-items-center h-950" data-background="/assets/img/slider/1.jpg">
                <div class="container">
                    <div class="single-slider-inner d-flex align-items-center justify-content-center pt-190">
                        <div class="single-slider-content text-center light-content">
                            <div class="slider-heading">
                                <h2 class="mb-0" data-animation="fadeInUp" data-delay=".2s">Handcrafted</h2>
                                <h2 class="mb-0" data-animation="fadeInUp" data-delay=".4s">Perfection in Every Bites</h2>
                            </div>
                            <div class="slider-desc" data-animation="fadeInUp" data-delay=".6s">
                                <p class="mt-20 mb-0">Explore Our Latest Arrivals. Shop the Collection Now</p>
                            </div>
                            <div class="slider-link" data-animation="fadeInUp" data-delay=".8s">
                                <a href="/loadShop" class="generic-btn mt-50 red-hover-btn text-uppercase">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider d-flex align-items-center h-950" data-background="/assets/img/slider/2.jpg">
                <div class="container">
                    <div class="single-slider-inner d-flex align-items-center justify-content-center pt-190">
                        <div class="single-slider-content text-center light-content">
                            <div class="slider-heading">
                                <h2 class="mb-0" data-animation="fadeInUp" data-delay=".2s">Gift the Joy</h2>
                                <h2 class="mb-0" data-animation="fadeInUp" data-delay=".4s">of Exquisite Chocolates </h2>
                            </div>
                            <div class="slider-desc" data-animation="fadeInUp" data-delay=".6s">
                                <p class="mt-35 mb-0">Celebrate special moments with our luxurious chocolate gift hampers.</p>
                            </div>
                            <div class="slider-link" data-animation="fadeInUp" data-delay=".8s">
                                <a href="/loadShop" class="generic-btn mt-70 red-hover-btn text-uppercase">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider d-flex align-items-center h-950" data-background="/assets/img/slider/3.jpg">
                <div class="container">
                    <div class="single-slider-inner d-flex align-items-center justify-content-center pt-190">
                        <div class="single-slider-content text-center light-content">
                            <div class="slider-heading">
                                <h2 class="mb-0">Pure Cocoa</h2>
                                <h2 class="mb-0">Bliss in Every Taste</h2>
                            </div>
                            <div class="slider-desc" data-animation="fadeInUp" data-delay=".6s">
                                <p class="mt-35 mb-0">Experience the rich, authentic flavor of our premium cocoa chocolates.</p>
                            </div>
                            <div class="slider-link" data-animation="fadeInUp" data-delay=".8s">
                                <a href="/loadShop" class="generic-btn mt-70 red-hover-btn text-uppercase">Discover
                                    now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider section end -->




    <!-- category section start -->
    <section class="category mt-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 left-category">
                    <div class="category-box">
                        <div class="category-wrapper">
                            <div class="category-img">
                                <img src="/assets/img/banner/categorie_1.png" class="w-100" style="height: 637px; border-radius: 16px;">
                            </div>
                            <div class="category-content">
                                <a href="/loadShop" class="title">Galaxy Valentine's special</a>
                                <p class="category-item">(<span>Coming</span> soon)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <div class="row">
                                <div class="col-12 mb-27">
                                    <div class="category-box">
                                        <div class="category-wrapper">
                                            <div class="category-img">
                                                <img src="/assets/img/banner/categorie_2.gif" class="w-100" style="height: 307px; border-radius: 16px;">
                                            </div>
                                            <div class="category-content">
                                                <a href="#" class="title">New bites</a>
                                                <p class="category-item">(<span>try</span> our new...)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="category-box">
                                        <div class="category-wrapper">
                                            <div class="category-img">
                                                <img src="/assets/img/banner/categorie_3.png" class="w-100" style="height: 307px; border-radius: 16px;">
                                            </div>
                                            <div class="category-content">
                                                <a href="/loadShop" class="title">Gifting</a>
                                                <p class="category-item">(<span>11</span> items)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 category-right">
                            <div class="category-box">
                                <div class="category-wrapper">
                                    <div class="category-img">
                                        <img src="/assets/img/banner/categorie_4.jpg" class="w-100"  style="height: 637px; border-radius: 16px;">
                                    </div>
                                    <div class="category-content">
                                        <a href="/loadShop" class="title">Real Flavors</a>
                                        <p class="category-item">(<span>19</span> items)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- category section end -->
    
    <!-- Brands Slider section Start -->
    <div class="container mt-5">
        <div class="generic-title text-center">
            <h2 class="mb-20">Top Brands</h2>
            <p>Indulge in the finest selection of premium chocolates from world-renowned luxury brands.</p>
            <p>we offer an exclusive range of exquisite, high-end chocolates that epitomize sophistication and taste.</p>
        </div>
        <div class="container mt-5">
            <% if (brands.length > 0){ %>
              <div id="cardSlider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% for(let i = 0; i < brands.length; i += 6) { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                      <div class="row">
                        <% for(let j = i; j < i + 6 && j < brands.length; j++) { %>
                          <div class="col-2">
                            <div class="card-brand" style="width: 200px;">
                              <img src="/assets/img/brands/<%= brands[j].imageUrl %>" class="card-img" alt="Image <%= j + 1 %>">
                            </div>
                          </div>
                        <% } %>
                      </div>
                    </div>
                  <% } %>
                </div>
                <a class="carousel-control-prev" href="#cardSlider" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#cardSlider" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            <% } %>
          </div>   
    <!-- Brands Slider section End -->


    <!-- main product sections tart -->
    <section class="main-product mt-100">
        <div class="container">
            <ul class="nav nav-pills mb-3">
                <li class="nav-item">
                    <a class="active" data-toggle="pill" href="#main-tab-1">New Arrivals</a>
                </li>
                <li class="nav-item">
                    <a class="" data-toggle="pill" href="#main-tab-2">Best Sellers</a>
                </li>
                <li class="nav-item">
                    <a class="" data-toggle="pill" href="#main-tab-3">Top rate</a>
                </li>
            </ul>
            <div class="tab-content mt-25">
                <% if (products.length > 0){ %>
                    <div class="tab-pane fade show active" id="main-tab-1">
                        <% for(let row = 0; row < 3; row++){ %>
                        <div class="row">
                            <% for(let col = 0; col < 4; col++){ 
                                let index = row * 4 + col;
                                if(index >= products.length) break;
                            %>
                            <div class="col-3">
                                <div class="product-box mb-40">
                                    <div class="product-box-wrapper">
                                        <div class="product-img">
                                            <img src="/assets/img/brands/<%= products[index].image[0] %>" class="w-100" alt="">
                                            <a href="/singleProduct?id=<%= products[index]._id %>" class="d-block">
                                                <div class="second-img">
                                                    <img src="/assets/img/brands/<%= products[index].image[1] %>" alt="" class="w-100">
                                                </div>
                                            </a>
                                            <a href="/loadShop" class="product-img-link quick-view-1 text-capitalize">Quick view</a>
                                        </div>
                                        <div class="product-desc pb-20">
                                            <div class="product-desc-top">
                                                <div class="categories">
                                                    <a href="/loadShop" class="product-category">
                                                        <span><%= products[index].brandId ? products[index].brandId.name : 'Unknown Brand' %></span>
                                                    </a>
                                                </div>
                                                <a onclick="addToWishlist(event, '<%= products[index]._id %>')" class="wishlist float-right">
                                                <span>
                                                    <% if (wishlistItems.includes(products[index]._id.toString())) { %>
                                                        <lord-icon
                                                        src="https://cdn.lordicon.com/xyboiuok.json"
                                                        trigger="in"
                                                        delay="1"
                                                        state="morph-heart"
                                                        colors="primary:#ee7c9b"
                                                        style="width:30px;height:30px">
                                                        </lord-icon>
                                                        <% } else { %>
                                                            <lord-icon
                                                            src="https://cdn.lordicon.com/xyboiuok.json"
                                                                trigger="click"
                                                                state="morph-heart"
                                                                colors="primary:#ee7c9b"
                                                                style="width:30px;height:30px">
                                                            </lord-icon>
                                                    <% } %>
                                                </span>
                                            </a>
                                            </div>
                                            <a href="/singleProduct?id=<%= products[index]._id %>" class="product-title">
                                                <%= products[index].productName %>
                                            </a>
                                            <div class="price-switcher">
                                                <span class="price switcher-item">₹<%= products[index].discountPrice %></span>
                                                <a onclick="addToCart(event, '<%= products[index]._id %>')" class="add-cart text-capitalize switcher-item">+add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                <% } %>                
            </div>            
                    <div class="text-center mt-10  load-btn">
                        <a href="/loadShop" class="load-more">Load more</a>
                    </div>
                </div>
                <!-- /. tab content 1
                <div class="tab-pane fade" id="main-tab-2">
                    <div class="main-product-carousel owl-carousel red-nav">
                        <div class="main-product-carousel-item">
                            <div class="tab-content mt-25">
                                <% if (products.length > 0) { %>
                                <div class="tab-pane fade show active" id="main-tab-1">
                                    <% for (let row = 0; row < 3; row++) { %>
                                    <div class="row">
                                        <% for (let col = 0; col < 4; col++) { 
                                            let index = row * 4 + col;
                                            if (index >= products.length) break;
                                        %>
                                        <div class="col-3 col-md-6 col-sm-12 mb-3">
                                            <div class="product-box mb-40">
                                                <div class="product-box-wrapper">
                                                    <div class="product-img">
                                                        <img src="/assets/img/brands/<%= products[index].image[0] %>" class="w-100" alt="">
                                                        <a href="/singleProduct?id=<%= products[index]._id %>" class="d-block">
                                                            <div class="second-img">
                                                                <img src="/assets/img/brands/<%= products[index].image[1] %>" alt="" class="w-100">
                                                            </div>
                                                        </a>
                                                        <a href="javascript:void(0)"
                                                           class="product-img-link quick-view-1 text-capitalize">Quick view</a>
                                                    </div>
                                                    <div class="product-desc pb-20">
                                                        <div class="product-desc-top">
                                                            <div class="categories">
                                                                <a href="/loadShop" class="product-category">
                                                                    <span><%= products[index].brand %></span>
                                                                </a>
                                                            </div>
                                                            <a href="wishlist.html" class="wishlist float-right">
                                                                <span>
                                                            <lord-icon
                                                                src="https://cdn.lordicon.com/xyboiuok.json"
                                                                trigger="click"
                                                                state="morph-heart"
                                                                colors="primary:#000000"
                                                                style="width:23px;height:23px">
                                                            </lord-icon></span>
                                                            </a>
                                                        </div>
                                                        <a href="/singleProduct?id=<%= products[index]._id %>" class="product-title">
                                                            <%= products[index].productName %>
                                                        </a>
                                                        <div class="price-switcher">
                                                            <span class="price switcher-item">₹<%= products[index].discountPrice %></span>
                                                            <a href="cart.html" class="add-cart text-capitalize switcher-item">+add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                    <% } %>
                                </div>
                                <% } %>
                            </div>
            </div>
        </div>
    </div> -->
    <!-- main product sections end -->
    <div class="container">
        <div class="generic-title text-center">
            <h2 class="mb-20">Explore Luxury Recipes</h2>
            <p>Discover the art of creating exquisite chocolate dishes with our curated video collection,</p>
            <p>showcasing premium chocolate brands and inspiring recipes.</p>
        </div>
        <div class="video-container">
            <div class="video-scroll">
                <div class="video-item">
                    <video autoplay muted playsinline loop>
                        <source src="/assets/video-1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="video-item">
                    <video autoplay muted playsinline loop>
                        <source src="/assets/video-2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="video-item">
                    <video autoplay muted playsinline loop>
                        <source src="/assets/video-3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="video-item">
                    <video autoplay muted playsinline loop>
                        <source src="/assets/video-4.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>


     <!-- Footer banner-price section start  -->
     <section class="shipping-price-section shipping-2 pt-10 mt-10 gray-border-top">
    <div class="container">
        <img src="/assets/img/banner/footerBanner-1.png" alt="Banner 1" class="responsive-banner">
        <img src="/assets/img/banner/footerBanner-2.png" alt="Banner 2" class="responsive-banner responsive2">
    </div>
</section>
    <!-- Footer banner section end -->


    <!-- footer section start -->
    <section class="footer">
        <div class="footer-top mt-120 pb-120 pt-115" style="background: linear-gradient(90deg, #FFE8EF,#FFF3F6);">
            <div class="footer-top-wrapper">
                <div class="newsletter ">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <h2 class="title m-0">Sign Up For Our Newsletter</h2>
                            <p>Subscribe our newsletter and get discount 20% Off</p>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="newsletter-form">
                                <form action="#" method="POST">
                                    <input type="text" placeholder="Search for our newsletter...">
                                    <button type="submit"
                                        class="generic-btn red-hover-btn text-uppercase float-right">Subscribe
                                        Now</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.newsletter -->
                <div class="service pt-57 mt-40 gray-border-top">
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-md-6 service-item">
                            <div class="service-box service-box-2">
                                <div class="service-box-content">
                                    <h4 class="title">Worldwide Shipping</h4>
                                    <p class="service-desc">Duis autem vel eum iriure dolor in hendrerit velit esse
                                        molestie consequat.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 service-item">
                            <div class="service-box service-box-2">
                                <div class="service-box-content">
                                    <h4 class="title">Online Support 24/7</h4>
                                    <p class="service-desc">Duis autem vel eum iriure dolor in hendrerit velit esse
                                        molestie consequat.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 hidden-md service-item">
                            <div class="service-box service-box-2">
                                <div class="service-box-content">
                                    <h4 class="title">Money Return Guarantee</h4>
                                    <p class="service-desc">Duis autem vel eum iriure dolor in hendrerit velit esse
                                        molestie consequat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. service -->
                <!-- /. footer bottom -->
            </div>

        </div>
        <!-- footer top -->

        <div class="footer-bottom pt-77" style="background-color: #000;">
            <div class="container-1180">
                <div class="footer-bottom-wrapper">
                    <div class="footer-bottom-primary pb-60">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-9">
                                <div class="footer-item has-desc">
                                    <div class="footer-logo mb-25">
                                        <img src="/assets/img/logo/logo2.png" width="300" height="23" alt="">
                                    </div>
                                    <div class="footer-desc">
                                        <p class="mb-10">Choco Heaven is the pinnacle of luxury in the chocolate world. Our online store boasts
                                             a meticulously curated selection of the finest chocolates Experience unparalleled
                                            customization and flawless responsiveness across all devices, ensuring an indulgent
                                            shopping experience that is as exquisite as our chocolates.
                                        </p>
                                    </div>
                                    <div class="footer-img mt-65">
                                        <img src="/assets/img/logo/paypal.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-12">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                        <div class="footer-menu">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="title">MY ACCOUNT</a></li>
                                                <li><a href="login.html">My account</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="/loadShop">Shop</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="question.html">Frequently</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                        <div class="footer-menu">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="title">Quick Links</a></li>
                                                <li><a href="/loadShop">Special Offers</a></li>
                                                <li><a href="/loadShop">Gift Cards</a></li>
                                                <li><a href="/loadShop">F21 Red</a></li>
                                                <li><a href="about.html">Privacy Policy</a></li>
                                                <li><a href="about.html">Teams of Use</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 hidden-sm">
                                        <div class="footer-menu">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="title">Company Info</a></li>
                                                <li><a href="about.html">About us</a></li>
                                                <li><a href="blog.html">Careers</a></li>
                                                <li><a href="portfolio2.html">Business With Us</a></li>
                                                <li><a href="/loadShop">Find a Store</a></li>
                                                <li><a href="question.html">Teams of Use</a></li>
                                                <li><a href="portfolio3.html">Press & Talent</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- footer section end -->



    <!-- product popup start -->
    <section id="product-popup">
        <div class="product-popup-overlay"></div>
        <div class="product-popup-container">
            <div class="product-inner w-100">
                <div class="product-inner-content">
                    <div class="quick-close-action"><i class="fas fa-times"></i></div>
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="product-popup-1">
                                    <div class="product-popup-img">
                                        <img src="img/product/10.jpg" class="w-100" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-popup-2">
                                    <div class="product-popup-img">
                                        <img src="img/product/11.jpg" class="w-100" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-popup-3">
                                    <div class="product-popup-img">
                                        <img src="img/product/12.jpg" class="w-100" alt="">
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-pills justify-content-center mt-10">
                                <li class="nav-item">
                                    <a class="active" data-toggle="pill" href="#product-popup-1">
                                        <img src="img/product/10.jpg" class="w-100" alt="">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="" data-toggle="pill" href="#product-popup-2">
                                        <img src="img/product/11.jpg" class="w-100" alt="">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="" data-toggle="pill" href="#product-popup-3">
                                        <img src="img/product/12.jpg" class="w-100" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6">
                            <div class="product-content">
                                <div class="product-title">
                                    <h2>Nari Narwhal Usb...</h2>
                                </div>
                                <div class="price">$<span>44.00</span>–<span>$250.00</span></div>
                                <a href="/product-1" class="all-feature">See all feature</a>
                                <div class="quick-quantity mt-30">
                                    <form action="#" method="POST">
                                        <input type="number" value="1">
                                        <button type="submit" class="generic-btn red-hover-btn text-capitalize">add to
                                            cart</button>
                                    </form>
                                </div>

                                <div class="product-desc pb-20 mt-25 gray-border-top">
                                    <p class="mb-0">Typi non habent claritatem insitam, est usus legentis in iis qui
                                        facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius
                                        quod ii legunt saepius. Claritas est etiam processus A Capitalize on low hanging
                                        fruit to identify a ballpark value added activity to beta test. Override the
                                        digital...ditional clickthroughs from DevOps. Nanotechnology immersion along the
                                        information highway will close the […]</p>
                                </div>
                                <div class="product-list mt-25">
                                    <ul>
                                        <li>– Light green crewneck sweatshirt.</li>
                                        <li>– Hand pockets.</li>
                                        <li>– Relaxed fit.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product popup end -->

    <!-- startup popup start -->
    <section id="startup-popup" class="d-none">
        <div class="product-popup-overlay has-startup" style="opacity: 1;visibility: visible"></div>
        <div class="startup-popup-body">
            <div class="startup-body-content h-100">
                <div class="row justify-content-end h-100">
                    <div class="col-6 h-100">
                        <div class="startup-popup-inner h-100">
                            <div class="close-search-popup">
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="startup-popup-main-content">
                                <h2>Get Our Email Letter</h2>
                                <p class="mb-0">Subscribe to the Mazia store mailing list to receive updates on new
                                    arrivals, special offers
                                    and other discount information.</p>
                                <div class="startup-subscribe-form">
                                    <form action="#" method="POST">
                                        <input type="text" placeholder="Subscribe to our newsletter" class="mb-30">
                                        <button class="generic-btn red-hover-btn text-uppercase">Subscribe now</button>
                                    </form>
                                </div>
                            </div>
                            <div class="startup-popup-sub-content">
                                <div class="popup-warning">
                                    <input type="checkbox" id="startup-popup-hidden">
                                    <label for="startup-popup-hidden">Do not show the popup again</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <div id="success-message-container"></div>
   <audio id="success-sound" src="/assets/addToCartSound.mp3" preload="auto"></audio>
   <audio id="wishlist-success-sound" src="/assets/wishlist-sound.mp3" preload="auto"></audio>
   <!-- Wishlist Success Sound -->
   <audio id="wishlist-success-sound" src="path_to_your_success_sound_file.mp3" preload="auto"></audio>

    <script src="/js/helperFunctions.js"></script>
    <script>
        document.querySelectorAll('.video-item video').forEach(video => {
            video.addEventListener('click', function() {
                if (this.hasAttribute('controls')) {
                    this.removeAttribute('controls');
                } else {
                    this.setAttribute('controls', 'controls');
                }
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <%- include('../layouts/homeFooter') %>
