<%- include('../layouts/loginHeader') %>
<% if(typeof message !== "undefined"){ %>
  <div class="msg msg-danger show d-flex align-items-center justify-content-center text-center" role="alert">
    <div class="d-flex align-items-center justify-content-center">
    <lord-icon
    src="https://cdn.lordicon.com/nqtddedc.json"
    trigger="in"
    delay="100"
    state="in-cross"
    colors="primary:#e83a30"
    style="width:50px;height:50px">
</lord-icon> 
</div>
<%= message %> 
  </div>
<% } %>
<% if(typeof warning !== "undefined"){ %>
  <div class="msg msg-warning show d-flex align-items-center justify-content-center text-center" role="alert" style="color: black;">
    <div class="d-flex align-items-center justify-content-center">
      <lord-icon
        src="https://cdn.lordicon.com/ygvjgdmk.json"
        trigger="in"
        delay="100"
        colors="primary:#e88c30"
        style="width:50px;height:50px;">
      </lord-icon>
    </div>
      <%= warning %>
  </div>  
<% } %>
<% if(typeof success !== "undefined"){ %>
  <div class="msg msg-success show d-flex align-items-center justify-content-center text-center" role="alert" style="color: black;">
    <div class="d-flex align-items-center justify-content-center">
      <lord-icon
    src="https://cdn.lordicon.com/oqdmuxru.json"
    trigger="in"
    delay="100"
    state="morph-check-in-1"
    colors="primary:#34c759"
    style="width:50px;height:50px">
</lord-icon>
    </div>
      <%= success %>
  </div>  
<% } %>

<!-- Rest of your login page content here -->
<div id="firejet-html-app">
  <div class="sign-in-wrapper">
    <div class="sign-in-sign-in">
      <main class="sign-up-ttt-choco-heaven-tttthome-horizontal-divider-ticon-ttshop-ticon-tgifting-vector-tnew-launches-ticon-tbrands-ticon-tlink-contact-ttvector-titem-ticon-t0ticon-t5titem">
        <div class="sign-up-tt-choco-heaven-tttthome-horizontal-divider-ticon-ttshop-ticon-tgifting-vector-tnew-launches-ticon-tbrands-ticon-tlink-contact-ttvector-titem-ticon-t0ticon-t5titem">
          <div class="sign-up-t-choco-heaven">
            <div class="sign-up-choco-heaven">CHOCO HEAVEN</div>
          </div>
        </div>
      </main>
      <h1 class="sign-in-sign-in-1">Sign In</h1>
      <aside class="sign-in-enter-your-email-to-sign-in-for-this-app">
        To get started, sign in to your account.
      </aside>
      <form action="/verifyLogin" method="post" id="contactForm" novalidate="novalidate">
        <div class="sign-in-t-button-1">
          <button class="sign-in-button" style="border: solid 1px; border-color: rgb(227, 226, 226);">
            <div class="sign-in-t-google-continue-with-google">
              <object
              style="width: 18px; height: 18px;"
                data="/assets/Google.svg"
                class="sign-in-google"
              ></object>
              <div class="sign-in-continue-with-google">
                <a href="/passportAuth/googleAuth" style="text-decoration: none; color: black;">Continue with Google</a>
              </div>
            </div>
          </button>
        </div>
        <div class="sign-in-t-button-2">
          <div class="sign-in-button-1">
            <div class="sign-in-t-apple-logo-continue-with-apple">
              <div class="sign-in-apple-logo"></div>
              <div class="sign-in-continue-with-apple">
                Continue with Apple
              </div>
            </div>
          </div>
        </div>
        <div class="sign-in-tt-divider-or-continue-with-divider">
          <div class="sign-in-t-divider-or-continue-with-divider">
            <div class="sign-in-divider"></div>
            <div class="sign-in-or-continue-with">or sign in with</div>
            <div class="sign-in-divider-1"></div>
          </div>
        </div>
        <div class="sign-in-t-field">
          <div class="sign-in-field">
            <input
              placeholder="email@domain.com"
              id="email"
              name="email"
              type="email"
              value="inzr010@gmail.com"
              class="sign-in-label"
            />
          </div>
        </div>
        <div class="sign-in-t-field-1">
          <div class="sign-in-field-1">
            <input
              placeholder="Password"
              id="password"
              name="password"
              value="irfan"
              type="password"
              class="sign-in-label-1"
            />
            <lord-icon
            src="https://cdn.lordicon.com/ktsahwvc.json"
            trigger="click"
            state="out-reveal"
            colors="primary:#000000"
            style="width:22px;height:20px"
            id="togglePassword"
        >
        </lord-icon>
          </div>
        </div>
        <div class="sign-in-t-button">
          <button class="sign-in-sign-up-with-email" type="submit" value="submit">Sign up with email</button>
        </div>
        <a href="/forgotPassword" style="text-decoration: none;">
        <footer class="sign-in-reset-password">Reset password</footer></a>
        <a href="/signUp" style="text-decoration: none;">
          <footer class="sign-in-create-an-account">Create an account</footer></a>
      </form>
      <div class="sign-in-by-clicking-continue-you-agree-to-our-terms-of-service-and-privacy-policy">
        <footer class="sign-in-text">
          By clicking continue, you agree to our
          Terms of Service <span class="sign-in-text-1">and </span>Privacy
          Policy
        </footer>
      </div>
      <div class="sign-in-t-footer">
        <div class="sign-in-footer">
          <div class="sign-in-tt-choco-heaven-tcompany-info-tquick-links-tmy-account">
            <div class="sign-in-t-choco-heaven-1">
              <div class="sign-in-choco-heaven-1">CHOCO HEAVEN</div>
            </div>
            <div class="sign-in-t-company-info">
              <div class="sign-in-company-info">Company Info</div>
            </div>
            <div class="sign-in-t-quick-links">
              <div class="sign-in-quick-links">Quick Links</div>
            </div>
            <div class="sign-in-t-my-account">
              <div class="sign-in-my-account">MY ACCOUNT</div>
            </div>
          </div>
          <div class="sign-in-ttt-mazia-store-is-apremium-theme-with-advanced-admin-module-it-sextremely-customizable-easy-to-use-and-fully-responsive-and-retina-ready-tttabout-us-tspecial-offers-tmy-account-ttcareers-business-with-us-ttgift-cards-f21red-tcheckout-shop">
            <div class="sign-in-tt-mazia-store-is-apremium-theme-with-advanced-admin-module-it-sextremely-customizable-easy-to-use-and-fully-responsive-and-retina-ready-tttabout-us-tspecial-offers-tmy-account-ttcareers-business-with-us-ttgift-cards-f21red-tcheckout-shop">
              <div class="sign-in-mazia-store-is-apremium-theme-with-advanced-admin-module-it-sextremely-customizable-easy-to-use-and-fully-responsive-and-retina-ready-tttabout-us-tspecial-offers-tmy-account-ttcareers-business-with-us-ttgift-cards-f21red-tcheckout-shop">
                Mazia Store is a premium theme with advanced admin module. It’s extremely customizable, easy to use and fully responsive and retina ready.
              </div>
              <div class="sign-in-about-us">About Us</div>
              <div class="sign-in-special-offers">Special Offers</div>
              <div class="sign-in-my-account-1">My Account</div>
              <div class="sign-in-careers-business-with-us">Careers / Business With Us</div>
              <div class="sign-in-gift-cards">Gift Cards</div>
              <div class="sign-in-f21red-tcheckout-shop">F21Red / Checkout Shop</div>
            </div>
          </div>
        </div>
        <div class="sign-in-t-follow-us-on-social">
          <div class="sign-in-follow-us-on-social">Follow Us on Social</div>
        </div>
        <div class="sign-in-t-facebook-twitter-instagram-tiktok-youtube">
          <div class="sign-in-t-facebook-twitter-instagram-tiktok-youtube">
            <div class="sign-in-facebook"></div>
            <div class="sign-in-twitter"></div>
            <div class="sign-in-instagram"></div>
            <div class="sign-in-tiktok"></div>
            <div class="sign-in-youtube"></div>
          </div>
        </div>
        <div class="sign-in-t-2021-maziastore-privacypolicy-termsconditions-ttuser-agreement-site-map">
          <div class="sign-in-tt-2021-maziastore-privacypolicy-termsconditions-ttuser-agreement-site-map">
            <div class="sign-in-2021-maziastore-privacypolicy-termsconditions-ttuser-agreement-site-map">
              © 2021 MaziaStore. Privacy Policy Terms & Conditions User Agreement Site Map
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
        document.addEventListener('DOMContentLoaded', function() {
          const togglePassword = document.getElementById('togglePassword');
          const password = document.getElementById('password');

          togglePassword.addEventListener('click', function() {
              const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
              password.setAttribute('type', type);
          });
      });
</script>
<%- include('../layouts/loginFooter') %>