<%- include('../layouts/loginHeader') %>
<% if(typeof message !== "undefined"){ %>
  <div class="msg msg-danger show d-flex align-items-center justify-content-center text-center" role="alert">
    <div class="d-flex align-items-center justify-content-center">
    <lord-icon
    src="https://cdn.lordicon.com/nqtddedc.json"
    trigger="in"
    delay="100"
    state="in-cross"
    colors="primary:#e83a30"
    style="width:50px;height:50px">
</lord-icon> 
</div>
<%= message %> 
  </div>
<% } %>
<% if(typeof warning !== "undefined"){ %>
  <div class="msg msg-warning show d-flex align-items-center justify-content-center text-center" role="alert" style="color: black;">
    <div class="d-flex align-items-center justify-content-center">
      <lord-icon
        src="https://cdn.lordicon.com/ygvjgdmk.json"
        trigger="in"
        delay="100"
        colors="primary:#e88c30"
        style="width:50px;height:50px;">
      </lord-icon>
    </div>
      <%= warning %>
  </div>  
<% } %>
<% if(typeof success !== "undefined"){ %>
  <div class="msg msg-success show d-flex align-items-center justify-content-center text-center" role="alert" style="color: black;">
    <div class="d-flex align-items-center justify-content-center">
      <lord-icon
    src="https://cdn.lordicon.com/oqdmuxru.json"
    trigger="in"
    delay="100"
    state="morph-check-in-1"
    colors="primary:#34c759"
    style="width:50px;height:50px">
</lord-icon>
    </div>
      <%= success %>
  </div>  
<% } %>

<!-- Rest of your login page content here -->
<div id="firejet-html-app">
  <div class="sign-in-wrapper">
    <div class="sign-in-sign-in">
      <main class="sign-up-ttt-choco-heaven-tttthome-horizontal-divider-ticon-ttshop-ticon-tgifting-vector-tnew-launches-ticon-tbrands-ticon-tlink-contact-ttvector-titem-ticon-t0ticon-t5titem">
        <div class="sign-up-tt-choco-heaven-tttthome-horizontal-divider-ticon-ttshop-ticon-tgifting-vector-tnew-launches-ticon-tbrands-ticon-tlink-contact-ttvector-titem-ticon-t0ticon-t5titem">
          <div class="sign-up-t-choco-heaven">
            <div class="sign-up-choco-heaven">CHOCO HEAVEN</div>
          </div>
        </div>
      </main>
      <h1 class="sign-in-sign-in-1">Forgot password ?</h1>
      <aside class="sign-in-enter-your-email-to-sign-in-for-this-app">
        Enter your email to reset your password
      </aside>
      <form action="/verifyEmail" method="post" id="contactForm" novalidate="novalidate">
        <div class="sign-in-t-field">
          <div class="sign-in-field">
            <input
              placeholder="email@domain.com"
              id="email"
              name="email"
              type="email"
              class="sign-in-label"
            />
          </div>
        </div>
        <div class="sign-in-t-button">
          <button class="sign-in-sign-up-with-email" type="submit" value="submit">Request OTP</button>
        </div>
        <footer class="sign-in-reset-password">Reset password</footer>
      </form>     
    </div>
  </div>
</div>
<script>
        document.addEventListener('DOMContentLoaded', function() {
          const togglePassword = document.getElementById('togglePassword');
          const password = document.getElementById('password');
          const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
          const confirmPassword = document.getElementById('confirmPassword');
  
          togglePassword.addEventListener('click', function() {
              const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
              password.setAttribute('type', type);
          });
  
          toggleConfirmPassword.addEventListener('click', function() {
              const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
              confirmPassword.setAttribute('type', type);
          });
      });
</script>
<%- include('../layouts/loginFooter') %>