  
  <%- include('../layouts/userWalletHeader') %>
  <%- include('../layouts/userHomeHeader') %>

  
   <!-- header section start -->
   <header class="header pt-3 pb-4 header-sticky" style="height: 4.5rem;">
    <div class="container-fluid">
        <div class="header-nav  position-relative">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-1 col-md-6 col-sm-6 col-3">
                    <div class="logo">
                        <a href="/home"><img src="/assets/img/logo/logo1.png" alt="" style="width: 100%; height: 100%;"></a>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-8 hidden-md position-static">
                    <div class="header-nav header-nav-2 pl-100">
                        <nav class="d-flex justify-content-center align-content-center"> 
                            <ul>
                                <li><a href="/home" ><span>Home </span></a></li>
                                <li><a href="/loadShop"><span>Shop <i class="fas fa-angle-down"></i></span></a>
                                        <div class="submenu" style="border-radius: 13px;">
                                            <ul>
                                                <li><a href="#">All Products </a></li>
                                                <li><a href="#">Trending</a></li>
                                                <li><a href="#">Best Seller</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                <li><a href="javascript:void(0)"><span>Best Deals</span>
                                    </a>
                                </li>
                                <li><a href="javascript:void(0)"><span>Top Brands <i
                                                class="fas fa-angle-down"></i></span> </a>
                                    <ul class="submenu" style="border-radius: 13px;">
                                        <li><a href="portfolio.html">Lindt</a></li>
                                        <li><a href="portfolio2.html">Whittaker's</a></li>
                                        <li><a href="portfolio3.html">Buttlers's</a></li>
                                        <li><a href="portfolio3.html">Milka</a></li>
                                        <li><a href="portfolio3.html">Ferrero</a></li>
                                        <li><a href="portfolio3.html">Cadbury</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)"><span>Gifting</span> <i
                                            class="fas fa-angle-down"></i></a>
                                    <ul class="submenu" style="border-radius: 13px;">
                                        <li><a href="about.html">Gift Hampers</a></li>
                                        <li><a href="contact.html">Bulk Orders</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9 hidden-md">
                    <div class="header-right">
                        <ul class="text-right">
                            <% if (!locals.user) { %>
                                <li>
                                    <a href="/login" class="account">
                                        <button class="signup-button"> 
                                            Sign up
                                        </button>
                                        <lord-icon
                                            src="https://cdn.lordicon.com/kthelypq.json"
                                            trigger="hover"
                                            colors="primary:#000000"
                                            style="width:22px;height:22px; padding-top: 6px;">
                                        </lord-icon>
                                    </a>
                                </li>
                            <% } else { %>
                                <a href="/profileDetails" class="account">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/kthelypq.json"
                                        trigger="hover"
                                        colors="primary:#ef829f"
                                        style="width:23px;height:23px; padding-top: 6px;">
                                    </lord-icon>
                                </a>
                            <% } %>                                
                            <li><a href="javascript:void(0)"><lord-icon
                                src="https://cdn.lordicon.com/kkvxgpti.json"
                                trigger="hover"
                                colors="primary:#000000"
                                style="width:22px;height:22px; padding-top: 4.5px; padding-left: 2px;">
                            </lord-icon>

                                <!-- search popup -->
                                <div id="search-popup">
                                    <div class="close-search-popup">
                                        <lord-icon
                                        src="https://cdn.lordicon.com/kkvxgpti.json"
                                        trigger="hover"
                                        colors="primary:#000000"
                                        style="width:20px;height:20px;">
                                    </lord-icon>
                                    </div>
                                    <div class="search-popup-inner mt-135">
                                        <div class="search-title text-center">
                                            <h2>Search</h2>
                                        </div>

                                        <div class="search-content pt-55">
                                            <ul class="text-center">
                                                <li><a href="javascript:void(0)" class="active">All categories</a>
                                                </li>
                                                <li><a href="javascript:void(0)">Clothing</a></li>
                                                <li><a href="javascript:void(0)">Gift Cards</a></li>
                                                <li><a href="javascript:void(0)">Handbag</a></li>
                                                <li><a href="javascript:void(0)">Kids</a></li>
                                                <li><a href="javascript:void(0)">Shoes</a></li>
                                                <li><a href="javascript:void(0)">Sneaker</a></li>
                                                <li><a href="javascript:void(0)">Women</a></li>
                                            </ul>

                                            <div class="search-form mt-35">
                                                <form action="#" method="post">
                                                    <input type="text" placeholder="Search Products...">
                                                    <button type="submit"> <img src="/assets/Vector1.svg" style="width: 22px; height: 20px;"></button>                                                    </form>
                                            </div>

                                            <div class="search-result-list">
                                                <ul class="text-left">
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                fabric deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                fabric deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="/wishlist" data-toggle="tooltip" data-placement="bottom"
                                    title="view wishlist"><lord-icon
                                    src="https://cdn.lordicon.com/xyboiuok.json"
                                    trigger="hover"
                                    colors="primary:#000000"
                                    style="width:24px;height:24px; padding-top: 4.8px;">
                                </lord-icon></a></li>
                            <li><a href="/cart"> <lord-icon
                                src="https://cdn.lordicon.com/mfmkufkr.json"
                                trigger="hover"
                                colors="primary:#000000"
                                style="width:23px;height:23px; padding-top: 4.2px;">
                            </lord-icon><span></span></i></a>
                                <!-- <div class="minicart">
                                    <div class="minicart-body">
                                        <div class="minicart-content">
                                            <ul class="text-left">
                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/P-1.webp"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Capitalize on low hanging fruit
                                                            t</a>
                                                        <strong>1 × $250.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/2.jpg"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Leather Courriere duffle ba</a>
                                                        <strong>1 × $150.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>


                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/3.jpg"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Party Supplies Around Cupcake</a>
                                                        <strong>1 × $150.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="minicart-checkout">
                                        <div class="minicart-checkout-heading mt-8 mb-25 overflow-hidden">
                                            <strong class="float-left">Subtotal:</strong>
                                            <span class="price float-right">503.00</span>
                                        </div>
                                        <div class="minicart-checkout-links">
                                            <a href="cart.html"
                                                class="generic-btn black-hover-btn text-uppercase w-100 mb-20">View
                                                cart</a>
                                            <a href="checkout.html"
                                                class="generic-btn black-hover-btn text-uppercase w-100 mb-20">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="/assets/Icon4.svg" style="width: 30px; height: 28px; ">
                                </a>
                                <ul class="submenu text-right" style="border-radius: 13px;">
                                    <% if (locals.user) { %>
                                        <li><a href="/profileDetails">My profile</a></li>
                                        <li><a href="checkout.html">My address</a></li>
                                        <li><a href="/loadShop">Orders</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/logout">logout</a></li>
                                    <% } else { %>
                                        <li><a href="/login">My profile</a></li>
                                        <li><a href="checkout.html">My address</a></li>
                                        <li><a href="/loadShop">Orders</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/login">Sign in</a></li>
                                    <% } %>
                                </ul>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu visible-sm">
            <div id="mobile-menu">
                <ul>
                    <li><a class="pl-3" href="javascript:void(0)">Home</a></li>
                    <li><a class="pl-3" href="javascript:void(0)">Shop</a>
                        <ul>
                            <li><a href="#">All Products </a></li>
                            <li><a href="#">Trending</a></li>
                            <li><a href="#">Best Seller</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">Best Deals</a>
                    </li>
                    <li><a href="javascript:void(0)">Gifting</a>
                        <ul>
                            <li><a href="portfolio.html">Gifting</a></li>
                            <li><a href="portfolio2.html">Bundle Hamper</a></li>
                            <li><a href="portfolio3.html">Bulk Orders</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <!-- /. mobile nav -->
    </div>
</header>
<!-- header section end -->
<div class="has-breadcrumb-bg m-0" data-background="img/bg/3.jpg">
    <div class="breadcrumb-content d-flex justify-content-center align-items-center hidden-md p-sm-0" style="flex-direction: column;">
        <h3 class="title">
            <img src="/assets/img/logo/wallet_Icon.png" style="width: 50px; height: 50px; padding-bottom: 6px; padding-right: 6px;">My Wallet
        </h3>
        <nav aria-label="breadcrumb" class="mb-">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wallet</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-xxl flex-grow-1 container-p-y pt-md-">
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3 mb-5 hidden-md">
            <div class="sidebar pl-5 pr-0 sidebar-text">
                <ul class="nav flex-column">
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/profileDetails" onclick="setActive(this)">Personal info</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/ordersManage" onclick="setActive(this)">Orders</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/wallet" onclick="setActive(this)">Wallet</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/addressManage" onclick="setActive(this)">Address</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/wishlist" onclick="setActive(this)">Wishlist</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/coupons" onclick="setActive(this)">Coupons</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link"  href="/logout" onclick="setActive(this)">Log out</a>
                    </li>
                </ul>
            </div>
        </div>

       <!-- Main Content Column -->
<div class="col-md-9 pl-0">
    <h4 class="profile-head p-0">Your Wallet 💳</h4>
    <p class="p-head p-0">Here's your Wallet details.</p>

    <!-- Main Wallet Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
               
                <div class="card shadow-custom" style="border: none; border-radius: 10px;">
                    <div class="card-details">
                        <div class="card-logo"><img class="visa-logo" src="/assets/img/logo/visa_logo.png" alt=""></div>
                        <div class="card-number">4312 5673 3389 4400</div>
                        <div class="card-name"><%= user.firstName %> <%= user.lastName %></div>
                        <div class="card-expiry">07/30</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="balance-card shadow-custom">
                    <div class="balance-header">
                        <h3 class="head-balance">Balance</h3>
                        <div class="icon-button">
                            <button class="add-balance">
                            <lord-icon
                                src="https://cdn.lordicon.com/xoaqvsym.json"
                                trigger="hover"
                                colors="primary:#ffffff"
                                style="width:21px;height:21px;">
                            </lord-icon>Top up</button>
                        </div>
                    </div>
                    <div class="balance">₹  <%= wallet.walletAmount %></div>
                </div>
            </div>            
            <div class="col-md-2 mb-3">
                <div class="add-card shadow-custom">
                    <div class="add-card-text">+ Add Card</div>
                </div>
            </div>
        </div>
        <div class="wallet-history">
            <h2>Wallet history</h2>
            <% if (wallet.transactionHistory.length > 0) { %>
                <% for (let i = 0; i < wallet.transactionHistory.length; i++){ %>
                    <div class="history-item row mb-3 align-items-center">
                        <div class="col-auto">
                            <img src="" alt="">
                        </div>
                        <div class="col">
                            <div class="item-details">
                                <div class="item-name"></div>
                                <div class="item-weight">
                                    <%= new Date(wallet.transactionHistory[i].date).toLocaleDateString('en-US', {
                                        weekday: 'short', month: 'short', day: 'numeric', year: 'numeric'
                                    }) %>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-right">
                            <div class="item-price">₹<%= wallet.transactionHistory[i].amount %></div>
                            <div class="item-qty"><%= wallet.transactionHistory[i].paymentType %></div>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <p>No transactions found in your wallet history.</p>
            <% } %>
        
            <!-- Pagination Links -->
            <div class="pagination">
                <% if (currentPage > 1) { %>
                    <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>">Previous</a>
                <% } %>
        
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <a href="?page=<%= i %>&limit=<%= limit %>" class="<%= currentPage === i ? 'active' : '' %>">
                        <%= i %>
                    </a>
                <% } %>
        
                <% if (currentPage < totalPages) { %>
                    <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
                <% } %>
            </div>
        </div>                
    </div>
    <!-- Main Wallet End -->
</div>

    </div>
</div>
<style>
    .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #e0879f;
    color: white;
}

.pagination a:hover {
    background-color: #ddd;
}

</style>
<script>
    function setActive(link) {
        const links = document.querySelectorAll('.sidebar .nav-link');
        links.forEach(link => link.classList.remove('active'));
        link.classList.add('active');
    }

    // Optional: Set the initial active link based on current URL or other logic
    document.addEventListener('DOMContentLoaded', () => {
        const currentPath = window.location.pathname;
        const links = document.querySelectorAll('.sidebar .nav-link');
        links.forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
            }
        });
    });
</script>

<%- include('../layouts/addBrandsFooter') %>
<%- include('../layouts/homeFooter') %>
